# Daily Map calculation -  2

In [1]:
# S:\ENROLLMENT\ENROLLMENT-PUBLIC\MEDICARE\MAP
# MAP Roster_2021


import pandas as pd
import os

# DualEligibleMembers.xlsx
#pd.read_excel('DualEligibleMembers.xlsx', index_col=0)

url = "S:\ENROLLMENT\ENROLLMENT-PUBLIC\MEDICARE\MAP\MAP Roster_2021.xlsx"

df11=pd.read_excel(
     os.path.join(url),
     engine='openpyxl',
     sheet_name='Enrolled'
)


#print (list(df1.columns))

#df11.head()


# MAPD roaster

url1 = "S:\ENROLLMENT\ENROLLMENT-PUBLIC\MEDICARE\MAPD\MAPD&SNP Roster_2021 - Copy 2.11.2021.xlsx"

#url = "MAPD&SNP Roster_2021.xlsx"

df2=pd.read_excel(
     os.path.join(url1),
     engine='openpyxl',
)

# rename

df2 = df2.rename(columns={'Member ID': 'MID'})

#df2.head()

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (<ipython-input-1-85914660d0d6>, line 11)

In [8]:
# Rename
df1 = df11.rename(columns={'Overall Start Date': 'EnrollDate'})
df1 = df1.rename(columns={'Sales Agent': 'Rep'})
df1 = df1.rename(columns={'Referral/SOA Date': 'SOA'})
df1 = df1.rename(columns={'Application Date': 'AppDate'})
df1 = df1.rename(columns={'Overall Status': 'Status'})
df1 = df1.rename(columns={'Legacy ID': 'ID'})

# select columns
df1 = df1[['ID', 'EnrollDate', 'LOB', 'Status', 'SOA', 'AppDate', 'Rep']]

# Jan Feb enrollment
df1 = df1[(df1['EnrollDate'] == '2021-01-01') | (df1['EnrollDate'] == '2021-02-01')]
#SOA
#df1 = df1[(df1['SOA'] >= '2020-11-01') & (df1['SOA'] <= '2020-12-31')]

# Jan
#df1 = df1[(df1['EnrollDate'] == '2021-01-01')]
# Feb
#df1 = df1[(df1['EnrollDate'] == '2021-02-01')]
# March
#df1 = df1[(df1['EnrollDate'] == '2021-03-01')]



# Whole Team - Enrolled

df1 = df1[(df1['Rep'] == 'Yanery Fernandez') 
          | (df1['Rep'] == 'Ivonne Cedeno Mendoza (BD)')
          | (df1['Rep'] == 'James (Shiou-Hao) Lu')
          | (df1['Rep'] == 'Monalisa Crossway')
          | (df1['Rep'] == 'Laura Lou Seefeldt (BD)')
          | (df1['Rep'] == 'Griselle Leonardo (BD)')
          | (df1['Rep'] == 'Shelly Bobb (BD)')
          | (df1['Rep'] == 'Zhen Zhu')
          | (df1['Rep'] == 'Confessor Concepcion')
          | (df1['Rep'] == 'Keith Douglas')
          | (df1['Rep'] == 'Angela Hernandez')
          | (df1['Rep'] == 'Carolina Zuluaga (BD)') 
          | (df1['Rep'] == 'Katiria Fernandez (BD)')
          | (df1['Rep'] == 'Brad Willinger (BD)')
          | (df1['Rep'] == 'Vincent Lee (BD)')
          | (df1['Rep'] == 'Robert Echevarria ')]


# create a list of our conditions
import numpy as np

conditions = [(df1['Rep'] == 'Yanery Fernandez') 
          | (df1['Rep'] == 'Ivonne Cedeno Mendoza (BD)')
          | (df1['Rep'] == 'James (Shiou-Hao) Lu')
          | (df1['Rep'] == 'Monalisa Crossway')
          | (df1['Rep'] == 'Laura Lou Seefeldt (BD)')
          | (df1['Rep'] == 'Griselle Leonardo (BD)')
          | (df1['Rep'] == 'Shelly Bobb (BD)')
          | (df1['Rep'] == 'Zhen Zhu')
          | (df1['Rep'] == 'Confessor Concepcion')
          | (df1['Rep'] == 'Keith Douglas')
          | (df1['Rep'] == 'Angela Hernandez') ,
            (df1['Rep'] == 'Carolina Zuluaga (BD)') 
          | (df1['Rep'] == 'Katiria Fernandez (BD)')
          | (df1['Rep'] == 'Brad Willinger (BD)')
          | (df1['Rep'] == 'Vincent Lee (BD)')
          | (df1['Rep'] == 'Robert Echevarria ')]

# create a list of the values we want to assign for each condition
values = ['FieldSales', 'TeleSales']

# create a new column and use np.select to assign values to it using our lists as arguments
df1['type'] = np.select(conditions, values)


print (df1.count())

ID            46
EnrollDate    46
LOB           46
Status        46
SOA           42
AppDate       46
Rep           46
type          46
dtype: int64

In [9]:
#df1.head()

In [10]:
# Same ID

same = list(set(df1['ID']).intersection(set(df2['MID'])))
print(same)
#print(len(same))

# Count Same ID

df3 = df1[df1['ID'].isin(same)]

print(df3.count())
#print (df3)

[134401.0, 114181.0, 126471.0, 117128.0, 91911.0, 119562.0, 98827.0, 126346.0, 93711.0, 133395.0, 15013.0, 97445.0, 110119.0, 116273.0, 103614.0, 66110.0, 113855.0, 130115.0, 109254.0, 21451.0, 1232.0, 115411.0, 139735.0, 116441.0, 37468.0, 49246.0, 127208.0, 82153.0, 42476.0, 134126.0, 108527.0, 3705.0, 69372.0]
ID            34
EnrollDate    34
LOB           34
Status        34
SOA           31
AppDate       34
Rep           34
type          34
dtype: int64

In [11]:
df4 = df1[~df1['ID'].isin(same)]

print(df4.count())
print(df4)

ID            12
EnrollDate    12
LOB           12
Status        12
SOA           11
AppDate       12
Rep           12
type          12
dtype: int64
           ID EnrollDate  LOB    Status        SOA    AppDate  \
120  138380.0 2021-01-01  MAP  Enrolled 2020-10-06 2020-12-04
172  127927.0 2021-02-01  MAP  Enrolled 2020-12-22 2021-01-14
175  134937.0 2021-02-01  MAP  Enrolled 2020-11-19 2021-01-05
183   70146.0 2021-02-01  MAP  Enrolled 2020-11-25 2021-01-06
207  116544.0 2021-02-01  MAP  Enrolled 2020-12-06 2021-01-07
209  141260.0 2021-02-01  MAP  Enrolled 2020-11-14 2021-01-05
216   85676.0 2021-02-01  MAP  Enrolled 2020-11-25 2021-01-07
220  137358.0 2021-02-01  MAP  Enrolled 2020-12-12 2020-01-11
223  111357.0 2021-02-01  MAP  Enrolled 2020-11-29 2021-01-07
241  139849.0 2021-02-01  MAP  Enrolled 2020-10-28 2021-01-19
268  128548.0 2021-02-01  MAP  Enrolled        NaT 2021-01-25
276  140574.0 2021-02-01  MAP  Enrolled 2020-11-13 2021-01-28

                         Rep        type
120      Brad Willinger (BD)   TeleSales
172   Katiria Fernandez (BD)   TeleSales
175   Katiria Fernandez (BD)   TeleSales
183    Carolina Zuluaga (BD)   TeleSales
207   Griselle Leonardo (BD)  FieldSales
209    Carolina Zuluaga (BD)   TeleSales
216   Katiria Fernandez (BD)   TeleSales
220   Griselle Leonardo (BD)  FieldSales
223   Katiria Fernandez (BD)   TeleSales
241  Laura Lou Seefeldt (BD)  FieldSales
268   Katiria Fernandez (BD)   TeleSales
276   Katiria Fernandez (BD)   TeleSales

In [12]:
df5 = df4.groupby(["EnrollDate", "LOB", "type", "Rep"])["Rep"].count().reset_index(name="count")
df6 = pd.pivot_table(df5, index=['Rep', 'type'], columns=['LOB'], values=['count'], aggfunc='first')

df6

                                   count
LOB                                  MAP
Rep                     type
Brad Willinger (BD)     TeleSales      1
Carolina Zuluaga (BD)   TeleSales      2
Griselle Leonardo (BD)  FieldSales     2
Katiria Fernandez (BD)  TeleSales      6
Laura Lou Seefeldt (BD) FieldSales     1

In [8]:
df4.to_excel(r'enrolled_AEP_revised.xlsx', index = False)

In [9]:
df5.to_excel(r'enrolled_AEP_revised_Count.xlsx', index = False)