# Disenrollment number

In [4]:
import pandas as pd
import os

# DualEligibleMembers.xlsx
#pd.read_excel('DualEligibleMembers.xlsx', index_col=0)

# MAPD & DSNP

url = "S:\ENROLLMENT\ENROLLMENT-PUBLIC\MEDICARE\MAPD\Copy of MAPD&SNP Roster_2021.xlsx"

#url = "C:\\Users\\tflung\\OneDrive\\Documents\\MAPD&SNP Roster_2021.xlsx"

#url = "MAPD&SNP Roster_2021.xlsx"

df1=pd.read_excel(
     os.path.join(url),
     engine='openpyxl',
)
#df1

# MAP

url1 = "S:\ENROLLMENT\ENROLLMENT-PUBLIC\MEDICARE\MAP\Source\MAP Roster_2021- KAT2.xlsx"
#url1 = "C:\\Users\\tflung\\OneDrive\\Documents\\MAPRoster_2021.xlsx"

df9=pd.read_excel(
     os.path.join(url1),
     engine='openpyxl',
     sheet_name='Disenrolled'
)


#print (list(df9.columns))

# Rename


df10 = df9.rename(columns={'Overall Status': 'Status'})
df10 = df10.rename(columns={'Overall End Date': 'DisenrollDate'})


# select columns

#df3 = df2[['DisenrollDate', 'EnrollDate', 'LOB', 'Status', 'AppDate', 'Rep']]
df11 = df10[['DisenrollDate', 'LOB', 'Status']]


# Rename

df2 = df1.rename(columns={'Enrollment Date': 'EnrollDate'})
df2 = df2.rename(columns={'App Date': 'AppDate'})
df2 = df2.rename(columns={'Marketing Rep': 'Rep'})
df2 = df2.rename(columns={'Disenrollment/End Date': 'DisenrollDate'})


# select columns

#df3 = df2[['DisenrollDate', 'EnrollDate', 'LOB', 'Status', 'AppDate', 'Rep']]
df3 = df2[['DisenrollDate', 'LOB', 'Status']]

df3['DisenrollDate'] = pd.to_datetime(df3['DisenrollDate'], errors = 'coerce')

#df3

from io import BytesIO
from zipfile import ZipFile
import pandas
import requests
import itertools



date = ['2020-12-01', 
        '2020-11-01', 
        '2020-12-01', 
        '2021-01-01',
        '2021-02-28',
        '2021-03-31',
        '2021-04-30',
        '2021-05-31',
        '2021-06-30',
        '2021-07-31',
        '2021-08-31',
        '2021-09-30',
        '2021-10-31',
        '2021-11-30',
        '2021-12-31',
        '2022-01-31',
        '2022-02-28'
       ]

Enddate = ['2020-12-30', 
        '2020-11-30', 
        '2020-12-31', 
        '2021-01-31',
        '2021-02-28',
        '2021-03-31',
        '2021-04-30',
        '2021-05-31',
        '2021-06-30',
        '2021-07-31',
        '2021-08-31',
        '2021-09-30',
        '2021-10-31',
        '2021-11-30',
        '2021-12-31',
        '2022-01-31',
        '2022-02-28'
       ]

df6 = pd.DataFrame(
                {
                "LOB": ['D-SNP', 'I-SNP', 
             'MAPD', 'MAP']
                }
                )

df13 = pd.DataFrame(
                {
                "LOB": ['MAP']
                }
                )

for (a, b) in zip(date, Enddate):
    
    # MAPD & DSNP & ISNP
    df7 = df3[(df3['DisenrollDate'] >= a) & (df3['DisenrollDate'] <= b)]

    # Disenrollment
    
    df7 = df7[(df7['Status'] == 'Disenrolled')]

    df8 = df7.groupby(["LOB"])["LOB"].count().reset_index(name="count")

    

    df8.rename(columns = {
                           'count' : '{}'.format(b),},
                            inplace = True)

    # MAP
    df12 = df11[(df11['DisenrollDate'] == b)]
    df12 = df12[(df12['Status'] == 'Disenrolled')]
    df12 = df12.groupby(["LOB"])["LOB"].count().reset_index(name="count")
    
    df12.rename(columns = {
                           'count' : '{}'.format(b),},
                            inplace = True)

    result = df8.append(df12)
    result = result.reset_index(drop=True)
    #print (result)
    
    df6 = df6.merge(result, how='left', on='LOB')
    
    #df6 = df6.append(df12)
    
    #df8 = pd.concat([df8, df12], ignore_index=True)


#print (df6)

C:\Users\tflung\Anaconda3\lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)
C:\Users\tflung\AppData\Local\Temp/ipykernel_7028/2726700262.py:61: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['DisenrollDate'] = pd.to_datetime(df3['DisenrollDate'], errors = 'coerce')

In [5]:
# remove index

# df.rename(columns=df.iloc[0]).drop(df.index[0])

df26 = df6.T


new_header = df26.iloc[0] #grab the first row for the header
df26 = df26[1:] #take the data less the header row
df26.columns = new_header

df26 = df26.reset_index()

# change columns name
df26 = df26.rename(columns={'index': 'Month'})
df26 = df26.rename(columns={'D-SNP': 'D-SNP_Loss'})
df26 = df26.rename(columns={'MAPD': 'MAPD_Loss'})
df26 = df26.rename(columns={'MAP': 'MAP_Loss'})

# change na to 0
df26 = df26.fillna(0)

# change to int
df26['D-SNP_Loss'] = df26['D-SNP_Loss'].astype(int)
df26['MAPD_Loss'] = df26['MAPD_Loss'].astype(int)
df26['MAP_Loss'] = df26['MAP_Loss'].astype(int)


df26 = df26[['Month', 'D-SNP_Loss', 'MAPD_Loss', 'MAP_Loss']]

df26['Month']= pd.to_datetime(df26['Month'])

df27 = df26

df27

LOB      Month  D-SNP_Loss  MAPD_Loss  MAP_Loss
0   2020-12-30           0          0         0
1   2020-11-30           7          3         1
2   2020-12-31         151         78         0
3   2021-01-31         138         28         6
4   2021-02-28          66         22         6
5   2021-03-31          63         20        13
6   2021-04-30          58         14         5
7   2021-05-31          40         12         6
8   2021-06-30          47          8         5
9   2021-07-31          58         14         5
10  2021-08-31          47         18         9
11  2021-09-30          47         20         1
12  2021-10-31          23         10         2
13  2021-11-30          15          6         1
14  2021-12-31          82         50         0
15  2022-01-31          70         29         5
16  2022-02-28          23          9         2

# https://intellipaat.com/community/30103/pandas-dataframe-total-row

tot_row = pd.DataFrame(df6.sum()).T
tot_row['LOB'] = 'total_Disenroll'
tot_row

# Enrolled in Roaster

In [6]:
# select columns

#df3 = df2[['DisenrollDate', 'EnrollDate', 'LOB', 'Status', 'AppDate', 'Rep']]
df30 = df2[['EnrollDate', 'LOB', 'Status']]

df30['EnrollDate'] = pd.to_datetime(df30['EnrollDate'], errors = 'coerce')




from io import BytesIO
from zipfile import ZipFile
import pandas
import requests
import itertools



date1 = ['2020-10-01', 
        '2020-11-01', 
        '2020-12-01', 
        '2021-01-01',
        '2021-02-01', 
        '2021-03-01', 
        '2021-04-01',
        '2021-05-01',
        '2021-06-01',
        '2021-07-01',
        '2021-08-01',
        '2021-09-01',
        '2021-10-01',
        '2021-11-01',
        '2021-12-01',
        '2022-01-01',
        '2022-02-01',
        '2022-03-01'
       ]

date3 = [
        '2020-12-01', 
        '2021-01-01',
        '2021-02-01', 
        '2021-03-01', 
        '2021-04-01',
        '2021-05-01',
        '2021-06-01',
        '2021-07-01',
        '2021-08-01',
        '2021-09-01',
        '2021-10-01',
        '2021-11-01',
        '2021-12-01',
        '2022-01-01',
        '2022-02-01',
        '2022-03-01'
       ]

df31 = pd.DataFrame(
                {
                "LOB": ['D-SNP', 'I-SNP', 
             'MAPD', 'MAP']
                }
                )


for (a, b) in zip(date3, Enddate):
    
    # MAPD & DSNP & ISNP
    df32 = df30[(df30['EnrollDate'] == a)]

    # Disenrollment
    
    #df7 = df7[(df7['Status'] == 'Enrolled')]

    df32 = df32.groupby(["LOB"])["LOB"].count().reset_index(name="count")


    df32.rename(columns = {
                           'count' : '{}'.format(a),},
                            inplace = True)

    # MAP
    #df12 = df11[(df11['DisenrollDate'] == b)]
    #df12 = df12[(df12['Status'] == 'Disenrolled')]
    #df12 = df12.groupby(["LOB"])["LOB"].count().reset_index(name="count")
    
    #df12.rename(columns = {
                           #'count' : '{}'.format(b),},
                           # inplace = True)

    #result = df8.append(df12)
    #result = result.reset_index(drop=True)
    #print (result)
    
    df31 = df31.merge(df32, how='left', on='LOB')
    
    #df6 = df6.append(df12)
    
    #df8 = pd.concat([df8, df12], ignore_index=True)


#print (df31)

# remove index

# df.rename(columns=df.iloc[0]).drop(df.index[0])

df33 = df31.T


new_header1 = df33.iloc[0] #grab the first row for the header
df33 = df33[1:] #take the data less the header row
df33.columns = new_header1

df33 = df33.reset_index()

# change columns name
df33 = df33.rename(columns={'index': 'Month'})
df33 = df33.rename(columns={'D-SNP': 'D-SNP_teamGain'})
df33 = df33.rename(columns={'MAPD': 'MAPD_teamGain'})
df33 = df33.rename(columns={'MAP': 'MAP_teamGain'})

# change na to 0
df33 = df33.fillna(0)

# change to int
df33['D-SNP_teamGain'] = df33['D-SNP_teamGain'].astype(int)
df33['MAPD_teamGain'] = df33['MAPD_teamGain'].astype(int)
df33['MAP_teamGain'] = df33['MAP_teamGain'].astype(int)


df33 = df33[['Month', 'D-SNP_teamGain', 'MAPD_teamGain', 'MAP_teamGain']]

df33['Month']= pd.to_datetime(df33['Month'])

df34 = df33

df34

C:\Users\tflung\AppData\Local\Temp/ipykernel_7028/1567946281.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df30['EnrollDate'] = pd.to_datetime(df30['EnrollDate'], errors = 'coerce')

LOB      Month  D-SNP_teamGain  MAPD_teamGain  MAP_teamGain
0   2020-12-01               0              0             0
1   2021-01-01             425            172             0
2   2021-02-01             157             18             0
3   2021-03-01             155              7             0
4   2021-04-01             133             15             0
5   2021-05-01             152              9             0
6   2021-06-01             103              5             0
7   2021-07-01              83             14             0
8   2021-08-01              53              8             0
9   2021-09-01              43             12             0
10  2021-10-01              43             10             0
11  2021-11-01               6              7             0
12  2021-12-01               3              1             0
13  2022-01-01             290            181             0
14  2022-02-01              50             15             0
15  2022-03-01              25             11             0

# New Map monthly number

In [8]:
# S:\ENROLLMENT\ENROLLMENT-PUBLIC\MEDICARE\MAP
# MAP Roster_2021


import pandas as pd
import os

# DualEligibleMembers.xlsx
#pd.read_excel('DualEligibleMembers.xlsx', index_col=0)

url3 = "S:\ENROLLMENT\ENROLLMENT-PUBLIC\MEDICARE\MAP\Source\MAP Roster_2021- KAT2.xlsx"
#url3 = "C:\\Users\\tflung\\OneDrive\\Documents\\MAPRoster_2021.xlsx"

df18=pd.read_excel(
     os.path.join(url3),
     engine='openpyxl',
     sheet_name='Enrolled'
)


#print (list(df1.columns))

#df11.head()


# MAPD roaster

url4 = "S:\ENROLLMENT\ENROLLMENT-PUBLIC\MEDICARE\MAPD\Copy of MAPD&SNP Roster_2021.xlsx"
#url4 = "C:\\Users\\tflung\\OneDrive\\Documents\\MAPD&SNP Roster_2021.xlsx"

#url = "MAPD&SNP Roster_2021.xlsx"

df19=pd.read_excel(
     os.path.join(url4),
     engine='openpyxl',
)

# rename

df19 = df19.rename(columns={'Member ID': 'MID'})

#df2.head()

# Rename
df20 = df18.rename(columns={'Medicare Start Date': 'EnrollDate'})
df20 = df20.rename(columns={'Sales Agent': 'Rep'})
df20 = df20.rename(columns={'Referral/SOA Date': 'SOA'})
df20 = df20.rename(columns={'Application Date': 'AppDate'})
df20 = df20.rename(columns={'Medicare Status': 'Status'})
df20 = df20.rename(columns={'Legacy ID': 'ID'})

# select columns
df20 = df20[['ID', 'EnrollDate', 'LOB', 'Status', 'SOA', 'AppDate', 'Rep']]

# Jan Feb enrollment
#df20 = df20[(df20['EnrollDate'] == '2021-01-01') | (df20['EnrollDate'] == '2021-02-01')]
#SOA
#df1 = df1[(df1['SOA'] >= '2020-11-01') & (df1['SOA'] <= '2020-12-31')]

# Jan
#df1 = df1[(df1['EnrollDate'] == '2021-01-01')]
# Feb
#df1 = df1[(df1['EnrollDate'] == '2021-02-01')]
# March
#df1 = df1[(df1['EnrollDate'] == '2021-03-01')]



# Whole Team - Enrolled

#df20 = df20[(df20['Rep'] == 'Yanery Fernandez') 
#          | (df20['Rep'] == 'Ivonne Cedeno Mendoza (BD)')
#           | (df20['Rep'] == 'James (Shiou-Hao) Lu')
#           | (df20['Rep'] == 'Monalisa Crossway')
#           | (df20['Rep'] == 'Laura Lou Seefeldt (BD)')
#           | (df20['Rep'] == 'Griselle Leonardo (BD)')
#           | (df20['Rep'] == 'Shelly Bobb (BD)')
#           | (df20['Rep'] == 'Zhen Zhu')
#           | (df20['Rep'] == 'Confessor Concepcion')
#           | (df20['Rep'] == 'Keith Douglas')
#           | (df20['Rep'] == 'Angela Hernandez')
#           | (df20['Rep'] == 'Carolina Zuluaga (BD)') 
#           | (df20['Rep'] == 'Katiria Fernandez (BD)')
#           | (df20['Rep'] == 'Brad Willinger (BD)')
#           | (df20['Rep'] == 'Vincent Lee (BD)')
#           | (df20['Rep'] == 'Robert Echevarria ')]


# create a list of our conditions
import numpy as np

# conditions = [(df20['Rep'] == 'Yanery Fernandez') 
#           | (df20['Rep'] == 'Ivonne Cedeno Mendoza (BD)')
#           | (df20['Rep'] == 'James (Shiou-Hao) Lu')
#           | (df20['Rep'] == 'Monalisa Crossway')
#           | (df20['Rep'] == 'Laura Lou Seefeldt (BD)')
#           | (df20['Rep'] == 'Griselle Leonardo (BD)')
#           | (df20['Rep'] == 'Shelly Bobb (BD)')
#           | (df20['Rep'] == 'Zhen Zhu')
#           | (df20['Rep'] == 'Confessor Concepcion')
#           | (df20['Rep'] == 'Keith Douglas')
#           | (df20['Rep'] == 'Angela Hernandez') ,
#             (df20['Rep'] == 'Carolina Zuluaga (BD)') 
#           | (df20['Rep'] == 'Katiria Fernandez (BD)')
#           | (df20['Rep'] == 'Brad Willinger (BD)')
#           | (df20['Rep'] == 'Vincent Lee (BD)')
#           | (df20['Rep'] == 'Robert Echevarria ')]

# create a list of the values we want to assign for each condition
# values = ['FieldSales', 'TeleSales']

# create a new column and use np.select to assign values to it using our lists as arguments
# df20['type'] = np.select(conditions, values)

#print (df20.count())

# Same ID

##same = list(set(df20['ID']).intersection(set(df19['MID'])))
#print(same)
#print(len(same))

# Count Same ID

#df21 = df20[df20['ID'].isin(same)]

#print(df21.count())

###df22 = df20[~df20['ID'].isin(same)]

#print(df22.count())

df22 = df20

df22['EnrollDate'] = pd.to_datetime(df22['EnrollDate'], errors = 'coerce')

#SOA
df22 = df22[(df22['EnrollDate'] >= '2020-10-01') & (df22['EnrollDate'] <= '2022-03-01')]

#df22 = df22[(df22['SOA'] != '')]

#print(df22)

df23 = df22.groupby(["EnrollDate"])["EnrollDate"].count().reset_index(name="Map_Gain")
#df23

#df23['EnrollDate'].describe()
df23['EnrollDate']= pd.to_datetime(df23['EnrollDate'])

df23['Month'] = df23['EnrollDate'] - pd.to_timedelta(1, unit='D')

df24 = df23[['Month', 'Map_Gain']]
df24

# Team Gain

        Month  Map_Gain
0  2020-09-30         1
1  2020-11-30         2
2  2020-12-31       140
3  2021-01-31       109
4  2021-02-28       126
5  2021-03-31        55
6  2021-04-30        87
7  2021-05-31        61
8  2021-06-30        78
9  2021-07-31        78
10 2021-08-31        57
11 2021-09-30        73
12 2021-10-31         7
13 2021-11-30         5
14 2021-12-31       301
15 2022-01-31       131
16 2022-02-28        12

# Forcast index AEP 5 % , other 2%

In [9]:
from io import BytesIO
from zipfile import ZipFile
import pandas
import requests
import itertools

#url = 'https://www.cms.gov/files/zip/monthly-enrollment-plan-december-2020.zip'

url = [
       #'https://www.cms.gov/files/zip/monthly-enrollment-plan-october-2020.zip',
       'https://www.cms.gov/files/zip/monthly-enrollment-plan-november-2020.zip',
       'https://www.cms.gov/files/zip/monthly-enrollment-plan-december-2020.zip',
       'https://www.cms.gov/files/zip/monthly-enrollment-plan-january-2021.zip', 
       'https://www.cms.gov/files/zip/monthly-enrollment-plan-february-2021.zip',
       'https://www.cms.gov/files/zip/monthly-enrollment-plan-march-2021.zip',
       'https://www.cms.gov/files/zip/monthly-enrollment-plan-april-2021.zip',
       'https://www.cms.gov/files/zip/monthly-enrollment-plan-may-2021.zip',
       'https://www.cms.gov/files/zip/monthly-enrollment-plan-june-2021.zip',
       'https://www.cms.gov/files/zip/monthly-enrollment-plan-july-2021.zip',
       'https://www.cms.gov/files/zip/monthly-enrollment-plan-august-2021.zip',
       'https://www.cms.gov/files/zip/monthly-enrollment-plan-september-2021.zip',
       'https://www.cms.gov/files/zip/monthly-enrollment-plan-october-2021.zip',
       'https://www.cms.gov/files/zip/monthly-enrollment-plan-november-2021.zip',
       'https://www.cms.gov/files/zip/monthly-enrollment-plan-december-2021.zip',
       'https://www.cms.gov/files/zip/monthly-enrollment-plan-January-2022.zip',
       'https://www.cms.gov/files/zip/monthly-enrollment-plan-february-2022.zip'
      ]




date = [
        #'2020-10-31', 
        '2020-11-30', 
        '2020-12-31', 
        '2021-01-31', 
        '2021-02-28',
        '2021-03-31',
        '2021-04-30',
        '2021-05-31',
        '2021-06-30',
        '2021-07-31',
        '2021-08-31',
        '2021-09-30',
        '2021-10-31',
        '2021-11-30',
        '2021-12-31',
        '2022-01-31',
        '2022-02-28'
       ]

file = [
        #'Monthly_Report_By_Plan_2020_10/Monthly_Report_By_Plan_2020_10.csv', 
        'Monthly_Report_By_Plan_2020_11/Monthly_Report_By_Plan_2020_11.csv', 
        'Monthly_Report_By_Plan_2020_12/Monthly_Report_By_Plan_2020_12.csv', 
        'Monthly_Report_By_Plan_2021_01/Monthly_Report_By_Plan_2021_01.csv', 
        'Monthly_Report_By_Plan_2021_02/Monthly_Report_By_Plan_2021_02.csv',
        'Monthly_Report_By_Plan_2021_03/Monthly_Report_By_Plan_2021_03.csv',
        'Monthly_Report_By_Plan_2021_04/Monthly_Report_By_Plan_2021_04.csv',
        'Monthly_Report_By_Plan_2021_05/Monthly_Report_By_Plan_2021_05.csv',
        'Monthly_Report_By_Plan_2021_06/Monthly_Report_By_Plan_2021_06.csv',
        'Monthly_Report_By_Plan_2021_07/Monthly_Report_By_Plan_2021_07.csv',
        'Monthly_Report_By_Plan_2021_08/Monthly_Report_By_Plan_2021_08.csv',
        'Monthly_Report_By_Plan_2021_09/Monthly_Report_By_Plan_2021_09.csv',
        'Monthly_Report_By_Plan_2021_10/Monthly_Report_By_Plan_2021_10.csv',
        'Monthly_Report_By_Plan_2021_11/Monthly_Report_By_Plan_2021_11.csv',
        'Monthly_Report_By_Plan_2021_12/Monthly_Report_By_Plan_2021_12.csv',
        'Monthly_Report_By_Plan_2022_01/Monthly_Report_By_Plan_2022_01.csv',
        'Monthly_Report_By_Plan_2022_02/Monthly_Report_By_Plan_2022_02.csv'
       ]


new_columns = ['Month', 'Name', 'Enrollment']

df13 = pd.DataFrame(columns=new_columns)

for (a, b, c) in zip(url, date, file):
    
    filename = requests.get(a).content
    zf = ZipFile( BytesIO(filename), 'r' )

    for item in zf.namelist():
        print("File in zip: "+ item)

    match = [s for s in zf.namelist() if c in s][0]
    #df = pandas.read_csv( zf.open(match), encoding='utf-8', error_bad_lines=False)

    df = pd.read_csv(zf.open(match), encoding='latin1')

    #print(df)

    #df.head(5)

    # rename

    df1 = df.rename(columns={'Contract Number': 'Contract'})
    df1 = df1.rename(columns={'Plan Name': 'Name'})
    
    # Contract = H6988
    df2 = df1[(df1["Contract"] == 'H6988')]

    #df2

    # select columns

    df3 = df2[['Name', 'Enrollment']]

    # change data
    df3 = df3.replace(['Centers Plan for Medicare Advantage Care (HMO)'],'MAPD')
    df3 = df3.replace(['Centers Plan for Dual Coverage Care (HMO D-SNP)'],'D-SNP')
    df3 = df3.replace(['Centers Plan for Nursing Home Care (HMO I-SNP)'],'I-SNP')
    df3 = df3.replace(['Centers Plan for Medicaid Advantage Plus (HMO D-SNP)'],'MAP')
    df4 = df3.replace(['Centers Plan for Employer Groups (HMO)'],'Employer')

    #df4

    # drop last row

    df5 = df4[df4.Name != 'Employer']
    df5 = df5[df5.Name != 'Centers Plan for Medicaid Advantage (HMO D-SNP)']

    # add month
    df5['Month'] = b

    # change order
    df5 = df5[['Month', 'Name', 'Enrollment']]
    
    df13 = df13.append(df5, ignore_index=True)

#print (df13)

#df6.to_excel(r'4.xlsx', index = False)

# dataframe to pivot
df14 = pd.pivot_table(df13, index=['Month'], columns=['Name'], values=['Enrollment'], aggfunc='first')

# pivot to dataframe
df15 = pd.DataFrame(df14.to_records())

# Change columns name
df16 = df15.rename(columns={"('Enrollment', 'D-SNP')": "D-SNP", "('Enrollment', 'I-SNP')": "I-SNP", "('Enrollment', 'MAP')": "MAP", "('Enrollment', 'MAPD')": "MAPD"})
df16

File in zip: Monthly_Report_By_Plan_2020_11/
File in zip: Monthly_Report_By_Plan_2020_11/Monthly_Report_By_Plan_2020_11.csv
File in zip: Monthly_Report_By_Plan_2020_11/Monthly_Report_By_Plan_2020_11.xlsx
File in zip: Monthly_Report_By_Plan_2020_11/Read_Me_Monthly_Report_By_Plan_2020.txt
File in zip: Monthly_Report_By_Plan_2020_12/
File in zip: Monthly_Report_By_Plan_2020_12/Monthly_Report_By_Plan_2020_12.csv
File in zip: Monthly_Report_By_Plan_2020_12/Monthly_Report_By_Plan_2020_12.xlsx
File in zip: Monthly_Report_By_Plan_2020_12/Read_Me_Monthly_Report_By_Plan_2020.txt
File in zip: Monthly_Report_By_Plan_2021_01/
File in zip: Monthly_Report_By_Plan_2021_01/Monthly_Report_By_Plan_2021_01.csv
File in zip: Monthly_Report_By_Plan_2021_01/Monthly_Report_By_Plan_2021_01.xlsx
File in zip: Monthly_Report_By_Plan_2021_01/Read_Me_Monthly_Report_By_Plan_2021.txt
File in zip: Monthly_Report_By_Plan_2021_02/
File in zip: Monthly_Report_By_Plan_2021_02/Monthly_Report_By_Plan_2021_02.csv
File in zip: Monthly_Report_By_Plan_2021_02/Monthly_Report_By_Plan_2021_02.xlsx
File in zip: Monthly_Report_By_Plan_2021_02/Read_Me_Monthly_Report_By_Plan_2021.txt
File in zip: Monthly_Report_By_Plan_2021_03/
File in zip: Monthly_Report_By_Plan_2021_03/Monthly_Report_By_Plan_2021_03.csv
File in zip: Monthly_Report_By_Plan_2021_03/Monthly_Report_By_Plan_2021_03.xlsx
File in zip: Monthly_Report_By_Plan_2021_03/Read_Me_Monthly_Report_By_Plan_2021.txt
File in zip: Monthly_Report_By_Plan_2021_04/
File in zip: Monthly_Report_By_Plan_2021_04/Monthly_Report_By_Plan_2021_04.csv
File in zip: Monthly_Report_By_Plan_2021_04/Monthly_Report_By_Plan_2021_04.xlsx
File in zip: Monthly_Report_By_Plan_2021_04/Read_Me_Monthly_Report_By_Plan_2021.txt
File in zip: Monthly_Report_By_Plan_2021_05/
File in zip: Monthly_Report_By_Plan_2021_05/Monthly_Report_By_Plan_2021_05.csv
File in zip: Monthly_Report_By_Plan_2021_05/Monthly_Report_By_Plan_2021_05.xlsx
File in zip: Monthly_Report_By_Plan_2021_05/Read_Me_Monthly_Report_By_Plan_2021.txt
File in zip: Monthly_Report_By_Plan_2021_06/
File in zip: Monthly_Report_By_Plan_2021_06/Monthly_Report_By_Plan_2021_06.csv
File in zip: Monthly_Report_By_Plan_2021_06/Monthly_Report_By_Plan_2021_06.xlsx
File in zip: Monthly_Report_By_Plan_2021_06/Read_Me_Monthly_Report_By_Plan_2021.txt
File in zip: Monthly_Report_By_Plan_2021_07/
File in zip: Monthly_Report_By_Plan_2021_07/Monthly_Report_By_Plan_2021_07.csv
File in zip: Monthly_Report_By_Plan_2021_07/Monthly_Report_By_Plan_2021_07.xlsx
File in zip: Monthly_Report_By_Plan_2021_07/Read_Me_Monthly_Report_By_Plan_2021.txt
File in zip: Monthly_Report_By_Plan_2021_08/
File in zip: Monthly_Report_By_Plan_2021_08/Monthly_Report_By_Plan_2021_08.csv
File in zip: Monthly_Report_By_Plan_2021_08/Monthly_Report_By_Plan_2021_08.xlsx
File in zip: Monthly_Report_By_Plan_2021_08/Read_Me_Monthly_Report_By_Plan_2021.txt
File in zip: Monthly_Report_By_Plan_2021_08/~$Monthly_Report_By_Plan_2021_08.xlsx
File in zip: Monthly_Report_By_Plan_2021_09/
File in zip: Monthly_Report_By_Plan_2021_09/Monthly_Report_By_Plan_2021_09.csv
File in zip: Monthly_Report_By_Plan_2021_09/Monthly_Report_By_Plan_2021_09.xlsx
File in zip: Monthly_Report_By_Plan_2021_09/Read_Me_Monthly_Report_By_Plan_2021.txt
File in zip: Monthly_Report_By_Plan_2021_10/
File in zip: Monthly_Report_By_Plan_2021_10/Monthly_Report_By_Plan_2021_10.csv
File in zip: Monthly_Report_By_Plan_2021_10/Monthly_Report_By_Plan_2021_10.xlsx
File in zip: Monthly_Report_By_Plan_2021_10/Read_Me_Monthly_Report_By_Plan_2021.txt
File in zip: Monthly_Report_By_Plan_2021_11/
File in zip: Monthly_Report_By_Plan_2021_11/Monthly_Report_By_Plan_2021_11.csv
File in zip: Monthly_Report_By_Plan_2021_11/Monthly_Report_By_Plan_2021_11.xlsx
File in zip: Monthly_Report_By_Plan_2021_11/Read_Me_Monthly_Report_By_Plan_2021.txt
File in zip: Monthly_Report_By_Plan_2021_12/
File in zip: Monthly_Report_By_Plan_2021_12/Monthly_Report_By_Plan_2021_12.csv
File in zip: Monthly_Report_By_Plan_2021_12/Monthly_Report_By_Plan_2021_12.xlsx
File in zip: Monthly_Report_By_Plan_2021_12/Read_Me_Monthly_Report_By_Plan_2021.txt
File in zip: Monthly_Report_By_Plan_2022_01/
File in zip: Monthly_Report_By_Plan_2022_01/Monthly_Report_By_Plan_2022_01.csv
File in zip: Monthly_Report_By_Plan_2022_01/Monthly_Report_By_Plan_2022_01.xlsx
File in zip: Monthly_Report_By_Plan_2022_01/Read_Me_Monthly_Report_By_Plan_2022.txt
File in zip: Monthly_Report_By_Plan_2022_01/~$Monthly_Report_By_Plan_2022_01.xlsx
File in zip: Monthly_Report_By_Plan_2022_02/
File in zip: Monthly_Report_By_Plan_2022_02/Monthly_Report_By_Plan_2022_02.csv
File in zip: Monthly_Report_By_Plan_2022_02/Monthly_Report_By_Plan_2022_02.xlsx
File in zip: Monthly_Report_By_Plan_2022_02/Read_Me_Monthly_Report_By_Plan_2022.txt

         Month D-SNP I-SNP  MAP MAPD
0   2020-11-30   500   187   21  496
1   2020-12-31   495   185   19  491
2   2021-01-31   725   183   62  545
3   2021-02-28   655   178  161  530
4   2021-03-31   679   177  282  519
5   2021-04-30   708   181  379  502
6   2021-05-31   795   182  444  494
7   2021-06-30   852   164  497  483
8   2021-07-31   884   167  509  478
9   2021-08-31   917   170  561  482
10  2021-09-30   898   178  606  465
11  2021-10-31   895   178  639  456
12  2021-11-30   871   171  683  445
13  2021-12-31   853   167  680  435
14  2022-01-31   949   165  801  494
15  2022-02-28   961   164  926  500

# Final Combine

In [10]:
# change type of month as date
df16['Month']= pd.to_datetime(df16['Month'])

df25 = df16[['Month', 'D-SNP', 'MAPD', 'MAP']]

# change type of number
df25['D-SNP'] = df25['D-SNP'].astype(str).astype(int)
df25['MAPD'] = df25['MAPD'].astype(str).astype(int)
df25['MAP'] = df25['MAP'].astype(int)

# add conditional value
df25['Total_Gain'] = df25['D-SNP'] + df25['MAPD'] + df25['MAP']

# merge 2 dataframe
df28 = df25.merge(df27, how='left', on='Month')
df28['Actual_loss'] = df28['D-SNP_Loss'] + df28['MAPD_Loss'] + df28['MAP_Loss']

# balance
df28['Cum_Balance'] = df28['Total_Gain'].cumsum().shift() - df28['Actual_loss'].cumsum().shift()
#df28['Balance'] = df28['Total_Gain'].shift() - df28['Actual_loss'].shift()
#df28['Cum_Balance'] = df28['Cum_Balance'].astype(int)
df28['Cum_Balance'] = df28['Cum_Balance'].fillna(0)

# Change data
df28['Month'] = df28['Month'] + pd.to_timedelta(1, unit='d')

df35 = df34[['Month', 'D-SNP_teamGain', 'MAPD_teamGain']]

df28 = df28.merge(df35, how='left', on='Month')

df37 = df24
df37['Month'] = df37['Month'] + pd.to_timedelta(1, unit='d')
df37 = df37.rename(columns={'Map_Gain': 'MAP_teamGain'})


df28 = df28.merge(df37, how='left', on='Month')
df28['TeamGain'] = df28['D-SNP_teamGain'] + df28['MAPD_teamGain'] + df28['MAP_teamGain']

# (Field 8 agents, 3 Telesales, 10 FMO broker, WEB)
df28.loc[df28['Month'] == '2021-01-01', 'EnrollTarget'] = (45*8) + (45*3) + 100 + 75
df28.loc[df28['Month'] != '2021-01-01', 'EnrollTarget'] = 18 + (13*7) + (13*3) + 20 + 25

df28.loc[df28['Month'] == '2021-01-01', 'Target_Disenroll%'] = 0.05
df28.loc[df28['Month'] != '2021-01-01', 'Target_Disenroll%'] = 0.02

df28.loc[df28['Month'] == '2021-01-01', 'DisenrollTarget'] = ((df28['D-SNP'] + df28['MAPD'] + df28['MAP'])*0.05).round(0)
df28.loc[df28['Month'] != '2021-01-01', 'DisenrollTarget'] = ((df28['D-SNP'] + df28['MAPD'] + df28['MAP'])*0.02).round(0)

#df28.fillna(0)



df28.loc[df28['Month'] == '2021-01-01', 'DisenrollTarget'] = df28['Cum_Balance'] * 0.05
df28.loc[df28['Month'] != '2021-01-01', 'DisenrollTarget'] = df28['Cum_Balance'] * 0.02
   
# change float to int
df28['DisenrollTarget'] = df28['DisenrollTarget'].astype(int)

df28

C:\Users\tflung\AppData\Local\Temp/ipykernel_7028/4160717223.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df25['D-SNP'] = df25['D-SNP'].astype(str).astype(int)
C:\Users\tflung\AppData\Local\Temp/ipykernel_7028/4160717223.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df25['MAPD'] = df25['MAPD'].astype(str).astype(int)
C:\Users\tflung\AppData\Local\Temp/ipykernel_7028/4160717223.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df25['MAP'] = df25['MAP'].astype(int)
C:\Users\tflung\AppData\Local\Temp/ipykernel_7028/4160717223.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df37['Month'] = df37['Month'] + pd.to_timedelta(1, unit='d')

,Month,D-SNP,MAPD,MAP,Total_Gain,D-SNP_Loss,MAPD_Loss,MAP_Loss,Actual_loss,Cum_Balance,D-SNP_teamGain,MAPD_teamGain,MAP_teamGain,TeamGain,EnrollTarget,Target_Disenroll%,DisenrollTarget
0,2020-12-01,500,496,21,1017,7,3,1,11,0.0,0,0,2,2,193.0,0.02,0
1,2021-01-01,495,491,19,1005,151,78,0,229,1006.0,425,172,140,737,670.0,0.05,50
2,2021-02-01,725,545,62,1332,138,28,6,172,1782.0,157,18,109,284,193.0,0.02,35
3,2021-03-01,655,530,161,1346,66,22,6,94,2942.0,155,7,126,288,193.0,0.02,58
4,2021-04-01,679,519,282,1480,63,20,13,96,4194.0,133,15,55,203,193.0,0.02,83
5,2021-05-01,708,502,379,1589,58,14,5,77,5578.0,152,9,87,248,193.0,0.02,111
6,2021-06-01,795,494,444,1733,40,12,6,58,7090.0,103,5,61,169,193.0,0.02,141
7,2021-07-01,852,483,497,1832,47,8,5,60,8765.0,83,14,78,175,193.0,0.02,175
8,2021-08-01,884,478,509,1871,58,14,5,77,10537.0,53,8,78,139,193.0,0.02,210
9,2021-09-01,917,482,561,1960,47,18,9,74,12331.0,43,12,57,112,193.0,0.02,246
10,2021-10-01,898,465,606,1969,47,20,1,68,14217.0,43,10,73,126,193.0,0.02,284
11,2021-11-01,895,456,639,1990,23,10,2,35,16118.0,6,7,7,20,193.0,0.02,322
12,2021-12-01,871,445,683,1999,15,6,1,22,18073.0,3,1,5,9,193.0,0.02,361
13,2022-01-01,853,435,680,1968,82,50,0,132,20050.0,290,181,301,772,193.0,0.02,401
14,2022-02-01,949,494,801,2244,70,29,5,104,21886.0,50,15,131,196,193.0,0.02,437
15,2022-03-01,961,500,926,2387,23,9,2,34,24026.0,25,11,12,48,193.0,0.02,480

In [11]:
df28.to_csv(r'disenroll_number.csv', index = False)
#df28.to_excel(r'disenroll_number.xlsx', index = False)

# change type of month as date
df16['Month']= pd.to_datetime(df16['Month'])


# merge 2 dataframe
df25 = df16.merge(df24, how='left', on='Month')

df25 = df25[['Month', 'D-SNP', 'MAPD', 'Map_Gain']]

df25 = df25.fillna(0)

# change type of number
df25['D-SNP'] = df25['D-SNP'].astype(str).astype(int)
df25['Map_Gain'] = df25['Map_Gain'].astype(int)
df25['MAPD'] = df25['MAPD'].astype(str).astype(int)

# add conditional value
df25['Total_Gain'] = df25['D-SNP'] + df25['MAPD'] + df25['Map_Gain']


#df25

# merge 2 dataframe
df28 = df25.merge(df27, how='left', on='Month')
df28['Actual_loss'] = df28['D-SNP_Loss'] + df28['MAPD_Loss'] + df28['MAP_Loss']

# balance
df28['Cum_Balance'] = df28['Total_Gain'].cumsum().shift() - df28['Actual_loss'].cumsum().shift()
#df28['Balance'] = df28['Total_Gain'].shift() - df28['Actual_loss'].shift()
#df28['Cum_Balance'] = df28['Cum_Balance'].astype(int)
df28['Cum_Balance'] = df28['Cum_Balance'].fillna(0)

# add conditional value

# (Field 8 agents, 3 Telesales, 10 FMO broker, WEB)
df28.loc[df28['Month'] == '2020-12-31', 'EnrollTarget'] = (45*8) + (45*3) + 100 + 75
df28.loc[df28['Month'] != '2020-12-31', 'EnrollTarget'] = 18 + (13*7) + (13*3) + 20 + 25

df28.loc[df28['Month'] == '2020-12-31', 'Target_Disenroll%'] = 0.05
df28.loc[df28['Month'] != '2020-12-31', 'Target_Disenroll%'] = 0.02

df28.loc[df28['Month'] == '2020-12-31', 'DisenrollTarget'] = ((df28['D-SNP'] + df28['MAPD'] + df28['Map_Gain'])*0.05).round(0)
df28.loc[df28['Month'] != '2020-12-31', 'DisenrollTarget'] = ((df28['D-SNP'] + df28['MAPD'] + df28['Map_Gain'])*0.02).round(0)

#df28.fillna(0)



df28.loc[df28['Month'] == '2020-12-31', 'DisenrollTarget'] = df28['Cum_Balance'] * 0.05
df28.loc[df28['Month'] != '2020-12-31', 'DisenrollTarget'] = df28['Cum_Balance'] * 0.02
   
# change float to int
df28['DisenrollTarget'] = df28['DisenrollTarget'].astype(int)

# change columns name
df28 = df28.rename(columns={'D-SNP': 'D-SNP_Gain'})
df28 = df28.rename(columns={'MAPD': 'MAPD_Gain'})

df34['D-SNP_teamGain'] = df34['D-SNP_teamGain'].astype(str).astype(int)
df34['MAPD_teamGain'] = df34['MAPD_teamGain'].astype(int)
df34['MAP_teamGain'] = df34['MAP_teamGain'].astype(str).astype(int)

# Change data
df28['Month'] = df28['Month'] + pd.to_timedelta(1, unit='d')



df28 = df28.merge(df34, how='left', on='Month')


df28