# Disenrollment Reason

In [3]:
import pandas as pd
import numpy as np
import os

# DualEligibleMembers.xlsx
#pd.read_excel('DualEligibleMembers.xlsx', index_col=0)

url = "S:\ENROLLMENT\ENROLLMENT-PUBLIC\MEDICARE\MAPD\MAPD&SNP Roster_2021.xlsx"

#url = "C:\\Users\\tflung\\OneDrive\\Documents\\MAPD&SNP Roster_2021.xlsx"

#url = "MAPD&SNP Roster_2021.xlsx"

df1=pd.read_excel(
     os.path.join(url),
     engine='openpyxl',
)
#df1

# Rename

df2 = df1.rename(columns={'Enrollment Date': 'EnrollDate'})
df2 = df2.rename(columns={'App Date': 'AppDate'})
df2 = df2.rename(columns={'Marketing Rep': 'Rep'})
df2 = df2.rename(columns={'Member ID': 'MBID'})
df2 = df2.rename(columns={'Disenrollment/End Date': 'EndDate'})
df2 = df2.rename(columns={'Member Last Name': 'Last'})
df2 = df2.rename(columns={'Member First Name': 'First'})
df2 = df2.rename(columns={'Service Area': 'Area'})
df2 = df2.rename(columns={'CT ID': 'CTID'})
df2 = df2.rename(columns={'App Received Date': 'AppReceivedDate'})
df2 = df2.rename(columns={'Date Submitted to CMS': 'DateSubmittedtoCMS'})
df2 = df2.rename(columns={'Processed Days': 'ProcessedDas'})
df2 = df2.rename(columns={'Comments/Notes': 'Comments'})
df2 = df2.rename(columns={'Date of RFI Letter (ENR)': 'DateRFI'})
df2 = df2.rename(columns={'Reason for Additional Information (ENR)': 'ReasonENR'})
df2 = df2.rename(columns={'Information Due Date (ENR)': 'DueDateENR'})
df2 = df2.rename(columns={'Date Information Received (ENR)': 'DateReceivedENR'})
df2 = df2.rename(columns={'Election Period': 'ElectionPeriod'})
df2 = df2.rename(columns={'SEP Reason': 'SEPReason'})
df2 = df2.rename(columns={'Referral Source': 'ReferralSource'})
df2 = df2.rename(columns={'Denial/Rejected Reason': 'DenialRejectedReason'})
df2 = df2.rename(columns={'Disenrollment/Cancellation Reason': 'DisenrollmentCancellationReason'})
df2 = df2.rename(columns={'Voluntary/Involuntary Disenrollment': 'VoluntaryInvoluntaryDisenrollment'})
df2 = df2.rename(columns={'Signed Letter': 'SignedLetter'})
df2 = df2.rename(columns={'Date of Signed Letter': 'DateofSignedLetter'})
df2 = df2.rename(columns={'Date of Signed Letter Received': 'DateofSignedLetterReceived'})
df2 = df2.rename(columns={'Disenrollment Request Status': 'DisenrollmentRequestStatus'})



df2 = df2.rename(columns={'Date of RFI Letter (DISENR)': 'DateDISENR'})
df2 = df2.rename(columns={'Reason for Additional Information (DISENR)': 'ReasonDISENR'})
df2 = df2.rename(columns={'Information Due Date (DISENR)': 'DueDateDISENR'})
df2 = df2.rename(columns={'Date Information Received (DISENR)': 'DateReceivedDISENR'})
df2 = df2.rename(columns={'New Contract Number': 'ContractNumber'})
df2 = df2.rename(columns={'PCP Auto-Assigned (Y/N)': 'PCPAssigned'})
df2 = df2.rename(columns={'Number of Months Enrolled': 'MonthsEnrolled'})
df2 = df2.rename(columns={'Name of Facility': 'Facility'})
df2 = df2.rename(columns={'Enrollment Mechanism': 'EnrollmentMechanism'})
df2 = df2.rename(columns={'Original Plan': 'OriginalPlan'})
df2 = df2.rename(columns={'Drug Plan': 'DrugPlan'})
df2 = df2.rename(columns={'Command Id Card Proof Received': 'IdCardReceived'})
df2 = df2.rename(columns={'Date Enrolled on DTRR': 'DateEnrolledDTRR'})
df2 = df2.rename(columns={'Date of Enrollment/Cancellation/Rejection or Denial Letter Sent': 'DateLetterSent'})
df2 = df2.rename(columns={'Previous Medicare Plan': 'PreviousPlan'})

# replace NAN

df2 = df2.replace(np.nan, '', regex=True)
df2['Status'] = df2['Status'].replace('disenrolled', 'Disenrolled', regex=True)

df2['EndDate'] = pd.to_datetime(df2['EndDate'], errors = 'coerce')

#df2['EndDate'] = df2['EndDate'].replace('3/1/2021', '3/31/2021', regex=True)

df2['EndDate'] = df2['EndDate'].replace('3/1/2021', '3/31/2021', regex=True)

df2['EndDate'] = df2['EndDate'].replace('8/21/2021', '8/31/2021', regex=True)

df2['DisenrollmentCancellationReason'] = df2['DisenrollmentCancellationReason'].replace('Enrolled in a new plan', 'Enrolled in a New Plan', regex=True)

df2['DisenrollmentCancellationReason'] = df2['DisenrollmentCancellationReason'].replace('Enrolled in a new Plan', 'Enrolled in a New Plan', regex=True)

df2['VoluntaryInvoluntaryDisenrollment'] = df2['VoluntaryInvoluntaryDisenrollment'].replace('', 'Involuntary', regex=True)

# Type

import numpy as np

conditions4 = [
            (df2['Rep'] == 'Yanery Fernandez') & (df2['EnrollDate'] >= '2021-10-01')
          | (df2['Rep'] == 'Ivonne Cedeno') & (df2['EnrollDate'] >= '2021-10-01')
          | (df2['Rep'] == 'Laura Lou Seefeldt') & (df2['EnrollDate'] >= '2021-10-01')
          | (df2['Rep'] == 'Jacqueline Garcia') & (df2['EnrollDate'] >= '2021-10-01')
          | (df2['Rep'] == 'Paula Andrea Luna Lopera') & (df2['EnrollDate'] >= '2021-10-01')
          | (df2['Rep'] == 'Kuo Chun Chen') & (df2['EnrollDate'] >= '2021-10-01')
          | (df2['Rep'] == 'Charlie Taveras') & (df2['EnrollDate'] >= '2021-10-01')
          | (df2['Rep'] == 'Carolina Zuluaga ') & (df2['EnrollDate'] >= '2021-10-01')
          | (df2['Rep'] == 'Kenny Jolly') & (df2['EnrollDate'] >= '2021-10-01')
          | (df2['Rep'] == 'Donald Herline ') & (df2['EnrollDate'] >= '2021-10-01')
          | (df2['Rep'] == 'Jose Ortiz') & (df2['EnrollDate'] >= '2021-10-01')
          | (df2['Rep'] == 'Yeuneniy Sneremeta') & (df2['EnrollDate'] >= '2021-10-01')
          | (df2['Rep'] == 'Yeuneniy Sneremeta') & (df2['EnrollDate'] >= '2021-10-01')
          | (df2['Rep'] == 'Yeuneniy Sneremeta') & (df2['EnrollDate'] >= '2021-10-01')
          | (df2['Rep'] == 'Yeuneniy Sneremeta') & (df2['EnrollDate'] >= '2021-10-01')
          | (df2['Rep'] == 'Yeuneniy Sneremeta') & (df2['EnrollDate'] >= '2021-10-01')
    
    # Alfredo Colon, Katiria Michel, Chouaib Coulibaly, Natalie Distefano
              
          | (df2['Rep'] == 'Yanery Fernandez') & (df2['EnrollDate'] >= '2021-09-01') & (df2['EnrollDate'] <= '2021-09-30')
          | (df2['Rep'] == 'Ivonne Cedeno') & (df2['EnrollDate'] >= '2021-09-01') & (df2['EnrollDate'] <= '2021-09-30')
          | (df2['Rep'] == 'Laura Lou Seefeldt') & (df2['EnrollDate'] >= '2021-09-01') & (df2['EnrollDate'] <= '2021-09-30')
          | (df2['Rep'] == 'Jacqueline Garcia') & (df2['EnrollDate'] >= '2021-09-01') & (df2['EnrollDate'] <= '2021-09-30')
          | (df2['Rep'] == 'Paula Andrea Luna Lopera') & (df2['EnrollDate'] >= '2021-09-01') & (df2['EnrollDate'] <= '2021-09-30')
          | (df2['Rep'] == 'Kuo Chun Chen') & (df2['EnrollDate'] >= '2021-09-01') & (df2['EnrollDate'] <= '2021-09-30')
          | (df2['Rep'] == 'Charlie Taveras') & (df2['EnrollDate'] >= '2021-09-01') & (df2['EnrollDate'] <= '2021-09-30')
          | (df2['Rep'] == 'Carolina Zuluaga ') & (df2['EnrollDate'] >= '2021-09-01') & (df2['EnrollDate'] <= '2021-09-30')
          | (df2['Rep'] == 'Kenny Jolly') & (df2['EnrollDate'] >= '2021-09-01') & (df2['EnrollDate'] <= '2021-09-30')
          | (df2['Rep'] == 'Donald Herline ') & (df2['EnrollDate'] >= '2021-09-01') & (df2['EnrollDate'] <= '2021-09-30')
          | (df2['Rep'] == 'Jose Ortiz') & (df2['EnrollDate'] >= '2021-09-01') & (df2['EnrollDate'] <= '2021-09-30')
          | (df2['Rep'] == 'Yeuneniy Sneremeta') & (df2['EnrollDate'] >= '2021-09-01') & (df2['EnrollDate'] <= '2021-09-30')
    
          | (df2['Rep'] == 'Yanery Fernandez') & (df2['EnrollDate'] >= '2021-08-01') & (df2['EnrollDate'] <= '2021-08-31')
          | (df2['Rep'] == 'Ivonne Cedeno') & (df2['EnrollDate'] >= '2021-08-01') & (df2['EnrollDate'] <= '2021-08-31')
          | (df2['Rep'] == 'Laura Lou Seefeldt') & (df2['EnrollDate'] >= '2021-08-01') & (df2['EnrollDate'] <= '2021-08-31')
          | (df2['Rep'] == 'Jacqueline Garcia') & (df2['EnrollDate'] >= '2021-08-01') & (df2['EnrollDate'] <= '2021-08-31')
          | (df2['Rep'] == 'Paula Andrea Luna Lopera') & (df2['EnrollDate'] >= '2021-08-01') & (df2['EnrollDate'] <= '2021-08-31')
          | (df2['Rep'] == 'Kuo Chun Chen') & (df2['EnrollDate'] >= '2021-08-01') & (df2['EnrollDate'] <= '2021-08-31')
          | (df2['Rep'] == 'Charlie Taveras') & (df2['EnrollDate'] >= '2021-08-01') & (df2['EnrollDate'] <= '2021-08-31')
          | (df2['Rep'] == 'Carolina Zuluaga ') & (df2['EnrollDate'] >= '2021-08-01') & (df2['EnrollDate'] <= '2021-08-31')
          | (df2['Rep'] == 'Yanery Fernandez') & (df2['EnrollDate'] >= '2021-07-01') & (df2['EnrollDate'] <= '2021-07-31')
          | (df2['Rep'] == 'Ivonne Cedeno') & (df2['EnrollDate'] >= '2021-07-01') & (df2['EnrollDate'] <= '2021-07-31')
          | (df2['Rep'] == 'Laura Lou Seefeldt') & (df2['EnrollDate'] >= '2021-07-01') & (df2['EnrollDate'] <= '2021-07-31')
          | (df2['Rep'] == 'Jacqueline Garcia') & (df2['EnrollDate'] >= '2021-07-01') & (df2['EnrollDate'] <= '2021-07-31')
          | (df2['Rep'] == 'Shelly Bobb') & (df2['EnrollDate'] >= '2021-07-01') & (df2['EnrollDate'] <= '2021-07-31')
          | (df2['Rep'] == 'Carolina Zuluaga ') & (df2['EnrollDate'] >= '2021-07-01') & (df2['EnrollDate'] <= '2021-07-31')
          | (df2['Rep'] == 'Yanery Fernandez') & (df2['EnrollDate'] >= '2021-06-01') & (df2['EnrollDate'] <= '2021-06-30')
          | (df2['Rep'] == 'Ivonne Cedeno') & (df2['EnrollDate'] >= '2021-06-01') & (df2['EnrollDate'] <= '2021-06-30')
          | (df2['Rep'] == 'Laura Lou Seefeldt') & (df2['EnrollDate'] >= '2021-06-01') & (df2['EnrollDate'] <= '2021-06-30')
          | (df2['Rep'] == 'Jacqueline Garcia') & (df2['EnrollDate'] >= '2021-06-01') & (df2['EnrollDate'] <= '2021-06-30')
          | (df2['Rep'] == 'Shelly Bobb') & (df2['EnrollDate'] >= '2021-06-01') & (df2['EnrollDate'] <= '2021-06-30')
          | (df2['Rep'] == 'Angela Lozano') & (df2['EnrollDate'] >= '2021-06-01') & (df2['EnrollDate'] <= '2021-06-30')
          | (df2['Rep'] == 'Yanery Fernandez') & (df2['EnrollDate'] >= '2021-05-01') & (df2['EnrollDate'] <= '2021-05-31')
          | (df2['Rep'] == 'Ivonne Cedeno') & (df2['EnrollDate'] >= '2021-05-01') & (df2['EnrollDate'] <= '2021-05-31')
          | (df2['Rep'] == 'Monalisa Crossway') & (df2['EnrollDate'] >= '2021-05-01') & (df2['EnrollDate'] <= '2021-05-31')
          | (df2['Rep'] == 'Laura Lou Seefeldt') & (df2['EnrollDate'] >= '2021-05-01') & (df2['EnrollDate'] <= '2021-05-31')
          | (df2['Rep'] == 'Griselle Leonardo') & (df2['EnrollDate'] >= '2021-05-01') & (df2['EnrollDate'] <= '2021-05-31')
          | (df2['Rep'] == 'Shelly Bobb') & (df2['EnrollDate'] >= '2021-05-01') & (df2['EnrollDate'] <= '2021-05-31')
          | (df2['Rep'] == 'Angela Lozano') & (df2['EnrollDate'] >= '2021-05-01') & (df2['EnrollDate'] <= '2021-05-31')
          | (df2['Rep'] == 'Yanery Fernandez') & (df2['EnrollDate'] >= '2021-04-01') & (df2['EnrollDate'] <= '2021-04-30')
          | (df2['Rep'] == 'Ivonne Cedeno') & (df2['EnrollDate'] >= '2021-04-01') & (df2['EnrollDate'] <= '2021-04-30')
          | (df2['Rep'] == 'James (Shiou-Hao) Lu') & (df2['EnrollDate'] >= '2021-04-01') & (df2['EnrollDate'] <= '2021-04-30')
          | (df2['Rep'] == 'Monalisa Crossway') & (df2['EnrollDate'] >= '2021-04-01') & (df2['EnrollDate'] <= '2021-04-30')
          | (df2['Rep'] == 'Laura Lou Seefeldt') & (df2['EnrollDate'] >= '2021-04-01') & (df2['EnrollDate'] <= '2021-04-30')
          | (df2['Rep'] == 'Griselle Leonardo') & (df2['EnrollDate'] >= '2021-04-01') & (df2['EnrollDate'] <= '2021-04-30')
          | (df2['Rep'] == 'Shelly Bobb') & (df2['EnrollDate'] >= '2021-04-01') & (df2['EnrollDate'] <= '2021-04-30')
          | (df2['Rep'] == 'Confessor Concepcion') & (df2['EnrollDate'] >= '2021-04-01') & (df2['EnrollDate'] <= '2021-04-30')
          | (df2['Rep'] == 'Angela Lozano') & (df2['EnrollDate'] >= '2021-04-01') & (df2['EnrollDate'] <= '2021-04-30')
          | (df2['Rep'] == 'Yanery Fernandez') & (df2['EnrollDate'] >= '2021-03-01') & (df2['EnrollDate'] <= '2021-03-31')
          | (df2['Rep'] == 'Ivonne Cedeno') & (df2['EnrollDate'] >= '2021-03-01') & (df2['EnrollDate'] <= '2021-03-31')
          | (df2['Rep'] == 'James (Shiou-Hao) Lu') & (df2['EnrollDate'] >= '2021-03-01') & (df2['EnrollDate'] <= '2021-03-31')
          | (df2['Rep'] == 'Monalisa Crossway') & (df2['EnrollDate'] >= '2021-03-01') & (df2['EnrollDate'] <= '2021-03-31')
          | (df2['Rep'] == 'Laura Lou Seefeldt') & (df2['EnrollDate'] >= '2021-03-01') & (df2['EnrollDate'] <= '2021-03-31')
          | (df2['Rep'] == 'Griselle Leonardo') & (df2['EnrollDate'] >= '2021-03-01') & (df2['EnrollDate'] <= '2021-03-31')
          | (df2['Rep'] == 'Shelly Bobb') & (df2['EnrollDate'] >= '2021-03-01') & (df2['EnrollDate'] <= '2021-03-31')
          | (df2['Rep'] == 'Zhen Zhu') & (df2['EnrollDate'] >= '2021-03-01') & (df2['EnrollDate'] <= '2021-03-31')
          | (df2['Rep'] == 'Confessor Concepcion') & (df2['EnrollDate'] >= '2021-03-01') & (df2['EnrollDate'] <= '2021-03-31')
          | (df2['Rep'] == 'Yanery Fernandez') & (df2['EnrollDate'] >= '2021-02-01') & (df2['EnrollDate'] <= '2021-02-28')
          | (df2['Rep'] == 'Ivonne Cedeno') & (df2['EnrollDate'] >= '2021-02-01') & (df2['EnrollDate'] <= '2021-02-28')
          | (df2['Rep'] == 'James (Shiou-Hao) Lu') & (df2['EnrollDate'] >= '2021-02-01') & (df2['EnrollDate'] <= '2021-02-28')
          | (df2['Rep'] == 'Monalisa Crossway') & (df2['EnrollDate'] >= '2021-02-01') & (df2['EnrollDate'] <= '2021-02-28')
          | (df2['Rep'] == 'Laura Lou Seefeldt') & (df2['EnrollDate'] >= '2021-02-01') & (df2['EnrollDate'] <= '2021-02-28')
          | (df2['Rep'] == 'Griselle Leonardo') & (df2['EnrollDate'] >= '2021-02-01') & (df2['EnrollDate'] <= '2021-02-28')
          | (df2['Rep'] == 'Shelly Bobb') & (df2['EnrollDate'] >= '2021-02-01') & (df2['EnrollDate'] <= '2021-02-28')
          | (df2['Rep'] == 'Zhen Zhu') & (df2['EnrollDate'] >= '2021-02-01') & (df2['EnrollDate'] <= '2021-02-28')
          | (df2['Rep'] == 'Confessor Concepcion') & (df2['EnrollDate'] >= '2021-02-01') & (df2['EnrollDate'] <= '2021-02-28')
          | (df2['Rep'] == 'Yanery Fernandez') & (df2['EnrollDate'] >= '2021-01-01') & (df2['EnrollDate'] <= '2021-01-31')
          | (df2['Rep'] == 'Ivonne Cedeno') & (df2['EnrollDate'] >= '2021-01-01') & (df2['EnrollDate'] <= '2021-01-31')
          | (df2['Rep'] == 'James (Shiou-Hao) Lu') & (df2['EnrollDate'] >= '2021-01-01') & (df2['EnrollDate'] <= '2021-01-31')
          | (df2['Rep'] == 'Monalisa Crossway') & (df2['EnrollDate'] >= '2021-01-01') & (df2['EnrollDate'] <= '2021-01-31')
          | (df2['Rep'] == 'Laura Lou Seefeldt') & (df2['EnrollDate'] >= '2021-01-01') & (df2['EnrollDate'] <= '2021-01-31')
          | (df2['Rep'] == 'Griselle Leonardo') & (df2['EnrollDate'] >= '2021-01-01') & (df2['EnrollDate'] <= '2021-01-31')
          | (df2['Rep'] == 'Shelly Bobb') & (df2['EnrollDate'] >= '2021-01-01') & (df2['EnrollDate'] <= '2021-01-31')
          | (df2['Rep'] == 'Keith Douglas') & (df2['EnrollDate'] >= '2021-01-01') & (df2['EnrollDate'] <= '2021-01-31')
          | (df2['Rep'] == 'Angela Hernandez') & (df2['EnrollDate'] >= '2021-01-01') & (df2['EnrollDate'] <= '2021-01-31')
          | (df2['Rep'] == 'Zhen Zhu') & (df2['EnrollDate'] >= '2021-01-01') & (df2['EnrollDate'] <= '2021-01-31')
          | (df2['Rep'] == 'Yanery Fernandez') & (df2['EnrollDate'] <= '2020-12-31')
          | (df2['Rep'] == 'Ivonne Cedeno') & (df2['EnrollDate'] <= '2020-12-31')
          | (df2['Rep'] == 'James (Shiou-Hao) Lu') & (df2['EnrollDate'] <= '2020-12-31')
          | (df2['Rep'] == 'Monalisa Crossway') & (df2['EnrollDate'] <= '2020-12-31')
          | (df2['Rep'] == 'Laura Lou Seefeldt') & (df2['EnrollDate'] <= '2020-12-31')
          | (df2['Rep'] == 'Griselle Leonardo') & (df2['EnrollDate'] <= '2020-12-31')
          | (df2['Rep'] == 'Shelly Bobb') & (df2['EnrollDate'] <= '2020-12-31')
          | (df2['Rep'] == 'Keith Douglas') & (df2['EnrollDate'] <= '2020-12-31')
          | (df2['Rep'] == 'Angela Hernandez') & (df2['EnrollDate'] <= '2020-12-31')
          | (df2['Rep'] == 'Zhen Zhu') & (df2['EnrollDate'] <= '2020-12-31')
          , 
            (df2['Rep'] == 'Katiria Fernandez ') & (df2['EnrollDate'] >= '2021-10-01')
          | (df2['Rep'] == 'Brad Willinger') & (df2['EnrollDate'] >= '2021-10-01')
    
          | (df2['Rep'] == 'Katiria Fernandez ') & (df2['EnrollDate'] >= '2021-09-01') & (df2['EnrollDate'] <= '2021-09-30')
          | (df2['Rep'] == 'Brad Willinger') & (df2['EnrollDate'] >= '2021-09-01') & (df2['EnrollDate'] <= '2021-09-30')
          | (df2['Rep'] == 'Katiria Fernandez ') & (df2['EnrollDate'] >= '2021-08-01') & (df2['EnrollDate'] <= '2021-08-31')
          | (df2['Rep'] == 'Brad Willinger') & (df2['EnrollDate'] >= '2021-08-01') & (df2['EnrollDate'] <= '2021-08-31')
          | (df2['Rep'] == 'Katiria Fernandez ') & (df2['EnrollDate'] >= '2021-07-01') & (df2['EnrollDate'] <= '2021-07-31')
          | (df2['Rep'] == 'Brad Willinger') & (df2['EnrollDate'] >= '2021-07-01') & (df2['EnrollDate'] <= '2021-07-31')
          | (df2['Rep'] == 'Carolina Zuluaga ') & (df2['EnrollDate'] >= '2021-06-01') & (df2['EnrollDate'] <= '2021-06-30')  
          | (df2['Rep'] == 'Katiria Fernandez ') & (df2['EnrollDate'] >= '2021-06-01') & (df2['EnrollDate'] <= '2021-06-30') 
          | (df2['Rep'] == 'Brad Willinger') & (df2['EnrollDate'] >= '2021-06-01') & (df2['EnrollDate'] <= '2021-06-30') 
          | (df2['Rep'] == 'Carolina Zuluaga ') & (df2['EnrollDate'] >= '2021-05-01') & (df2['EnrollDate'] <= '2021-05-31') 
          | (df2['Rep'] == 'Katiria Fernandez ') & (df2['EnrollDate'] >= '2021-05-01') & (df2['EnrollDate'] <= '2021-05-31')
          | (df2['Rep'] == 'Brad Willinger') & (df2['EnrollDate'] >= '2021-05-01') & (df2['EnrollDate'] <= '2021-05-31')
          | (df2['Rep'] == 'Jacqueline Garcia') & (df2['EnrollDate'] >= '2021-05-01') & (df2['EnrollDate'] <= '2021-05-31')
          | (df2['Rep'] == 'Carolina Zuluaga ') & (df2['EnrollDate'] >= '2021-04-01') & (df2['EnrollDate'] <= '2021-04-30')
          | (df2['Rep'] == 'Katiria Fernandez ') & (df2['EnrollDate'] >= '2021-04-01') & (df2['EnrollDate'] <= '2021-04-30')
          | (df2['Rep'] == 'Brad Willinger') & (df2['EnrollDate'] >= '2021-04-01') & (df2['EnrollDate'] <= '2021-04-30')
          | (df2['Rep'] == 'Jacqueline Garcia') & (df2['EnrollDate'] >= '2021-04-01') & (df2['EnrollDate'] <= '2021-04-30')
          | (df2['Rep'] == 'Carolina Zuluaga ') & (df2['EnrollDate'] >= '2021-03-01') & (df2['EnrollDate'] <= '2021-03-31') 
          | (df2['Rep'] == 'Katiria Fernandez ') & (df2['EnrollDate'] >= '2021-03-01') & (df2['EnrollDate'] <= '2021-03-31')
          | (df2['Rep'] == 'Brad Willinger') & (df2['EnrollDate'] >= '2021-03-01') & (df2['EnrollDate'] <= '2021-03-31')
          | (df2['Rep'] == 'Carolina Zuluaga ') & (df2['EnrollDate'] >= '2021-02-01') & (df2['EnrollDate'] <= '2021-02-28') 
          | (df2['Rep'] == 'Katiria Fernandez ') & (df2['EnrollDate'] >= '2021-02-01') & (df2['EnrollDate'] <= '2021-02-28')
          | (df2['Rep'] == 'Brad Willinger') & (df2['EnrollDate'] >= '2021-02-01') & (df2['EnrollDate'] <= '2021-02-28')
          | (df2['Rep'] == 'Carolina Zuluaga ') & (df2['EnrollDate'] >= '2021-01-01') & (df2['EnrollDate'] <= '2021-01-31')
          | (df2['Rep'] == 'Katiria Fernandez ') & (df2['EnrollDate'] >= '2021-01-01') & (df2['EnrollDate'] <= '2021-01-31')
          | (df2['Rep'] == 'Vincent Lee') & (df2['EnrollDate'] >= '2021-01-01') & (df2['EnrollDate'] <= '2021-01-31')
          | (df2['Rep'] == 'Robert Echevarria ') & (df2['EnrollDate'] >= '2021-01-01') & (df2['EnrollDate'] <= '2021-01-31')
          | (df2['Rep'] == 'Brad Willinger') & (df2['EnrollDate'] >= '2021-01-01') & (df2['EnrollDate'] <= '2021-01-31')
          | (df2['Rep'] == 'Carolina Zuluaga ') & (df2['EnrollDate'] <= '2020-12-31')
          | (df2['Rep'] == 'Katiria Fernandez ') & (df2['EnrollDate'] <= '2020-12-31')
          | (df2['Rep'] == 'Vincent Lee') & (df2['EnrollDate'] <= '2020-12-31')
          | (df2['Rep'] == 'Robert Echevarria ') & (df2['EnrollDate'] <= '2020-12-31')
          | (df2['Rep'] == 'Brad Willinger') & (df2['EnrollDate'] <= '2020-12-31')
          ,
            (df2['Rep'] != 'Yanery Fernandez') & (df2['EnrollDate'] >= '2021-10-01')
          | (df2['Rep'] != 'Ivonne Cedeno') & (df2['EnrollDate'] >= '2021-10-01')
          | (df2['Rep'] != 'Jacqueline Garcia') & (df2['EnrollDate'] >= '2021-10-01')
          | (df2['Rep'] != 'Laura Lou Seefeldt') & (df2['EnrollDate'] >= '2021-10-01')
          | (df2['Rep'] != 'Paula Andrea Luna Lopera') & (df2['EnrollDate'] >= '2021-10-01')
          | (df2['Rep'] != 'Kuo Chun Chen') & (df2['EnrollDate'] >= '2021-10-01')
          | (df2['Rep'] != 'Charlie Taveras') & (df2['EnrollDate'] >= '2021-10-01')
          | (df2['Rep'] != 'Carolina Zuluaga ') & (df2['EnrollDate'] >= '2021-10-01') 
          | (df2['Rep'] != 'Katiria Fernandez ') & (df2['EnrollDate'] >= '2021-10-01')
          | (df2['Rep'] != 'Brad Willinger') & (df2['EnrollDate'] >= '2021-10-01')
          | (df2['Rep'] != 'Kenny Jolly') & (df2['EnrollDate'] >= '2021-10-01')
          | (df2['Rep'] != 'Donald Herline ') & (df2['EnrollDate'] >= '2021-10-01')
          | (df2['Rep'] != 'Jose Ortiz') & (df2['EnrollDate'] >= '2021-10-01')
          | (df2['Rep'] != 'Yeuneniy Sneremeta') & (df2['EnrollDate'] >= '2021-10-01')
    
          | (df2['Rep'] != 'Yanery Fernandez') & (df2['EnrollDate'] >= '2021-09-01') & (df2['EnrollDate'] <= '2021-09-30')
          | (df2['Rep'] != 'Ivonne Cedeno') & (df2['EnrollDate'] >= '2021-09-01') & (df2['EnrollDate'] <= '2021-09-30')
          | (df2['Rep'] != 'Jacqueline Garcia') & (df2['EnrollDate'] >= '2021-09-01') & (df2['EnrollDate'] <= '2021-09-30')
          | (df2['Rep'] != 'Laura Lou Seefeldt') & (df2['EnrollDate'] >= '2021-09-01') & (df2['EnrollDate'] <= '2021-09-30')
          | (df2['Rep'] != 'Paula Andrea Luna Lopera') & (df2['EnrollDate'] >= '2021-09-01') & (df2['EnrollDate'] <= '2021-09-30')
          | (df2['Rep'] != 'Kuo Chun Chen') & (df2['EnrollDate'] >= '2021-09-01') & (df2['EnrollDate'] <= '2021-09-30')
          | (df2['Rep'] != 'Charlie Taveras') & (df2['EnrollDate'] >= '2021-09-01') & (df2['EnrollDate'] <= '2021-09-30')
          | (df2['Rep'] != 'Carolina Zuluaga ') & (df2['EnrollDate'] >= '2021-09-01') & (df2['EnrollDate'] <= '2021-09-30') 
          | (df2['Rep'] != 'Katiria Fernandez ') & (df2['EnrollDate'] >= '2021-09-01') & (df2['EnrollDate'] <= '2021-09-30')
          | (df2['Rep'] != 'Brad Willinger') & (df2['EnrollDate'] >= '2021-09-01') & (df2['EnrollDate'] <= '2021-09-30')
          | (df2['Rep'] != 'Kenny Jolly') & (df2['EnrollDate'] >= '2021-09-01') & (df2['EnrollDate'] <= '2021-09-30')
          | (df2['Rep'] != 'Donald Herline ') & (df2['EnrollDate'] >= '2021-09-01') & (df2['EnrollDate'] <= '2021-09-30')
          | (df2['Rep'] != 'Jose Ortiz') & (df2['EnrollDate'] >= '2021-09-01') & (df2['EnrollDate'] <= '2021-09-30')
          | (df2['Rep'] != 'Yeuneniy Sneremeta') & (df2['EnrollDate'] >= '2021-09-01') & (df2['EnrollDate'] <= '2021-09-30')

          | (df2['Rep'] != 'Yanery Fernandez') & (df2['EnrollDate'] >= '2021-08-01') & (df2['EnrollDate'] <= '2021-08-31')
          | (df2['Rep'] != 'Ivonne Cedeno') & (df2['EnrollDate'] >= '2021-08-01') & (df2['EnrollDate'] <= '2021-08-31')
          | (df2['Rep'] != 'Jacqueline Garcia') & (df2['EnrollDate'] >= '2021-08-01') & (df2['EnrollDate'] <= '2021-08-31')
          | (df2['Rep'] != 'Laura Lou Seefeldt') & (df2['EnrollDate'] >= '2021-08-01') & (df2['EnrollDate'] <= '2021-08-31')
          | (df2['Rep'] != 'Paula Andrea Luna Lopera') & (df2['EnrollDate'] >= '2021-08-01') & (df2['EnrollDate'] <= '2021-08-31')
          | (df2['Rep'] != 'Kuo Chun Chen') & (df2['EnrollDate'] >= '2021-08-01') & (df2['EnrollDate'] <= '2021-08-31')
          | (df2['Rep'] != 'Charlie Taveras') & (df2['EnrollDate'] >= '2021-08-01') & (df2['EnrollDate'] <= '2021-08-31')
          | (df2['Rep'] != 'Carolina Zuluaga ') & (df2['EnrollDate'] >= '2021-08-01') & (df2['EnrollDate'] <= '2021-08-31') 
          | (df2['Rep'] != 'Katiria Fernandez ') & (df2['EnrollDate'] >= '2021-08-01') & (df2['EnrollDate'] <= '2021-08-31')
          | (df2['Rep'] != 'Brad Willinger') & (df2['EnrollDate'] >= '2021-08-01') & (df2['EnrollDate'] <= '2021-08-31')
          | (df2['Rep'] != 'Yanery Fernandez') & (df2['EnrollDate'] >= '2021-07-01') & (df2['EnrollDate'] <= '2021-07-31')
          | (df2['Rep'] != 'Ivonne Cedeno') & (df2['EnrollDate'] >= '2021-07-01') & (df2['EnrollDate'] <= '2021-07-31')
          | (df2['Rep'] != 'Jacqueline Garcia') & (df2['EnrollDate'] >= '2021-07-01') & (df2['EnrollDate'] <= '2021-07-31')
          | (df2['Rep'] != 'Laura Lou Seefeldt') & (df2['EnrollDate'] >= '2021-07-01') & (df2['EnrollDate'] <= '2021-07-31')
          | (df2['Rep'] != 'Shelly Bobb') & (df2['EnrollDate'] >= '2021-07-01') & (df2['EnrollDate'] <= '2021-07-31')
          | (df2['Rep'] != 'Carolina Zuluaga ') & (df2['EnrollDate'] >= '2021-07-01') & (df2['EnrollDate'] <= '2021-07-31') 
          | (df2['Rep'] != 'Katiria Fernandez ') & (df2['EnrollDate'] >= '2021-07-01') & (df2['EnrollDate'] <= '2021-07-31')
          | (df2['Rep'] != 'Brad Willinger') & (df2['EnrollDate'] >= '2021-07-01') & (df2['EnrollDate'] <= '2021-07-31')
          | (df2['Rep'] != 'Yanery Fernandez') & (df2['EnrollDate'] >= '2021-06-01') & (df2['EnrollDate'] <= '2021-06-30') 
          | (df2['Rep'] != 'Ivonne Cedeno') & (df2['EnrollDate'] >= '2021-06-01') & (df2['EnrollDate'] <= '2021-06-30') 
          | (df2['Rep'] != 'Jacqueline Garcia') & (df2['EnrollDate'] >= '2021-06-01') & (df2['EnrollDate'] <= '2021-06-30') 
          | (df2['Rep'] != 'Laura Lou Seefeldt') & (df2['EnrollDate'] >= '2021-06-01') & (df2['EnrollDate'] <= '2021-06-30') 
          | (df2['Rep'] != 'Shelly Bobb') & (df2['EnrollDate'] >= '2021-06-01') & (df2['EnrollDate'] <= '2021-06-30') 
          | (df2['Rep'] != 'Angela Lozano') & (df2['EnrollDate'] >= '2021-06-01') & (df2['EnrollDate'] <= '2021-06-30') 
          | (df2['Rep'] != 'Carolina Zuluaga ') & (df2['EnrollDate'] >= '2021-06-01') & (df2['EnrollDate'] <= '2021-06-30')  
          | (df2['Rep'] != 'Katiria Fernandez ') & (df2['EnrollDate'] >= '2021-06-01') & (df2['EnrollDate'] <= '2021-06-30') 
          | (df2['Rep'] != 'Brad Willinger') & (df2['EnrollDate'] >= '2021-06-01') & (df2['EnrollDate'] <= '2021-06-30') 
          | (df2['Rep'] != 'Yanery Fernandez') & (df2['EnrollDate'] >= '2021-05-01') & (df2['EnrollDate'] <= '2021-05-31') 
          | (df2['Rep'] != 'Ivonne Cedeno') & (df2['EnrollDate'] >= '2021-05-01') & (df2['EnrollDate'] <= '2021-05-31') 
          | (df2['Rep'] != 'Laura Lou Seefeldt') & (df2['EnrollDate'] >= '2021-05-01') & (df2['EnrollDate'] <= '2021-05-31') 
          | (df2['Rep'] != 'Griselle Leonardo') & (df2['EnrollDate'] >= '2021-05-01') & (df2['EnrollDate'] <= '2021-05-31') 
          | (df2['Rep'] != 'Shelly Bobb') & (df2['EnrollDate'] >= '2021-05-01') & (df2['EnrollDate'] <= '2021-05-31') 
          | (df2['Rep'] != 'Angela Lozano') & (df2['EnrollDate'] >= '2021-05-01') & (df2['EnrollDate'] <= '2021-05-31') 
          | (df2['Rep'] != 'Carolina Zuluaga ') & (df2['EnrollDate'] >= '2021-05-01') & (df2['EnrollDate'] <= '2021-05-31') 
          | (df2['Rep'] != 'Katiria Fernandez ') & (df2['EnrollDate'] >= '2021-05-01') & (df2['EnrollDate'] <= '2021-05-31') 
          | (df2['Rep'] != 'Brad Willinger') & (df2['EnrollDate'] >= '2021-05-01') & (df2['EnrollDate'] <= '2021-05-31') 
          | (df2['Rep'] != 'Jacqueline Garcia') & (df2['EnrollDate'] >= '2021-05-01') & (df2['EnrollDate'] <= '2021-05-31') 
          | (df2['Rep'] != 'Yanery Fernandez') & (df2['EnrollDate'] >= '2021-04-01') & (df2['EnrollDate'] <= '2021-04-30')
          | (df2['Rep'] != 'Ivonne Cedeno') & (df2['EnrollDate'] >= '2021-04-01') & (df2['EnrollDate'] <= '2021-04-30')
          | (df2['Rep'] != 'James (Shiou-Hao) Lu') & (df2['EnrollDate'] >= '2021-04-01') & (df2['EnrollDate'] <= '2021-04-30')
          | (df2['Rep'] != 'Monalisa Crossway') & (df2['EnrollDate'] >= '2021-04-01') & (df2['EnrollDate'] <= '2021-04-30')
          | (df2['Rep'] != 'Laura Lou Seefeldt') & (df2['EnrollDate'] >= '2021-04-01') & (df2['EnrollDate'] <= '2021-04-30')
          | (df2['Rep'] != 'Griselle Leonardo') & (df2['EnrollDate'] >= '2021-04-01') & (df2['EnrollDate'] <= '2021-04-30')
          | (df2['Rep'] != 'Shelly Bobb') & (df2['EnrollDate'] >= '2021-04-01') & (df2['EnrollDate'] <= '2021-04-30')
          | (df2['Rep'] != 'Confessor Concepcion') & (df2['EnrollDate'] >= '2021-04-01') & (df2['EnrollDate'] <= '2021-04-30')
          | (df2['Rep'] != 'Angela Lozano') & (df2['EnrollDate'] >= '2021-04-01') & (df2['EnrollDate'] <= '2021-04-30')
          | (df2['Rep'] != 'Carolina Zuluaga ') & (df2['EnrollDate'] >= '2021-04-01') & (df2['EnrollDate'] <= '2021-04-30')
          | (df2['Rep'] != 'Katiria Fernandez ') & (df2['EnrollDate'] >= '2021-04-01') & (df2['EnrollDate'] <= '2021-04-30')
          | (df2['Rep'] != 'Brad Willinger') & (df2['EnrollDate'] >= '2021-04-01') & (df2['EnrollDate'] <= '2021-04-30')
          | (df2['Rep'] != 'Jacqueline Garcia') & (df2['EnrollDate'] >= '2021-04-01') & (df2['EnrollDate'] <= '2021-04-30')
          | (df2['Rep'] != 'Yanery Fernandez') & (df2['EnrollDate'] >= '2021-03-01') & (df2['EnrollDate'] <= '2021-03-31') 
          | (df2['Rep'] != 'Ivonne Cedeno') & (df2['EnrollDate'] >= '2021-03-01') & (df2['EnrollDate'] <= '2021-03-31')
          | (df2['Rep'] != 'James (Shiou-Hao) Lu') & (df2['EnrollDate'] >= '2021-03-01') & (df2['EnrollDate'] <= '2021-03-31')
          | (df2['Rep'] != 'Monalisa Crossway') & (df2['EnrollDate'] >= '2021-03-01') & (df2['EnrollDate'] <= '2021-03-31')
          | (df2['Rep'] != 'Laura Lou Seefeldt') & (df2['EnrollDate'] >= '2021-03-01') & (df2['EnrollDate'] <= '2021-03-31')
          | (df2['Rep'] != 'Griselle Leonardo') & (df2['EnrollDate'] >= '2021-03-01') & (df2['EnrollDate'] <= '2021-03-31')
          | (df2['Rep'] != 'Shelly Bobb') & (df2['EnrollDate'] >= '2021-03-01') & (df2['EnrollDate'] <= '2021-03-31')
          | (df2['Rep'] != 'Zhen Zhu') & (df2['EnrollDate'] >= '2021-03-01') & (df2['EnrollDate'] <= '2021-03-31')
          | (df2['Rep'] != 'Confessor Concepcion') & (df2['EnrollDate'] >= '2021-03-01') & (df2['EnrollDate'] <= '2021-03-31')
          | (df2['Rep'] != 'Carolina Zuluaga ') & (df2['EnrollDate'] >= '2021-03-01') & (df2['EnrollDate'] <= '2021-03-31')
          | (df2['Rep'] != 'Katiria Fernandez ') & (df2['EnrollDate'] >= '2021-03-01') & (df2['EnrollDate'] <= '2021-03-31')
          | (df2['Rep'] != 'Brad Willinger') & (df2['EnrollDate'] >= '2021-03-01') & (df2['EnrollDate'] <= '2021-03-31')
          | (df2['Rep'] != 'Yanery Fernandez') & (df2['EnrollDate'] >= '2021-02-01') & (df2['EnrollDate'] <= '2021-02-28') 
          | (df2['Rep'] != 'Ivonne Cedeno') & (df2['EnrollDate'] >= '2021-02-01') & (df2['EnrollDate'] <= '2021-02-28')
          | (df2['Rep'] != 'James (Shiou-Hao) Lu') & (df2['EnrollDate'] >= '2021-02-01') & (df2['EnrollDate'] <= '2021-02-28')
          | (df2['Rep'] != 'Monalisa Crossway') & (df2['EnrollDate'] >= '2021-02-01') & (df2['EnrollDate'] <= '2021-02-28')
          | (df2['Rep'] != 'Laura Lou Seefeldt') & (df2['EnrollDate'] >= '2021-02-01') & (df2['EnrollDate'] <= '2021-02-28')
          | (df2['Rep'] != 'Griselle Leonardo') & (df2['EnrollDate'] >= '2021-02-01') & (df2['EnrollDate'] <= '2021-02-28')
          | (df2['Rep'] != 'Shelly Bobb') & (df2['EnrollDate'] >= '2021-02-01') & (df2['EnrollDate'] <= '2021-02-28')
          | (df2['Rep'] != 'Zhen Zhu') & (df2['EnrollDate'] >= '2021-02-01') & (df2['EnrollDate'] <= '2021-02-28')
          | (df2['Rep'] != 'Confessor Concepcion') & (df2['EnrollDate'] >= '2021-02-01') & (df2['EnrollDate'] <= '2021-02-28')
          | (df2['Rep'] != 'Carolina Zuluaga ') & (df2['EnrollDate'] >= '2021-02-01') & (df2['EnrollDate'] <= '2021-02-28')
          | (df2['Rep'] != 'Katiria Fernandez ') & (df2['EnrollDate'] >= '2021-02-01') & (df2['EnrollDate'] <= '2021-02-28')
          | (df2['Rep'] != 'Brad Willinger') & (df2['EnrollDate'] >= '2021-02-01') & (df2['EnrollDate'] <= '2021-02-28')
          | (df2['Rep'] != 'Yanery Fernandez') & (df2['EnrollDate'] >= '2021-01-01') & (df2['EnrollDate'] <= '2021-01-31') 
          | (df2['Rep'] != 'Ivonne Cedeno') & (df2['EnrollDate'] >= '2021-01-01') & (df2['EnrollDate'] <= '2021-01-31')
          | (df2['Rep'] != 'James (Shiou-Hao) Lu') & (df2['EnrollDate'] >= '2021-01-01') & (df2['EnrollDate'] <= '2021-01-31')
          | (df2['Rep'] != 'Monalisa Crossway') & (df2['EnrollDate'] >= '2021-01-01') & (df2['EnrollDate'] <= '2021-01-31')
          | (df2['Rep'] != 'Laura Lou Seefeldt')  & (df2['EnrollDate'] >= '2021-01-01') & (df2['EnrollDate'] <= '2021-01-31')
          | (df2['Rep'] != 'Griselle Leonardo') & (df2['EnrollDate'] >= '2021-01-01') & (df2['EnrollDate'] <= '2021-01-31')
          | (df2['Rep'] != 'Shelly Bobb') & (df2['EnrollDate'] >= '2021-01-01') & (df2['EnrollDate'] <= '2021-01-31')
          | (df2['Rep'] != 'Keith Douglas') & (df2['EnrollDate'] >= '2021-01-01') & (df2['EnrollDate'] <= '2021-01-31')
          | (df2['Rep'] != 'Angela Hernandez') & (df2['EnrollDate'] >= '2021-01-01') & (df2['EnrollDate'] <= '2021-01-31')
          | (df2['Rep'] != 'Zhen Zhu') & (df2['EnrollDate'] >= '2021-01-01') & (df2['EnrollDate'] <= '2021-01-31')
          | (df2['Rep'] != 'Carolina Zuluaga ') & (df2['EnrollDate'] >= '2021-01-01') & (df2['EnrollDate'] <= '2021-01-31')
          | (df2['Rep'] != 'Katiria Fernandez ') & (df2['EnrollDate'] >= '2021-01-01') & (df2['EnrollDate'] <= '2021-01-31')
          | (df2['Rep'] != 'Vincent Lee') & (df2['EnrollDate'] >= '2021-01-01') & (df2['EnrollDate'] <= '2021-01-31')
          | (df2['Rep'] != 'Robert Echevarria ') & (df2['EnrollDate'] >= '2021-01-01') & (df2['EnrollDate'] <= '2021-01-31')
          | (df2['Rep'] != 'Brad Willinger') & (df2['EnrollDate'] >= '2021-01-01') & (df2['EnrollDate'] <= '2021-01-31')
          | (df2['Rep'] != 'Yanery Fernandez') & (df2['EnrollDate'] <= '2020-12-31')
          | (df2['Rep'] != 'Ivonne Cedeno') & (df2['EnrollDate'] <= '2020-12-31')
          | (df2['Rep'] != 'James (Shiou-Hao) Lu') & (df2['EnrollDate'] <= '2020-12-31')
          | (df2['Rep'] != 'Monalisa Crossway') & (df2['EnrollDate'] <= '2020-12-31')
          | (df2['Rep'] != 'Laura Lou Seefeldt') & (df2['EnrollDate'] <= '2020-12-31')
          | (df2['Rep'] != 'Griselle Leonardo') & (df2['EnrollDate'] <= '2020-12-31')
          | (df2['Rep'] != 'Shelly Bobb') & (df2['EnrollDate'] <= '2020-12-31')
          | (df2['Rep'] != 'Keith Douglas') & (df2['EnrollDate'] <= '2020-12-31')
          | (df2['Rep'] != 'Angela Hernandez') & (df2['EnrollDate'] <= '2020-12-31')
          | (df2['Rep'] != 'Zhen Zhu') & (df2['EnrollDate'] <= '2020-12-31')
          | (df2['Rep'] != 'Carolina Zuluaga ') & (df2['EnrollDate'] <= '2020-12-31')
          | (df2['Rep'] != 'Katiria Fernandez ') & (df2['EnrollDate'] <= '2020-12-31')
          | (df2['Rep'] != 'Vincent Lee') & (df2['EnrollDate'] <= '2020-12-31')
          | (df2['Rep'] != 'Robert Echevarria ') & (df2['EnrollDate'] <= '2020-12-31')
          | (df2['Rep'] != 'Brad Willinger') & (df2['EnrollDate'] <= '2020-12-31')
          ]




# Zhen Zhu
# Keith Douglas
# Angela Hernandez
# Vincent Lee
# 'Robert Echevarria '


conditions1 = [
            (df2['Rep'] == 'Yanery Fernandez') & (df2['EnrollDate'] <= '2020-12-31')
          | (df2['Rep'] == 'Ivonne Cedeno') & (df2['EnrollDate'] <= '2020-12-31')
          | (df2['Rep'] == 'James (Shiou-Hao) Lu') & (df2['EnrollDate'] <= '2020-12-31')
          | (df2['Rep'] == 'Monalisa Crossway') & (df2['EnrollDate'] <= '2020-12-31')
          | (df2['Rep'] == 'Laura Lou Seefeldt') & (df2['EnrollDate'] <= '2020-12-31')
          | (df2['Rep'] == 'Griselle Leonardo') & (df2['EnrollDate'] <= '2020-12-31')
          | (df2['Rep'] == 'Shelly Bobb') & (df2['EnrollDate'] <= '2020-12-31')
          | (df2['Rep'] == 'Keith Douglas') & (df2['EnrollDate'] <= '2020-12-31')
          | (df2['Rep'] == 'Angela Hernandez') & (df2['EnrollDate'] <= '2020-12-31')
          | (df2['Rep'] == 'Zhen Zhu') & (df2['EnrollDate'] <= '2020-12-31'),
            (df2['Rep'] == 'Carolina Zuluaga ') & (df2['EnrollDate'] <= '2020-12-31')
          | (df2['Rep'] == 'Katiria Fernandez ') & (df2['EnrollDate'] <= '2020-12-31')
          | (df2['Rep'] == 'Vincent Lee') & (df2['EnrollDate'] <= '2020-12-31')
          | (df2['Rep'] == 'Robert Echevarria ') & (df2['EnrollDate'] <= '2020-12-31')
          | (df2['Rep'] == 'Brad Willinger') & (df2['EnrollDate'] <= '2020-12-31'),
            (df2['Rep'] != 'Yanery Fernandez') & (df2['EnrollDate'] <= '2020-12-31')
          | (df2['Rep'] != 'Ivonne Cedeno') & (df2['EnrollDate'] <= '2020-12-31')
          | (df2['Rep'] != 'James (Shiou-Hao) Lu') & (df2['EnrollDate'] <= '2020-12-31')
          | (df2['Rep'] != 'Monalisa Crossway') & (df2['EnrollDate'] <= '2020-12-31')
          | (df2['Rep'] != 'Laura Lou Seefeldt') & (df2['EnrollDate'] <= '2020-12-31')
          | (df2['Rep'] != 'Griselle Leonardo') & (df2['EnrollDate'] <= '2020-12-31')
          | (df2['Rep'] != 'Shelly Bobb') & (df2['EnrollDate'] <= '2020-12-31')
          | (df2['Rep'] != 'Keith Douglas') & (df2['EnrollDate'] <= '2020-12-31')
          | (df2['Rep'] != 'Angela Hernandez') & (df2['EnrollDate'] <= '2020-12-31')
          | (df2['Rep'] != 'Zhen Zhu') & (df2['EnrollDate'] <= '2020-12-31')
          | (df2['Rep'] != 'Carolina Zuluaga ') & (df2['EnrollDate'] <= '2020-12-31')
          | (df2['Rep'] != 'Katiria Fernandez ') & (df2['EnrollDate'] <= '2020-12-31')
          | (df2['Rep'] != 'Vincent Lee') & (df2['EnrollDate'] <= '2020-12-31')
          | (df2['Rep'] != 'Robert Echevarria ') & (df2['EnrollDate'] <= '2020-12-31')
          | (df2['Rep'] != 'Brad Willinger') & (df2['EnrollDate'] <= '2020-12-31')
          ]

# create a list of the values we want to assign for each condition
values = ['Current_FieldSales', 'Current_TeleSales', 'Old_Sales']

# create a new column and use np.select to assign values to it using our lists as arguments

df2['Type'] = np.select(conditions4, values)



# Select range

df2['EndDate'] = pd.to_datetime(df2['EndDate'], errors = 'coerce')

df2['EnrollDate'] = pd.to_datetime(df2['EnrollDate'], errors = 'coerce')

df2['DayEnrolled'] = df2['EndDate'] - df2['EnrollDate']

df2['DayEnrolled'] = pd.to_numeric(df2['DayEnrolled'].dt.days, downcast='integer')


df2['Days90'] = np.where(df2['DayEnrolled'] >= 90, 'NonRapid', 'Rapid')

df3 = df2[(df2['EndDate'] >= '2020-09-01') & (df2['EndDate'] <= '2021-10-01') | (df2['EnrollDate'] >= '2020-12-31') & (df2['EnrollDate'] <= '2021-11-01')]

df3 = df3[(df3['LOB'] != 'I-SNP')]

#df3['EnrollDate'] = df3['EnrollDate'] - pd.to_timedelta(1, unit='d')

#df4 = df2[(df2['EnrollDate'] >= '2020-12-31') & (df2['EnrollDate'] <= '2021-04-30')]

#df4 = df4[(df4['LOB'] != 'I-SNP')


#print (list(df2.columns))

print (len(df3))
print (df3)
          
#print (len(df4))
#print (df2)

# select columns

#df3 = df2[['MBID', 'EnrollDate', 'LOB', 'Status', 'AppDate', 'Rep', 'EndDate']]


# print this 2 days
#df3[(df3['AppDate'] >= '2021-01-19') & (df3['AppDate'] <= '2021-01-20')]

#df3 = df3[(df3['EnrollDate'] == '2021-01-01') | (df3['EnrollDate'] == '2021-02-01')]

#df3[(df3['AppDate'] >= '2021-01-19')]

#df3 = df3[(df3['Status'] == 'Disenrolled')]


#df3 = df3[(df3['EndDate'] >= '2021-01-01') & (df3['EndDate'] <= '2021-01-31')]

#df3 = df3[(df3['Status'] != 'Cancelled')]

#df4 = df3[(df3['EnrollDate'] == '2021-01-01') | (df3['EnrollDate'] == '2021-02-01') | (df3['EnrollDate'] == '2021-03-01')]

#df4 = df3

C:\Users\tflung\Anaconda3\lib\site-packages\openpyxl\worksheet\_reader.py:300: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)

2035
         CTID    MBID        Last       First          MBI       CIN Area  \
70    MW12229   15069  Washington     Maurice  3PC3H13CD11            NYC
102   LJ12499   15100      Jordan     Lavenia  8VD0FJ1XT05            NYC
144   AL12310    6347       Longo  Antoinette  9R59XU8VT28            NYC
154   KR13244   15681       Reid      Kenneth  5V97H15GU73            NYC
182   AS13868   17903     Serrano       Angel  3UK1KG5WV03            NYC
...       ...     ...         ...         ...          ...       ...  ...
8105  C-64760  122686       Olivo        Iris  3V70GJ2FV12  ZS92960J  NYC
8106  C-65026  312712      Davis      Belinda  5WK4GA2RG01            NYC
8107  C-65029   61329        Khan    Mohamed   2WK4EP5HX95  PE93195U  NYC
8108  C-65032  312913       Lopez  Juventino   6H13WK3YC91  MV14165X  NYC
8109  C-65099   27918   Laureano       Maria   1DF9K23EW49  ZE93463U  NYC

        LOB EnrollDate    EndDate  ... EnrollmentMechanism OriginalPlan  \
70     MAPD 2015-01-01 2020-12-31  ...               Paper        H3361
102    MAPD 2015-01-01 2021-02-28  ...               Paper        H3347
144    MAPD 2015-02-01 2021-01-31  ...               Paper        H3327
154    MAPD 2015-03-01 2021-07-31  ...               Paper        H3379
182    MAPD 2015-04-01 2020-12-31  ...               Paper        H9122
...     ...        ...        ...  ...                 ...          ...
8105  D-SNP 2021-09-01        NaT  ...          Telephonic        S5601
8106   MAPD 2021-09-01 2021-08-31  ...               Paper        H5989
8107  D-SNP 2021-09-01        NaT  ...               Paper        S5983
8108  D-SNP 2021-09-01 2021-09-30  ...               Paper        H4868
8109  D-SNP 2021-09-01        NaT  ...               Paper        H3347

     DrugPlan IdCardReceived     DateEnrolledDTRR       DateLetterSent  \
70        Yes
102       Yes
144       Yes
154       Yes
182       Yes
...       ...            ...                  ...                  ...
8105      Yes                 1630454400000000000  2021-09-01 00:00:00
8106      Yes                                      2021-09-01 00:00:00
8107      Yes                 1630627200000000000  2021-09-03 00:00:00
8108      Yes                 1630627200000000000  2021-09-03 00:00:00
8109      Yes                 1630627200000000000  2021-09-03 00:00:00

     PreviousPlan                Type DayEnrolled    Days90
70                          Old_Sales      2191.0  NonRapid
102                         Old_Sales      2250.0  NonRapid
144                         Old_Sales      2191.0  NonRapid
154                         Old_Sales      2344.0  NonRapid
182                         Old_Sales      2101.0  NonRapid
...           ...                 ...         ...       ...
8105               Current_FieldSales         NaN     Rapid
8106                        Old_Sales        -1.0     Rapid
8107               Current_FieldSales         NaN     Rapid
8108               Current_FieldSales        29.0     Rapid
8109               Current_FieldSales         NaN     Rapid

[2035 rows x 51 columns]

df3.to_csv(r'disenroll_reason.csv', index = False)
#df28.to_excel(r'disenroll_number.xlsx', index = False)

with pd.ExcelWriter('disenroll_reason.xlsx',
                  date_format='YYYY-MM-DD',
                  datetime_format='YYYY-MM-DD') as writer:
    df3.to_excel(writer, index=False)

df4.to_csv(r'disenroll_reason1.csv', index = False)
#df28.to_excel(r'disenroll_number.xlsx', index = False)

In [56]:
#df2['Status'].unique()

# MAP

In [4]:
import os
import pandas as pd

url1 = "S:\ENROLLMENT\ENROLLMENT-PUBLIC\MEDICARE\MAP\Source\MAP Roster_2021- KAT2.xlsx"

df20=pd.read_excel(
     os.path.join(url1),
     engine='openpyxl',
     sheet_name='Enrolled'
)

df21=pd.read_excel(
     os.path.join(url1),
     engine='openpyxl',
     sheet_name='Not Enrolled'
)

# Enrollment Tracking
df30=pd.read_excel(
     os.path.join(url1),
     engine='openpyxl',
     sheet_name='Enrollment Tracking'
)

# Withdrawal Cancel Tracking
df31=pd.read_excel(
     os.path.join(url1),
     engine='openpyxl',
     sheet_name='Withdrawal Cancel Tracking'
)

# Withdrawal Cancel Tracking
df42=pd.read_excel(
     os.path.join(url1),
     engine='openpyxl',
     sheet_name='Disenrolled'
)


# Rename

df20 = df20.rename(columns={'Legacy ID': 'ID'})
df20 = df20.rename(columns={'Overall Status': 'Status'})
df20 = df20.rename(columns={'Overall Start Date': 'EnrollDate'})
df20 = df20.rename(columns={'Overall End Date': 'DisenrollDate'})
df20 = df20.rename(columns={'Sales Agent': 'Rep'})
df20 = df20.rename(columns={'Member Last Name': 'Last'})
df20 = df20.rename(columns={'Member First Name': 'First'})

df21 = df21.rename(columns={'Legacy ID': 'ID'})
df21 = df21.rename(columns={'Overall Status': 'Status'})
df21 = df21.rename(columns={'Overall Start Date': 'EnrollDate'})
df21 = df21.rename(columns={'Overall End Date': 'DisenrollDate'})
df21 = df21.rename(columns={'Sales Agent': 'Rep'})
df21 = df21.rename(columns={'Member Last Name': 'Last'})
df21 = df21.rename(columns={'Member First Name': 'First'})

df30 = df30.rename(columns={'Legacy ID': 'ID'})
df30 = df30.rename(columns={'Overall Status': 'Status'})
df30 = df30.rename(columns={'Overall Start Date': 'EnrollDate'})
df30 = df30.rename(columns={'Overall End Date': 'DisenrollDate'})
df30 = df30.rename(columns={'Sales Agent': 'Rep'})
df30 = df30.rename(columns={'Member Last Name': 'Last'})
df30 = df30.rename(columns={'Member First Name': 'First'})

df31 = df31.rename(columns={'Legacy ID': 'ID'})
df31 = df31.rename(columns={'Overall Status': 'Status'})
df31 = df31.rename(columns={'Overall Start Date': 'EnrollDate'})
df31 = df31.rename(columns={'Overall End Date': 'DisenrollDate'})
df31 = df31.rename(columns={'Sales Agent': 'Rep'})
df31 = df31.rename(columns={'Member Last Name': 'Last'})
df31 = df31.rename(columns={'Member First Name': 'First'})


df42 = df42.rename(columns={'Legacy ID': 'DID'})
df42 = df42.rename(columns={'Overall Status': 'Status'})
df42 = df42.rename(columns={'Overall Start Date': 'EnrollDate'})
df42 = df42.rename(columns={'Overall End Date': 'EndDate'})
df42 = df42.rename(columns={'Medicare Disenrollment Reason': 'DisenrollmentCancellationReason'})
df42 = df42.rename(columns={'Medicare Disenrollment Type': 'VoluntaryInvoluntaryDisenrollment'})
df42 = df42.rename(columns={'Member Last Name': 'Last'})
df42 = df42.rename(columns={'Member First Name': 'First'})


df42 = df42[['DID', 'EnrollDate', 'EndDate', 'Status', 'Last', 'First', 'DisenrollmentCancellationReason', 'VoluntaryInvoluntaryDisenrollment'
            ]]

#print (list(df9.columns))

# select columns

#df3 = df2[['DisenrollDate', 'EnrollDate', 'LOB', 'Status', 'AppDate', 'Rep']]
df21 = df21[['ID', 'EnrollDate', 'DisenrollDate', 'LOB', 'Status', 'Rep', 'Last', 'First']]

# March enrollment
df22 = df21[(df21['EnrollDate'] >= '2021-01-01') & (df21['EnrollDate'] <= '2021-10-01')]

# Compare ID

df23 = df2[['MBID', 'EnrollDate', 'LOB', 'Status', 'AppDate', 'Rep']]

# Same ID

same = list(set(df22['ID']).intersection(set(df23['MBID'])))
print(same)

df24 = df22[~df22['ID'].isin(same)]

# March enrollment
df36 = df20[(df20['EnrollDate'] >= '2021-01-01') & (df20['EnrollDate'] <= '2021-10-01')]

# Whole Team - Enrolled

df36 = df36[(df36['Rep'] == 'Yanery Fernandez') 
          | (df36['Rep'] == 'Ivonne Cedeno Mendoza (BD)')
          | (df36['Rep'] == 'James (Shiou-Hao) Lu')
          | (df36['Rep'] == 'Monalisa Crossway')
          | (df36['Rep'] == 'Laura Lou Seefeldt (BD)')
          | (df36['Rep'] == 'Griselle Leonardo (BD)')
          | (df36['Rep'] == 'Shelly Bobb (BD)')
          | (df36['Rep'] == 'Zhen Zhu')
          | (df36['Rep'] == 'Confessor Concepcion')
          | (df36['Rep'] == 'Angela Lozano (BD)')
          | (df36['Rep'] == 'Keith Douglas')
          | (df36['Rep'] == 'Angela Hernandez')
          | (df36['Rep'] == 'Carolina Zuluaga (BD)') 
          | (df36['Rep'] == 'Katiria Fernandez (BD)')
          | (df36['Rep'] == 'Brad Willinger (BD)')
          | (df36['Rep'] == 'Jacqueline Garcia (BD)')
          | (df36['Rep'] == 'Vincent Lee (BD)')
          | (df36['Rep'] == 'Robert Echevarria ')
          | (df36['Rep'] == 'Kuo Chun Chen (BD)')
          | (df36['Rep'] == 'Charlie Taveras (BD)')
          | (df36['Rep'] == 'Paula Andrea Luna Lopera (BD)')
          | (df36['Rep'] == 'Kenny Jolly')
          | (df36['Rep'] == 'Donald Herline (BD)')
          | (df36['Rep'] == 'Jose Ortiz (BD)')
          | (df36['Rep'] == 'Yeuneniy Sneremeta')
           ]


#df36

same4 = list(set(df36['ID']).intersection(set(df23['MBID'])))
#print(same4)
#print(len(same4))


df37 = df36[~df36['ID'].isin(same4)]

print (len(df37))

#print (df37)


df38 = df37.groupby(["EnrollDate", "Rep"])["EnrollDate"].count().reset_index(name="count")
df39 = df37.groupby(["EnrollDate"])["EnrollDate"].count().reset_index(name="count")

print (df38)
print (df39)

df40 = df37[(df37['Status'] == 'Disenrolled')]

#df40 = df40[['ID', 'EnrollDate', 'DisenrollDate', 'LOB', 'Status', 'Agent', 'Last', 'First']]

df40 = df40[['ID','Rep']]

df40['ID'] = df40['ID'].astype(int)
#print (df40)



same5 = list(set(df40['ID']).intersection(set(df42['DID'])))
#print(same5)
print(len(same5))

df43 = df42[df42['DID'].isin(same5)]

df43 = df43.rename(columns={'DID': 'ID'})
#print (df43)

df44 = pd.merge(df43, df40, how="outer", on=["ID"])

df45 = df44[~df44['ID'].duplicated(keep='last')]

# Change name

df45['Rep'] = df45['Rep'].replace('Ivonne Cedeno Mendoza (BD)', 'Ivonne Cedeno', regex=False)
df45['Rep'] = df45['Rep'].replace('James (Shiou-Hao) Lu', 'James (Shiou-Hao) Lu', regex=False)
df45['Rep'] = df45['Rep'].replace('Laura Lou Seefeldt (BD)', 'Laura Lou Seefeldt', regex=False)
df45['Rep'] = df45['Rep'].replace('Griselle Leonardo (BD)', 'Griselle Leonardo', regex=False)
df45['Rep'] = df45['Rep'].replace('Shelly Bobb (BD)', 'Shelly Bobb', regex=False)
df45['Rep'] = df45['Rep'].replace('Carolina Zuluaga (BD)', 'Carolina Zuluaga ', regex=False)
df45['Rep'] = df45['Rep'].replace('Katiria Fernandez (BD)', 'Katiria Fernandez ', regex=False)
df45['Rep'] = df45['Rep'].replace('Brad Willinger (BD)', 'Brad Willinger', regex=False)
#df45['Rep'] = df45['Rep'].replace('Jacqueline Garcia (BD)', 'Ivonne Cedeno', regex=False)
df45['Rep'] = df45['Rep'].replace('Vincent Lee (BD)', 'Vincent Lee', regex=False)
df45['Rep'] = df45['Rep'].replace('Kuo Chun Chen (BD)', 'Kuo Chun Chen', regex=False)
df45['Rep'] = df45['Rep'].replace('Charlie Taveras (BD)', 'Charlie Taveras', regex=False)
df45['Rep'] = df45['Rep'].replace('Paula Andrea Luna Lopera (BD)', 'Paula Andrea Luna Lopera', regex=False)
df45['Rep'] = df45['Rep'].replace('Kenny Jolly', 'Kenny Jolly', regex=False)
df45['Rep'] = df45['Rep'].replace('Donald Herline (BD)', 'Donald Herline ', regex=False)
df45['Rep'] = df45['Rep'].replace('Jose Ortiz (BD)', 'Jose Ortiz', regex=False)
df45['Rep'] = df45['Rep'].replace('Yeuneniy Sneremeta', 'Yeuneniy Sneremeta', regex=False)

df45['Status'] = df45['Status'].replace('disenrolled', 'Disenrolled', regex=False)


df45['VoluntaryInvoluntaryDisenrollment'] = df45['VoluntaryInvoluntaryDisenrollment'].replace(np.nan, 'Involuntary', regex=False)


conditions5 = [
            (df45['Rep'] == 'Yanery Fernandez') & (df45['EnrollDate'] >= '2021-10-01')
          | (df45['Rep'] == 'Ivonne Cedeno') & (df45['EnrollDate'] >= '2021-10-01')
          | (df45['Rep'] == 'Laura Lou Seefeldt') & (df45['EnrollDate'] >= '2021-10-01')
          | (df45['Rep'] == 'Jacqueline Garcia') & (df45['EnrollDate'] >= '2021-10-01')
          | (df45['Rep'] == 'Carolina Zuluaga ') & (df45['EnrollDate'] >= '2021-10-01')
          | (df45['Rep'] == 'Kuo Chun Chen') & (df45['EnrollDate'] >= '2021-10-01')
          | (df45['Rep'] == 'Charlie Taveras') & (df45['EnrollDate'] >= '2021-10-01')
          | (df45['Rep'] == 'Paula Andrea Luna Lopera') & (df45['EnrollDate'] >= '2021-10-01')
          | (df45['Rep'] == 'Kenny Jolly') & (df2['EnrollDate'] >= '2021-10-01')
          | (df45['Rep'] == 'Donald Herline ') & (df2['EnrollDate'] >= '2021-10-01')
          | (df45['Rep'] == 'Jose Ortiz') & (df2['EnrollDate'] >= '2021-10-01')
          | (df45['Rep'] == 'Yeuneniy Sneremeta') & (df2['EnrollDate'] >= '2021-10-01')

          | (df45['Rep'] == 'Yanery Fernandez') & (df45['EnrollDate'] >= '2021-09-01') & (df45['EnrollDate'] <= '2021-09-30')
          | (df45['Rep'] == 'Ivonne Cedeno') & (df45['EnrollDate'] >= '2021-09-01') & (df45['EnrollDate'] <= '2021-09-30')
          | (df45['Rep'] == 'Laura Lou Seefeldt') & (df45['EnrollDate'] >= '2021-09-01') & (df45['EnrollDate'] <= '2021-09-30')
          | (df45['Rep'] == 'Jacqueline Garcia') & (df45['EnrollDate'] >= '2021-09-01') & (df45['EnrollDate'] <= '2021-09-30')
          | (df45['Rep'] == 'Carolina Zuluaga ') & (df45['EnrollDate'] >= '2021-09-01') & (df45['EnrollDate'] <= '2021-09-30')
          | (df45['Rep'] == 'Kuo Chun Chen') & (df45['EnrollDate'] >= '2021-09-01') & (df45['EnrollDate'] <= '2021-09-30')
          | (df45['Rep'] == 'Charlie Taveras') & (df45['EnrollDate'] >= '2021-09-01') & (df45['EnrollDate'] <= '2021-09-30')
          | (df45['Rep'] == 'Paula Andrea Luna Lopera') & (df45['EnrollDate'] >= '2021-09-01') & (df45['EnrollDate'] <= '2021-09-30')
          | (df45['Rep'] == 'Kenny Jolly') & (df2['EnrollDate'] >= '2021-09-01') & (df45['EnrollDate'] <= '2021-09-30')
          | (df45['Rep'] == 'Donald Herline ') & (df2['EnrollDate'] >= '2021-09-01') & (df45['EnrollDate'] <= '2021-09-30')
          | (df45['Rep'] == 'Jose Ortiz') & (df2['EnrollDate'] >= '2021-09-01') & (df45['EnrollDate'] <= '2021-09-30')
          | (df45['Rep'] == 'Yeuneniy Sneremeta') & (df2['EnrollDate'] >= '2021-09-01') & (df45['EnrollDate'] <= '2021-09-30')
          | (df45['Rep'] == 'Yanery Fernandez') & (df45['EnrollDate'] >= '2021-08-01') & (df45['EnrollDate'] <= '2021-08-31')
          | (df45['Rep'] == 'Ivonne Cedeno') & (df45['EnrollDate'] >= '2021-08-01') & (df45['EnrollDate'] <= '2021-08-31')
          | (df45['Rep'] == 'Laura Lou Seefeldt') & (df45['EnrollDate'] >= '2021-08-01') & (df45['EnrollDate'] <= '2021-08-31')
          | (df45['Rep'] == 'Jacqueline Garcia') & (df45['EnrollDate'] >= '2021-08-01') & (df45['EnrollDate'] <= '2021-08-31')
          | (df45['Rep'] == 'Carolina Zuluaga ') & (df45['EnrollDate'] >= '2021-08-01') & (df45['EnrollDate'] <= '2021-08-31')
          | (df45['Rep'] == 'Kuo Chun Chen') & (df45['EnrollDate'] >= '2021-08-01') & (df45['EnrollDate'] <= '2021-08-31')
          | (df45['Rep'] == 'Charlie Taveras') & (df45['EnrollDate'] >= '2021-08-01') & (df45['EnrollDate'] <= '2021-08-31')
          | (df45['Rep'] == 'Paula Andrea Luna Lopera') & (df45['EnrollDate'] >= '2021-08-01') & (df45['EnrollDate'] <= '2021-08-31')
          | (df45['Rep'] == 'Yanery Fernandez') & (df45['EnrollDate'] >= '2021-07-01') & (df45['EnrollDate'] <= '2021-07-31')
          | (df45['Rep'] == 'Ivonne Cedeno') & (df45['EnrollDate'] >= '2021-07-01') & (df45['EnrollDate'] <= '2021-07-31')
          | (df45['Rep'] == 'Laura Lou Seefeldt') & (df45['EnrollDate'] >= '2021-07-01') & (df45['EnrollDate'] <= '2021-07-31')
          | (df45['Rep'] == 'Jacqueline Garcia') & (df45['EnrollDate'] >= '2021-07-01') & (df45['EnrollDate'] <= '2021-07-31')
          | (df45['Rep'] == 'Shelly Bobb') & (df45['EnrollDate'] >= '2021-07-01') & (df45['EnrollDate'] <= '2021-07-31')
          | (df45['Rep'] == 'Carolina Zuluaga ') & (df45['EnrollDate'] >= '2021-07-01') & (df45['EnrollDate'] <= '2021-07-31')
          | (df45['Rep'] == 'Yanery Fernandez') & (df45['EnrollDate'] >= '2021-06-01') & (df45['EnrollDate'] <= '2021-06-30')
          | (df45['Rep'] == 'Ivonne Cedeno') & (df45['EnrollDate'] >= '2021-06-01') & (df45['EnrollDate'] <= '2021-06-30')
          | (df45['Rep'] == 'Laura Lou Seefeldt') & (df45['EnrollDate'] >= '2021-06-01') & (df45['EnrollDate'] <= '2021-06-30')
          | (df45['Rep'] == 'Jacqueline Garcia') & (df45['EnrollDate'] >= '2021-06-01') & (df45['EnrollDate'] <= '2021-06-30')
          | (df45['Rep'] == 'Shelly Bobb') & (df45['EnrollDate'] >= '2021-06-01') & (df45['EnrollDate'] <= '2021-06-30')
          | (df45['Rep'] == 'Angela Lozano') & (df45['EnrollDate'] >= '2021-06-01') & (df45['EnrollDate'] <= '2021-06-30')
          | (df45['Rep'] == 'Yanery Fernandez') & (df45['EnrollDate'] >= '2021-05-01') & (df45['EnrollDate'] <= '2021-05-31')
          | (df45['Rep'] == 'Ivonne Cedeno') & (df45['EnrollDate'] >= '2021-05-01') & (df45['EnrollDate'] <= '2021-05-31')
          | (df45['Rep'] == 'Laura Lou Seefeldt') & (df45['EnrollDate'] >= '2021-05-01') & (df45['EnrollDate'] <= '2021-05-31')
          | (df45['Rep'] == 'Griselle Leonardo') & (df45['EnrollDate'] >= '2021-05-01') & (df45['EnrollDate'] <= '2021-05-31')
          | (df45['Rep'] == 'Shelly Bobb') & (df45['EnrollDate'] >= '2021-05-01') & (df45['EnrollDate'] <= '2021-05-31')
          | (df45['Rep'] == 'Angela Lozano') & (df45['EnrollDate'] >= '2021-05-01') & (df45['EnrollDate'] <= '2021-05-31')
          | (df45['Rep'] == 'Yanery Fernandez') & (df45['EnrollDate'] >= '2021-04-01') & (df45['EnrollDate'] <= '2021-04-30')
          | (df45['Rep'] == 'Ivonne Cedeno') & (df45['EnrollDate'] >= '2021-04-01') & (df45['EnrollDate'] <= '2021-04-30')
          | (df45['Rep'] == 'James (Shiou-Hao) Lu') & (df45['EnrollDate'] >= '2021-04-01') & (df45['EnrollDate'] <= '2021-04-30')
          | (df45['Rep'] == 'Monalisa Crossway') & (df45['EnrollDate'] >= '2021-04-01') & (df45['EnrollDate'] <= '2021-04-30')
          | (df45['Rep'] == 'Laura Lou Seefeldt') & (df45['EnrollDate'] >= '2021-04-01') & (df45['EnrollDate'] <= '2021-04-30')
          | (df45['Rep'] == 'Griselle Leonardo') & (df45['EnrollDate'] >= '2021-04-01') & (df45['EnrollDate'] <= '2021-04-30')
          | (df45['Rep'] == 'Shelly Bobb') & (df45['EnrollDate'] >= '2021-04-01') & (df45['EnrollDate'] <= '2021-04-30')
          | (df45['Rep'] == 'Confessor Concepcion') & (df45['EnrollDate'] >= '2021-04-01') & (df45['EnrollDate'] <= '2021-04-30')
          | (df45['Rep'] == 'Angela Lozano') & (df45['EnrollDate'] >= '2021-04-01') & (df45['EnrollDate'] <= '2021-04-30')
          | (df45['Rep'] == 'Yanery Fernandez') & (df45['EnrollDate'] >= '2021-03-01') & (df45['EnrollDate'] <= '2021-03-31')
          | (df45['Rep'] == 'Ivonne Cedeno') & (df45['EnrollDate'] >= '2021-03-01') & (df45['EnrollDate'] <= '2021-03-31')
          | (df45['Rep'] == 'James (Shiou-Hao) Lu') & (df45['EnrollDate'] >= '2021-03-01') & (df45['EnrollDate'] <= '2021-03-31')
          | (df45['Rep'] == 'Monalisa Crossway') & (df45['EnrollDate'] >= '2021-03-01') & (df45['EnrollDate'] <= '2021-03-31')
          | (df45['Rep'] == 'Laura Lou Seefeldt') & (df45['EnrollDate'] >= '2021-03-01') & (df45['EnrollDate'] <= '2021-03-31')
          | (df45['Rep'] == 'Griselle Leonardo') & (df45['EnrollDate'] >= '2021-03-01') & (df45['EnrollDate'] <= '2021-03-31')
          | (df45['Rep'] == 'Shelly Bobb') & (df45['EnrollDate'] >= '2021-03-01') & (df45['EnrollDate'] <= '2021-03-31')
          | (df45['Rep'] == 'Zhen Zhu') & (df45['EnrollDate'] >= '2021-03-01') & (df45['EnrollDate'] <= '2021-03-31')
          | (df45['Rep'] == 'Confessor Concepcion') & (df45['EnrollDate'] >= '2021-03-01') & (df45['EnrollDate'] <= '2021-03-31')
          | (df45['Rep'] == 'Yanery Fernandez') & (df45['EnrollDate'] >= '2021-02-01') & (df45['EnrollDate'] <= '2021-02-28')
          | (df45['Rep'] == 'Ivonne Cedeno') & (df45['EnrollDate'] >= '2021-02-01') & (df45['EnrollDate'] <= '2021-02-28')
          | (df45['Rep'] == 'James (Shiou-Hao) Lu') & (df45['EnrollDate'] >= '2021-02-01') & (df45['EnrollDate'] <= '2021-02-28')
          | (df45['Rep'] == 'Monalisa Crossway') & (df45['EnrollDate'] >= '2021-02-01') & (df45['EnrollDate'] <= '2021-02-28')
          | (df45['Rep'] == 'Laura Lou Seefeldt') & (df45['EnrollDate'] >= '2021-02-01') & (df45['EnrollDate'] <= '2021-02-28')
          | (df45['Rep'] == 'Griselle Leonardo') & (df45['EnrollDate'] >= '2021-02-01') & (df45['EnrollDate'] <= '2021-02-28')
          | (df45['Rep'] == 'Shelly Bobb') & (df45['EnrollDate'] >= '2021-02-01') & (df45['EnrollDate'] <= '2021-02-28')
          | (df45['Rep'] == 'Zhen Zhu') & (df45['EnrollDate'] >= '2021-02-01') & (df45['EnrollDate'] <= '2021-02-28')
          | (df45['Rep'] == 'Confessor Concepcion') & (df45['EnrollDate'] >= '2021-02-01') & (df45['EnrollDate'] <= '2021-02-28')
          | (df45['Rep'] == 'Yanery Fernandez') & (df45['EnrollDate'] >= '2021-01-01') & (df45['EnrollDate'] <= '2021-01-31')
          | (df45['Rep'] == 'Ivonne Cedeno') & (df45['EnrollDate'] >= '2021-01-01') & (df45['EnrollDate'] <= '2021-01-31')
          | (df45['Rep'] == 'James (Shiou-Hao) Lu') & (df45['EnrollDate'] >= '2021-01-01') & (df45['EnrollDate'] <= '2021-01-31')
          | (df45['Rep'] == 'Monalisa Crossway') & (df45['EnrollDate'] >= '2021-01-01') & (df45['EnrollDate'] <= '2021-01-31')
          | (df45['Rep'] == 'Laura Lou Seefeldt') & (df45['EnrollDate'] >= '2021-01-01') & (df45['EnrollDate'] <= '2021-01-31')
          | (df45['Rep'] == 'Griselle Leonardo') & (df45['EnrollDate'] >= '2021-01-01') & (df45['EnrollDate'] <= '2021-01-31')
          | (df45['Rep'] == 'Shelly Bobb') & (df45['EnrollDate'] >= '2021-01-01') & (df45['EnrollDate'] <= '2021-01-31')
          | (df45['Rep'] == 'Keith Douglas') & (df45['EnrollDate'] >= '2021-01-01') & (df45['EnrollDate'] <= '2021-01-31')
          | (df45['Rep'] == 'Angela Hernandez') & (df45['EnrollDate'] >= '2021-01-01') & (df45['EnrollDate'] <= '2021-01-31')
          | (df45['Rep'] == 'Zhen Zhu') & (df45['EnrollDate'] >= '2021-01-01') & (df45['EnrollDate'] <= '2021-01-31')
          | (df45['Rep'] == 'Yanery Fernandez') & (df45['EnrollDate'] <= '2020-12-31')
          | (df45['Rep'] == 'Ivonne Cedeno') & (df45['EnrollDate'] <= '2020-12-31')
          | (df45['Rep'] == 'James (Shiou-Hao) Lu') & (df45['EnrollDate'] <= '2020-12-31')
          | (df45['Rep'] == 'Monalisa Crossway') & (df45['EnrollDate'] <= '2020-12-31')
          | (df45['Rep'] == 'Laura Lou Seefeldt') & (df45['EnrollDate'] <= '2020-12-31')
          | (df45['Rep'] == 'Griselle Leonardo') & (df45['EnrollDate'] <= '2020-12-31')
          | (df45['Rep'] == 'Shelly Bobb') & (df45['EnrollDate'] <= '2020-12-31')
          | (df45['Rep'] == 'Keith Douglas') & (df45['EnrollDate'] <= '2020-12-31')
          | (df45['Rep'] == 'Angela Hernandez') & (df45['EnrollDate'] <= '2020-12-31')
          | (df45['Rep'] == 'Zhen Zhu') & (df45['EnrollDate'] <= '2020-12-31')
          ,
            (df45['Rep'] == 'Katiria Fernandez ') & (df45['EnrollDate'] >= '2021-10-01')
          | (df45['Rep'] == 'Brad Willinger') & (df45['EnrollDate'] >= '2021-10-01')
    
          | (df45['Rep'] == 'Katiria Fernandez ') & (df45['EnrollDate'] >= '2021-09-01') & (df45['EnrollDate'] <= '2021-09-30')
          | (df45['Rep'] == 'Brad Willinger') & (df45['EnrollDate'] >= '2021-09-01') & (df45['EnrollDate'] <= '2021-09-30')
          | (df45['Rep'] == 'Katiria Fernandez ') & (df45['EnrollDate'] >= '2021-08-01') & (df45['EnrollDate'] <= '2021-08-31')
          | (df45['Rep'] == 'Brad Willinger') & (df45['EnrollDate'] >= '2021-08-01') & (df45['EnrollDate'] <= '2021-08-31')
          | (df45['Rep'] == 'Katiria Fernandez ') & (df45['EnrollDate'] >= '2021-07-01') & (df45['EnrollDate'] <= '2021-07-31')
          | (df45['Rep'] == 'Brad Willinger') & (df45['EnrollDate'] >= '2021-07-01') & (df45['EnrollDate'] <= '2021-07-31')
          | (df45['Rep'] == 'Carolina Zuluaga ') & (df45['EnrollDate'] >= '2021-06-01') & (df45['EnrollDate'] <= '2021-06-30') 
          | (df45['Rep'] == 'Katiria Fernandez ') & (df45['EnrollDate'] >= '2021-06-01') & (df45['EnrollDate'] <= '2021-06-30') 
          | (df45['Rep'] == 'Brad Willinger') & (df45['EnrollDate'] >= '2021-06-01') & (df45['EnrollDate'] <= '2021-06-30') 
          | (df45['Rep'] == 'Carolina Zuluaga ') & (df45['EnrollDate'] >= '2021-05-01') & (df45['EnrollDate'] <= '2021-05-31')
          | (df45['Rep'] == 'Katiria Fernandez ') & (df45['EnrollDate'] >= '2021-05-01') & (df45['EnrollDate'] <= '2021-05-31')
          | (df45['Rep'] == 'Brad Willinger') & (df45['EnrollDate'] >= '2021-05-01') & (df45['EnrollDate'] <= '2021-05-31')
          | (df45['Rep'] == 'Jacqueline Garcia') & (df45['EnrollDate'] >= '2021-05-01') & (df45['EnrollDate'] <= '2021-05-31')
          | (df45['Rep'] == 'Carolina Zuluaga ') & (df45['EnrollDate'] >= '2021-04-01') & (df45['EnrollDate'] <= '2021-04-30')
          | (df45['Rep'] == 'Katiria Fernandez ') & (df45['EnrollDate'] >= '2021-04-01') & (df45['EnrollDate'] <= '2021-04-30')
          | (df45['Rep'] == 'Brad Willinger') & (df45['EnrollDate'] >= '2021-04-01') & (df45['EnrollDate'] <= '2021-04-30')
          | (df45['Rep'] == 'Jacqueline Garcia') & (df45['EnrollDate'] >= '2021-04-01') & (df45['EnrollDate'] <= '2021-04-30')
          | (df45['Rep'] == 'Carolina Zuluaga ') & (df45['EnrollDate'] >= '2021-03-01') & (df45['EnrollDate'] <= '2021-03-31') 
          | (df45['Rep'] == 'Katiria Fernandez ') & (df45['EnrollDate'] >= '2021-03-01') & (df45['EnrollDate'] <= '2021-03-31')
          | (df45['Rep'] == 'Brad Willinger') & (df45['EnrollDate'] >= '2021-03-01') & (df45['EnrollDate'] <= '2021-03-31')
          | (df45['Rep'] == 'Carolina Zuluaga ') & (df45['EnrollDate'] >= '2021-02-01') & (df45['EnrollDate'] <= '2021-02-28') 
          | (df45['Rep'] == 'Katiria Fernandez ') & (df45['EnrollDate'] >= '2021-02-01') & (df45['EnrollDate'] <= '2021-02-28')
          | (df45['Rep'] == 'Brad Willinger') & (df45['EnrollDate'] >= '2021-02-01') & (df45['EnrollDate'] <= '2021-02-28')
          | (df45['Rep'] == 'Carolina Zuluaga ') & (df45['EnrollDate'] >= '2021-01-01') & (df45['EnrollDate'] <= '2021-01-31')
          | (df45['Rep'] == 'Katiria Fernandez ') & (df45['EnrollDate'] >= '2021-01-01') & (df45['EnrollDate'] <= '2021-01-31')
          | (df45['Rep'] == 'Vincent Lee') & (df45['EnrollDate'] >= '2021-01-01') & (df45['EnrollDate'] <= '2021-01-31')
          | (df45['Rep'] == 'Robert Echevarria ') & (df45['EnrollDate'] >= '2021-01-01') & (df45['EnrollDate'] <= '2021-01-31')
          | (df45['Rep'] == 'Brad Willinger') & (df45['EnrollDate'] >= '2021-01-01') & (df45['EnrollDate'] <= '2021-01-31')
          | (df45['Rep'] == 'Carolina Zuluaga ') & (df45['EnrollDate'] <= '2020-12-31')
          | (df45['Rep'] == 'Katiria Fernandez ') & (df45['EnrollDate'] <= '2020-12-31')
          | (df45['Rep'] == 'Vincent Lee') & (df45['EnrollDate'] <= '2020-12-31')
          | (df45['Rep'] == 'Robert Echevarria ') & (df45['EnrollDate'] <= '2020-12-31')
          | (df45['Rep'] == 'Brad Willinger') & (df45['EnrollDate'] <= '2020-12-31')
          ,
            (df45['Rep'] != 'Yanery Fernandez') & (df45['EnrollDate'] >= '2021-10-01')
          | (df45['Rep'] != 'Ivonne Cedeno') & (df45['EnrollDate'] >= '2021-10-01')
          | (df45['Rep'] != 'Laura Lou Seefeldt') & (df45['EnrollDate'] >= '2021-10-01')
          | (df45['Rep'] != 'Kuo Chun Chen') & (df45['EnrollDate'] >= '2021-10-01')
          | (df45['Rep'] != 'Charlie Taveras') & (df45['EnrollDate'] >= '2021-10-01')
          | (df45['Rep'] != 'Paula Andrea Luna Lopera') & (df45['EnrollDate'] >= '2021-10-01')
          | (df45['Rep'] != 'Carolina Zuluaga ') & (df45['EnrollDate'] >= '2021-10-01') 
          | (df45['Rep'] != 'Katiria Fernandez ') & (df45['EnrollDate'] >= '2021-10-01')
          | (df45['Rep'] != 'Brad Willinger') & (df45['EnrollDate'] >= '2021-10-01')
          | (df45['Rep'] != 'Jacqueline Garcia') & (df45['EnrollDate'] >= '2021-10-01')
          | (df45['Rep'] != 'Kenny Jolly') & (df2['EnrollDate'] >= '2021-10-01')
          | (df45['Rep'] != 'Donald Herline ') & (df2['EnrollDate'] >= '2021-10-01')
          | (df45['Rep'] != 'Jose Ortiz') & (df2['EnrollDate'] >= '2021-10-01')
          | (df45['Rep'] != 'Yeuneniy Sneremeta') & (df2['EnrollDate'] >= '2021-10-01')
    
          | (df45['Rep'] != 'Yanery Fernandez') & (df45['EnrollDate'] >= '2021-09-01') & (df45['EnrollDate'] <= '2021-09-30')
          | (df45['Rep'] != 'Ivonne Cedeno') & (df45['EnrollDate'] >= '2021-09-01') & (df45['EnrollDate'] <= '2021-09-30')
          | (df45['Rep'] != 'Laura Lou Seefeldt') & (df45['EnrollDate'] >= '2021-09-01') & (df45['EnrollDate'] <= '2021-09-30')
          | (df45['Rep'] != 'Kuo Chun Chen') & (df45['EnrollDate'] >= '2021-09-01') & (df45['EnrollDate'] <= '2021-09-30')
          | (df45['Rep'] != 'Charlie Taveras') & (df45['EnrollDate'] >= '2021-09-01') & (df45['EnrollDate'] <= '2021-09-30')
          | (df45['Rep'] != 'Paula Andrea Luna Lopera') & (df45['EnrollDate'] >= '2021-09-01') & (df45['EnrollDate'] <= '2021-09-30')
          | (df45['Rep'] != 'Carolina Zuluaga ') & (df45['EnrollDate'] >= '2021-09-01') & (df45['EnrollDate'] <= '2021-09-30') 
          | (df45['Rep'] != 'Katiria Fernandez ') & (df45['EnrollDate'] >= '2021-09-01') & (df45['EnrollDate'] <= '2021-09-30')
          | (df45['Rep'] != 'Brad Willinger') & (df45['EnrollDate'] >= '2021-09-01') & (df45['EnrollDate'] <= '2021-09-30')
          | (df45['Rep'] != 'Jacqueline Garcia') & (df45['EnrollDate'] >= '2021-09-01') & (df45['EnrollDate'] <= '2021-09-30')
          | (df45['Rep'] != 'Kenny Jolly') & (df2['EnrollDate'] >= '2021-09-01') & (df45['EnrollDate'] <= '2021-09-30')
          | (df45['Rep'] != 'Donald Herline ') & (df2['EnrollDate'] >= '2021-09-01') & (df45['EnrollDate'] <= '2021-09-30')
          | (df45['Rep'] != 'Jose Ortiz') & (df2['EnrollDate'] >= '2021-09-01') & (df45['EnrollDate'] <= '2021-09-30')
          | (df45['Rep'] != 'Yeuneniy Sneremeta') & (df2['EnrollDate'] >= '2021-09-01') & (df45['EnrollDate'] <= '2021-09-30')
    
          | (df45['Rep'] != 'Yanery Fernandez') & (df45['EnrollDate'] >= '2021-08-01') & (df45['EnrollDate'] <= '2021-08-31')
          | (df45['Rep'] != 'Ivonne Cedeno') & (df45['EnrollDate'] >= '2021-08-01') & (df45['EnrollDate'] <= '2021-08-31')
          | (df45['Rep'] != 'Laura Lou Seefeldt') & (df45['EnrollDate'] >= '2021-08-01') & (df45['EnrollDate'] <= '2021-08-31')
          | (df45['Rep'] != 'Kuo Chun Chen') & (df45['EnrollDate'] >= '2021-08-01') & (df45['EnrollDate'] <= '2021-08-31')
          | (df45['Rep'] != 'Charlie Taveras') & (df45['EnrollDate'] >= '2021-08-01') & (df45['EnrollDate'] <= '2021-08-31')
          | (df45['Rep'] != 'Paula Andrea Luna Lopera') & (df45['EnrollDate'] >= '2021-08-01') & (df45['EnrollDate'] <= '2021-08-31')
          | (df45['Rep'] != 'Carolina Zuluaga ') & (df45['EnrollDate'] >= '2021-08-01') & (df45['EnrollDate'] <= '2021-08-31')
          | (df45['Rep'] != 'Katiria Fernandez ') & (df45['EnrollDate'] >= '2021-08-01') & (df45['EnrollDate'] <= '2021-08-31')
          | (df45['Rep'] != 'Brad Willinger') & (df45['EnrollDate'] >= '2021-08-01') & (df45['EnrollDate'] <= '2021-08-31')
          | (df45['Rep'] != 'Jacqueline Garcia') & (df45['EnrollDate'] >= '2021-08-01') & (df45['EnrollDate'] <= '2021-08-31')
          | (df45['Rep'] != 'Yanery Fernandez') & (df45['EnrollDate'] >= '2021-07-01') & (df45['EnrollDate'] <= '2021-07-31')
          | (df45['Rep'] != 'Ivonne Cedeno') & (df45['EnrollDate'] >= '2021-07-01') & (df45['EnrollDate'] <= '2021-07-31')
          | (df45['Rep'] != 'Laura Lou Seefeldt') & (df45['EnrollDate'] >= '2021-07-01') & (df45['EnrollDate'] <= '2021-07-31')
          | (df45['Rep'] != 'Shelly Bobb') & (df45['EnrollDate'] >= '2021-07-01') & (df45['EnrollDate'] <= '2021-07-31')
          | (df45['Rep'] != 'Carolina Zuluaga ') & (df45['EnrollDate'] >= '2021-07-01') & (df45['EnrollDate'] <= '2021-07-31') 
          | (df45['Rep'] != 'Katiria Fernandez ') & (df45['EnrollDate'] >= '2021-07-01') & (df45['EnrollDate'] <= '2021-07-31')
          | (df45['Rep'] != 'Brad Willinger') & (df45['EnrollDate'] >= '2021-07-01') & (df45['EnrollDate'] <= '2021-07-31')
          | (df45['Rep'] != 'Jacqueline Garcia') & (df45['EnrollDate'] >= '2021-07-01') & (df45['EnrollDate'] <= '2021-07-31')
          | (df45['Rep'] != 'Yanery Fernandez') & (df45['EnrollDate'] >= '2021-06-01') & (df45['EnrollDate'] <= '2021-06-30')
          | (df45['Rep'] != 'Ivonne Cedeno') & (df45['EnrollDate'] >= '2021-06-01') & (df45['EnrollDate'] <= '2021-06-30')
          | (df45['Rep'] != 'Laura Lou Seefeldt') & (df45['EnrollDate'] >= '2021-06-01') & (df45['EnrollDate'] <= '2021-06-30')
          | (df45['Rep'] != 'Shelly Bobb') & (df45['EnrollDate'] >= '2021-06-01') & (df45['EnrollDate'] <= '2021-06-30')
          | (df45['Rep'] != 'Angela Lozano') & (df45['EnrollDate'] >= '2021-06-01') & (df45['EnrollDate'] <= '2021-06-30')
          | (df45['Rep'] != 'Carolina Zuluaga ') & (df45['EnrollDate'] >= '2021-06-01') & (df45['EnrollDate'] <= '2021-06-30') 
          | (df45['Rep'] != 'Katiria Fernandez ') & (df45['EnrollDate'] >= '2021-06-01') & (df45['EnrollDate'] <= '2021-06-30')
          | (df45['Rep'] != 'Brad Willinger') & (df45['EnrollDate'] >= '2021-06-01') & (df45['EnrollDate'] <= '2021-06-30')
          | (df45['Rep'] != 'Jacqueline Garcia') & (df45['EnrollDate'] >= '2021-06-01') & (df45['EnrollDate'] <= '2021-06-30')
          | (df45['Rep'] != 'Yanery Fernandez') & (df45['EnrollDate'] >= '2021-05-01') & (df45['EnrollDate'] <= '2021-05-31')
          | (df45['Rep'] != 'Ivonne Cedeno') & (df45['EnrollDate'] >= '2021-05-01') & (df45['EnrollDate'] <= '2021-05-31')
          | (df45['Rep'] != 'Monalisa Crossway') & (df45['EnrollDate'] >= '2021-05-01') & (df45['EnrollDate'] <= '2021-05-31')
          | (df45['Rep'] != 'Laura Lou Seefeldt') & (df45['EnrollDate'] >= '2021-05-01') & (df45['EnrollDate'] <= '2021-05-31')
          | (df45['Rep'] != 'Griselle Leonardo') & (df45['EnrollDate'] >= '2021-05-01') & (df45['EnrollDate'] <= '2021-05-31')
          | (df45['Rep'] != 'Shelly Bobb') & (df45['EnrollDate'] >= '2021-05-01') & (df45['EnrollDate'] <= '2021-05-31')
          | (df45['Rep'] != 'Angela Lozano') & (df45['EnrollDate'] >= '2021-05-01') & (df45['EnrollDate'] <= '2021-05-31')
          | (df45['Rep'] != 'Carolina Zuluaga ') & (df45['EnrollDate'] >= '2021-05-01') & (df45['EnrollDate'] <= '2021-05-31') 
          | (df45['Rep'] != 'Katiria Fernandez ') & (df45['EnrollDate'] >= '2021-05-01') & (df45['EnrollDate'] <= '2021-05-31')
          | (df45['Rep'] != 'Brad Willinger') & (df45['EnrollDate'] >= '2021-05-01') & (df45['EnrollDate'] <= '2021-05-31')
          | (df45['Rep'] != 'Jacqueline Garcia') & (df45['EnrollDate'] >= '2021-05-01') & (df45['EnrollDate'] <= '2021-05-31')
          | (df45['Rep'] != 'Yanery Fernandez') & (df45['EnrollDate'] >= '2021-04-01') & (df45['EnrollDate'] <= '2021-04-30')
          | (df45['Rep'] != 'Ivonne Cedeno') & (df45['EnrollDate'] >= '2021-04-01') & (df45['EnrollDate'] <= '2021-04-30')
          | (df45['Rep'] != 'James (Shiou-Hao) Lu') & (df45['EnrollDate'] >= '2021-04-01') & (df45['EnrollDate'] <= '2021-04-30')
          | (df45['Rep'] != 'Monalisa Crossway') & (df45['EnrollDate'] >= '2021-04-01') & (df45['EnrollDate'] <= '2021-04-30')
          | (df45['Rep'] != 'Laura Lou Seefeldt') & (df45['EnrollDate'] >= '2021-04-01') & (df45['EnrollDate'] <= '2021-04-30')
          | (df45['Rep'] != 'Griselle Leonardo') & (df45['EnrollDate'] >= '2021-04-01') & (df45['EnrollDate'] <= '2021-04-30')
          | (df45['Rep'] != 'Shelly Bobb') & (df45['EnrollDate'] >= '2021-04-01') & (df45['EnrollDate'] <= '2021-04-30')
          | (df45['Rep'] != 'Confessor Concepcion') & (df45['EnrollDate'] >= '2021-04-01') & (df45['EnrollDate'] <= '2021-04-30')
          | (df45['Rep'] != 'Angela Lozano') & (df45['EnrollDate'] >= '2021-04-01') & (df45['EnrollDate'] <= '2021-04-30')
          | (df45['Rep'] != 'Carolina Zuluaga ') & (df45['EnrollDate'] >= '2021-04-01') & (df45['EnrollDate'] <= '2021-04-30')
          | (df45['Rep'] != 'Katiria Fernandez ') & (df45['EnrollDate'] >= '2021-04-01') & (df45['EnrollDate'] <= '2021-04-30')
          | (df45['Rep'] != 'Brad Willinger') & (df45['EnrollDate'] >= '2021-04-01') & (df45['EnrollDate'] <= '2021-04-30')
          | (df45['Rep'] != 'Jacqueline Garcia') & (df45['EnrollDate'] >= '2021-04-01') & (df45['EnrollDate'] <= '2021-04-30')
          | (df45['Rep'] != 'Yanery Fernandez') & (df45['EnrollDate'] >= '2021-03-01') & (df45['EnrollDate'] <= '2021-03-31') 
          | (df45['Rep'] != 'Ivonne Cedeno') & (df45['EnrollDate'] >= '2021-03-01') & (df45['EnrollDate'] <= '2021-03-31')
          | (df45['Rep'] != 'James (Shiou-Hao) Lu') & (df45['EnrollDate'] >= '2021-03-01') & (df45['EnrollDate'] <= '2021-03-31')
          | (df45['Rep'] != 'Monalisa Crossway') & (df45['EnrollDate'] >= '2021-03-01') & (df45['EnrollDate'] <= '2021-03-31')
          | (df45['Rep'] != 'Laura Lou Seefeldt') & (df45['EnrollDate'] >= '2021-03-01') & (df45['EnrollDate'] <= '2021-03-31')
          | (df45['Rep'] != 'Griselle Leonardo') & (df45['EnrollDate'] >= '2021-03-01') & (df45['EnrollDate'] <= '2021-03-31')
          | (df45['Rep'] != 'Shelly Bobb') & (df45['EnrollDate'] >= '2021-03-01') & (df45['EnrollDate'] <= '2021-03-31')
          | (df45['Rep'] != 'Zhen Zhu') & (df45['EnrollDate'] >= '2021-03-01') & (df45['EnrollDate'] <= '2021-03-31')
          | (df45['Rep'] != 'Confessor Concepcion') & (df45['EnrollDate'] >= '2021-03-01') & (df45['EnrollDate'] <= '2021-03-31')
          | (df45['Rep'] != 'Carolina Zuluaga ') & (df45['EnrollDate'] >= '2021-03-01') & (df45['EnrollDate'] <= '2021-03-31')
          | (df45['Rep'] != 'Katiria Fernandez ') & (df45['EnrollDate'] >= '2021-03-01') & (df45['EnrollDate'] <= '2021-03-31')
          | (df45['Rep'] != 'Brad Willinger') & (df45['EnrollDate'] >= '2021-03-01') & (df45['EnrollDate'] <= '2021-03-31')
          | (df45['Rep'] != 'Yanery Fernandez') & (df45['EnrollDate'] >= '2021-02-01') & (df45['EnrollDate'] <= '2021-02-28') 
          | (df45['Rep'] != 'Ivonne Cedeno') & (df45['EnrollDate'] >= '2021-02-01') & (df45['EnrollDate'] <= '2021-02-28')
          | (df45['Rep'] != 'James (Shiou-Hao) Lu') & (df45['EnrollDate'] >= '2021-02-01') & (df45['EnrollDate'] <= '2021-02-28')
          | (df45['Rep'] != 'Monalisa Crossway') & (df45['EnrollDate'] >= '2021-02-01') & (df45['EnrollDate'] <= '2021-02-28')
          | (df45['Rep'] != 'Laura Lou Seefeldt') & (df45['EnrollDate'] >= '2021-02-01') & (df45['EnrollDate'] <= '2021-02-28')
          | (df45['Rep'] != 'Griselle Leonardo') & (df45['EnrollDate'] >= '2021-02-01') & (df45['EnrollDate'] <= '2021-02-28')
          | (df45['Rep'] != 'Shelly Bobb') & (df45['EnrollDate'] >= '2021-02-01') & (df45['EnrollDate'] <= '2021-02-28')
          | (df45['Rep'] != 'Zhen Zhu') & (df45['EnrollDate'] >= '2021-02-01') & (df45['EnrollDate'] <= '2021-02-28')
          | (df45['Rep'] != 'Confessor Concepcion') & (df45['EnrollDate'] >= '2021-02-01') & (df45['EnrollDate'] <= '2021-02-28')
          | (df45['Rep'] != 'Carolina Zuluaga ') & (df45['EnrollDate'] >= '2021-02-01') & (df45['EnrollDate'] <= '2021-02-28')
          | (df45['Rep'] != 'Katiria Fernandez ') & (df45['EnrollDate'] >= '2021-02-01') & (df45['EnrollDate'] <= '2021-02-28')
          | (df45['Rep'] != 'Brad Willinger') & (df45['EnrollDate'] >= '2021-02-01') & (df45['EnrollDate'] <= '2021-02-28')
          | (df45['Rep'] != 'Yanery Fernandez') & (df45['EnrollDate'] >= '2021-01-01') & (df45['EnrollDate'] <= '2021-01-31') 
          | (df45['Rep'] != 'Ivonne Cedeno') & (df45['EnrollDate'] >= '2021-01-01') & (df45['EnrollDate'] <= '2021-01-31')
          | (df45['Rep'] != 'James (Shiou-Hao) Lu') & (df45['EnrollDate'] >= '2021-01-01') & (df45['EnrollDate'] <= '2021-01-31')
          | (df45['Rep'] != 'Monalisa Crossway') & (df45['EnrollDate'] >= '2021-01-01') & (df45['EnrollDate'] <= '2021-01-31')
          | (df45['Rep'] != 'Laura Lou Seefeldt')  & (df45['EnrollDate'] >= '2021-01-01') & (df45['EnrollDate'] <= '2021-01-31')
          | (df45['Rep'] != 'Griselle Leonardo') & (df45['EnrollDate'] >= '2021-01-01') & (df45['EnrollDate'] <= '2021-01-31')
          | (df45['Rep'] != 'Shelly Bobb') & (df45['EnrollDate'] >= '2021-01-01') & (df45['EnrollDate'] <= '2021-01-31')
          | (df45['Rep'] != 'Keith Douglas') & (df45['EnrollDate'] >= '2021-01-01') & (df45['EnrollDate'] <= '2021-01-31')
          | (df45['Rep'] != 'Angela Hernandez') & (df45['EnrollDate'] >= '2021-01-01') & (df45['EnrollDate'] <= '2021-01-31')
          | (df45['Rep'] != 'Zhen Zhu') & (df45['EnrollDate'] >= '2021-01-01') & (df45['EnrollDate'] <= '2021-01-31')
          | (df45['Rep'] != 'Carolina Zuluaga ') & (df45['EnrollDate'] >= '2021-01-01') & (df45['EnrollDate'] <= '2021-01-31')
          | (df45['Rep'] != 'Katiria Fernandez ') & (df45['EnrollDate'] >= '2021-01-01') & (df45['EnrollDate'] <= '2021-01-31')
          | (df45['Rep'] != 'Vincent Lee') & (df45['EnrollDate'] >= '2021-01-01') & (df45['EnrollDate'] <= '2021-01-31')
          | (df45['Rep'] != 'Robert Echevarria ') & (df45['EnrollDate'] >= '2021-01-01') & (df45['EnrollDate'] <= '2021-01-31')
          | (df45['Rep'] != 'Brad Willinger') & (df45['EnrollDate'] >= '2021-01-01') & (df45['EnrollDate'] <= '2021-01-31')
          | (df45['Rep'] != 'Yanery Fernandez') & (df45['EnrollDate'] <= '2020-12-31')
          | (df45['Rep'] != 'Ivonne Cedeno') & (df45['EnrollDate'] <= '2020-12-31')
          | (df45['Rep'] != 'James (Shiou-Hao) Lu') & (df45['EnrollDate'] <= '2020-12-31')
          | (df45['Rep'] != 'Monalisa Crossway') & (df45['EnrollDate'] <= '2020-12-31')
          | (df45['Rep'] != 'Laura Lou Seefeldt') & (df45['EnrollDate'] <= '2020-12-31')
          | (df45['Rep'] != 'Griselle Leonardo') & (df45['EnrollDate'] <= '2020-12-31')
          | (df45['Rep'] != 'Shelly Bobb') & (df45['EnrollDate'] <= '2020-12-31')
          | (df45['Rep'] != 'Keith Douglas') & (df45['EnrollDate'] <= '2020-12-31')
          | (df45['Rep'] != 'Angela Hernandez') & (df45['EnrollDate'] <= '2020-12-31')
          | (df45['Rep'] != 'Zhen Zhu') & (df45['EnrollDate'] <= '2020-12-31')
          | (df45['Rep'] != 'Carolina Zuluaga ') & (df45['EnrollDate'] <= '2020-12-31')
          | (df45['Rep'] != 'Katiria Fernandez ') & (df45['EnrollDate'] <= '2020-12-31')
          | (df45['Rep'] != 'Vincent Lee') & (df45['EnrollDate'] <= '2020-12-31')
          | (df45['Rep'] != 'Robert Echevarria ') & (df45['EnrollDate'] <= '2020-12-31')
          | (df45['Rep'] != 'Brad Willinger') & (df45['EnrollDate'] <= '2020-12-31')
          ]



# create a list of the values we want to assign for each condition
values1 = ['Current_FieldSales', 'Current_TeleSales', 'Old_Sales']

# create a new column and use np.select to assign values to it using our lists as arguments

df45['Type'] = np.select(conditions5, values1)



# Select range

df45['EndDate'] = pd.to_datetime(df45['EndDate'], errors = 'coerce')

df45['EnrollDate'] = pd.to_datetime(df45['EnrollDate'], errors = 'coerce')

df45['DayEnrolled'] = df45['EndDate'] - df45['EnrollDate']

df45['DayEnrolled'] = pd.to_numeric(df45['DayEnrolled'].dt.days, downcast='integer')


df45['Days90'] = np.where(df45['DayEnrolled'] >= 90, 'NonRapid', 'Rapid')

df45 = df45.rename(columns={'ID': 'MBID'})

df45['LOB'] = "MAP"

print (df45)

C:\Users\tflung\Anaconda3\lib\site-packages\openpyxl\worksheet\_reader.py:300: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)

[61059, 63879, 93320, 98827, 45452, 88333, 309262, 100880, 304146, 99221, 37144, 87962, 122909, 18461, 6301, 24991, 113185, 124843, 139820, 84140, 114735, 92080, 106419, 41524, 121141, 129207, 45627, 129212, 103487, 45121, 139714, 92869, 133702, 63048, 44232, 110794, 101451, 119885, 29902, 47053, 146128, 135889, 112466, 111187, 58832, 5467, 107485, 103647, 93283, 140774, 142951, 91624, 94825, 116970, 68204, 38127, 305135, 123506, 23796, 137591, 138623]
81
   EnrollDate                         Rep  count
0  2021-01-01         Brad Willinger (BD)      1
1  2021-02-01       Carolina Zuluaga (BD)      2
2  2021-02-01      Griselle Leonardo (BD)      2
3  2021-02-01      Katiria Fernandez (BD)      7
4  2021-02-01     Laura Lou Seefeldt (BD)      1
5  2021-03-01       Carolina Zuluaga (BD)      1
6  2021-03-01      Griselle Leonardo (BD)      3
7  2021-03-01  Ivonne Cedeno Mendoza (BD)      1
8  2021-03-01     Laura Lou Seefeldt (BD)      5
9  2021-03-01            Shelly Bobb (BD)      2
10 2021-04-01       Carolina Zuluaga (BD)      4
11 2021-04-01     Laura Lou Seefeldt (BD)      4
12 2021-05-01       Carolina Zuluaga (BD)      1
13 2021-05-01      Griselle Leonardo (BD)      1
14 2021-05-01  Ivonne Cedeno Mendoza (BD)      1
15 2021-05-01      Jacqueline Garcia (BD)      6
16 2021-05-01      Katiria Fernandez (BD)      2
17 2021-06-01          Angela Lozano (BD)      1
18 2021-06-01         Brad Willinger (BD)      1
19 2021-06-01       Carolina Zuluaga (BD)      1
20 2021-06-01  Ivonne Cedeno Mendoza (BD)      4
21 2021-06-01      Jacqueline Garcia (BD)      4
22 2021-06-01      Katiria Fernandez (BD)      3
23 2021-06-01     Laura Lou Seefeldt (BD)      6
24 2021-07-01          Angela Lozano (BD)      1
25 2021-07-01         Brad Willinger (BD)      1
26 2021-07-01  Ivonne Cedeno Mendoza (BD)      2
27 2021-07-01      Jacqueline Garcia (BD)      2
28 2021-07-01     Laura Lou Seefeldt (BD)      2
29 2021-07-01            Shelly Bobb (BD)      1
30 2021-08-01         Brad Willinger (BD)      1
31 2021-08-01  Ivonne Cedeno Mendoza (BD)      4
32 2021-08-01      Katiria Fernandez (BD)      1
33 2021-08-01     Laura Lou Seefeldt (BD)      2
  EnrollDate  count
0 2021-01-01      1
1 2021-02-01     12
2 2021-03-01     12
3 2021-04-01      8
4 2021-05-01     11
5 2021-06-01     20
6 2021-07-01      9
7 2021-08-01      8
18
      MBID EnrollDate    EndDate       Status            Last     First  \
0   108616 2021-06-01 2021-06-30  Disenrolled         Cameron    Hubert
1   134937 2021-02-01 2021-03-31  Disenrolled         Camillo    Dalila
2   121698 2021-03-01 2021-03-31  Disenrolled       Chandross      Thea
3   128548 2021-02-01 2021-02-28  Disenrolled         Clavijo     Maria
4    70030 2021-06-01 2021-07-31  Disenrolled   Espinal Nunez      Juan
5    93322 2021-05-01 2021-06-30  Disenrolled           Gomez     Lucia
6   138002 2021-03-01 2021-08-31  Disenrolled         Gromova   Larissa
8   141222 2021-05-01 2021-08-31  Disenrolled            Mata      Rosa
9   300294 2021-04-01 2021-05-31  Disenrolled        Mcdowall      Carl
11  113431 2021-03-01 2021-03-31  Disenrolled          Medina   Roberto
12  141260 2021-02-01 2021-07-31  Disenrolled          Monroe     Alice
13   32139 2021-07-01 2021-08-31  Disenrolled      Mozaurieta     Maria
14  139063 2021-05-01 2021-07-31  Disenrolled           Pabon  Mercedes
15   88280 2021-05-01 2021-06-30  Disenrolled           Perez      Dina
16  134994 2021-06-01 2021-07-31  Disenrolled          Peters    Willie
17  107663 2021-06-01 2021-08-31  Disenrolled  Ramirez Medina   Rafael
18  137235 2021-03-01 2021-07-31  Disenrolled           Sealy  Veronica
19   69586 2021-03-01 2021-09-30  Disenrolled         Ramdhar     Vilma

   DisenrollmentCancellationReason VoluntaryInvoluntaryDisenrollment  \
0                              NaN                       Involuntary
1           Enrolled in a New Plan                         Voluntary
2                              NaN                       Involuntary
3           Enrolled in a New Plan                         Voluntary
4           Enrolled in a New Plan                         Voluntary
5           Enrolled in a New Plan                         Voluntary
6           Enrolled in a New Plan                         Voluntary
8           Enrolled in a New Plan                         Voluntary
9           Enrolled in a New Plan                         Voluntary
11          Enrolled in a New Plan                         Voluntary
12          Enrolled in a New Plan                         Voluntary
13                             NaN                       Involuntary
14          Enrolled in a New Plan                         Voluntary
15                     Loss of SNP                       Involuntary
16          Enrolled in a New Plan                         Voluntary
17          Enrolled in a New Plan                         Voluntary
18          Enrolled in a New Plan                         Voluntary
19          Enrolled in a New Plan                         Voluntary

                       Rep                Type  DayEnrolled    Days90  LOB
0       Laura Lou Seefeldt  Current_FieldSales           29     Rapid  MAP
1       Katiria Fernandez    Current_TeleSales           58     Rapid  MAP
2       Laura Lou Seefeldt  Current_FieldSales           30     Rapid  MAP
3       Katiria Fernandez    Current_TeleSales           27     Rapid  MAP
4   Jacqueline Garcia (BD)           Old_Sales           60     Rapid  MAP
5   Jacqueline Garcia (BD)           Old_Sales           60     Rapid  MAP
6            Ivonne Cedeno  Current_FieldSales          183  NonRapid  MAP
8        Carolina Zuluaga    Current_TeleSales          122  NonRapid  MAP
9        Carolina Zuluaga    Current_TeleSales           60     Rapid  MAP
11             Shelly Bobb  Current_FieldSales           30     Rapid  MAP
12       Carolina Zuluaga    Current_TeleSales          180  NonRapid  MAP
13           Ivonne Cedeno  Current_FieldSales           61     Rapid  MAP
14  Jacqueline Garcia (BD)           Old_Sales           91  NonRapid  MAP
15  Jacqueline Garcia (BD)           Old_Sales           60     Rapid  MAP
16           Ivonne Cedeno  Current_FieldSales           60     Rapid  MAP
17  Jacqueline Garcia (BD)           Old_Sales           91  NonRapid  MAP
18             Shelly Bobb  Current_FieldSales          152  NonRapid  MAP
19      Laura Lou Seefeldt  Current_FieldSales          213  NonRapid  MAP

<ipython-input-4-2e3e1fcc21a2>:183: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df45['Rep'] = df45['Rep'].replace('Ivonne Cedeno Mendoza (BD)', 'Ivonne Cedeno', regex=False)
<ipython-input-4-2e3e1fcc21a2>:184: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df45['Rep'] = df45['Rep'].replace('James (Shiou-Hao) Lu', 'James (Shiou-Hao) Lu', regex=False)
<ipython-input-4-2e3e1fcc21a2>:185: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df45['Rep'] = df45['Rep'].replace('Laura Lou Seefeldt (BD)', 'Laura Lou Seefeldt', regex=False)
<ipython-input-4-2e3e1fcc21a2>:186: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df45['Rep'] = df45['Rep'].replace('Griselle Leonardo (BD)', 'Griselle Leonardo', regex=False)
<ipython-input-4-2e3e1fcc21a2>:187: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df45['Rep'] = df45['Rep'].replace('Shelly Bobb (BD)', 'Shelly Bobb', regex=False)
<ipython-input-4-2e3e1fcc21a2>:188: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df45['Rep'] = df45['Rep'].replace('Carolina Zuluaga (BD)', 'Carolina Zuluaga ', regex=False)
<ipython-input-4-2e3e1fcc21a2>:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df45['Rep'] = df45['Rep'].replace('Katiria Fernandez (BD)', 'Katiria Fernandez ', regex=False)
<ipython-input-4-2e3e1fcc21a2>:190: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df45['Rep'] = df45['Rep'].replace('Brad Willinger (BD)', 'Brad Willinger', regex=False)
<ipython-input-4-2e3e1fcc21a2>:192: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df45['Rep'] = df45['Rep'].replace('Vincent Lee (BD)', 'Vincent Lee', regex=False)
<ipython-input-4-2e3e1fcc21a2>:193: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df45['Rep'] = df45['Rep'].replace('Kuo Chun Chen (BD)', 'Kuo Chun Chen', regex=False)
<ipython-input-4-2e3e1fcc21a2>:194: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df45['Rep'] = df45['Rep'].replace('Charlie Taveras (BD)', 'Charlie Taveras', regex=False)
<ipython-input-4-2e3e1fcc21a2>:195: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df45['Rep'] = df45['Rep'].replace('Paula Andrea Luna Lopera (BD)', 'Paula Andrea Luna Lopera', regex=False)
<ipython-input-4-2e3e1fcc21a2>:197: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df45['Status'] = df45['Status'].replace('disenrolled', 'Disenrolled', regex=False)
<ipython-input-4-2e3e1fcc21a2>:200: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df45['VoluntaryInvoluntaryDisenrollment'] = df45['VoluntaryInvoluntaryDisenrollment'].replace(np.nan, 'Involuntary', regex=False)
<ipython-input-4-2e3e1fcc21a2>:424: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df45['Type'] = np.select(conditions5, values1)
<ipython-input-4-2e3e1fcc21a2>:430: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df45['EndDate'] = pd.to_datetime(df45['EndDate'], errors = 'coerce')
<ipython-input-4-2e3e1fcc21a2>:432: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df45['EnrollDate'] = pd.to_datetime(df45['EnrollDate'], errors = 'coerce')
<ipython-input-4-2e3e1fcc21a2>:434: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df45['DayEnrolled'] = df45['EndDate'] - df45['EnrollDate']
<ipython-input-4-2e3e1fcc21a2>:436: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df45['DayEnrolled'] = pd.to_numeric(df45['DayEnrolled'].dt.days, downcast='integer')
<ipython-input-4-2e3e1fcc21a2>:439: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df45['Days90'] = np.where(df45['DayEnrolled'] >= 90, 'NonRapid', 'Rapid')

# Join 45 & 3

In [5]:
result = df3.append(df45)

#result['EndDate'] = result['EndDate'].replace('2021-03-01', '2021-02-28', regex=False)

#df37['Month'] = df37['Month'] + pd.to_timedelta(1, unit='d')



result.loc[result['EndDate'] == '2021-03-01', 'End'] = result['EndDate'] - pd.to_timedelta(1, unit='d')
result.loc[result['EndDate'] != '2021-03-01', 'End'] = result['EndDate']

result = result.drop('EndDate', 1)

result = result.rename(columns={'End': 'EndDate'})

result['EndDate'] = pd.to_datetime(result['EndDate'], errors = 'coerce')

# 

result.loc[result['DisenrollmentCancellationReason'] == 'PBP Change', 'PBP_col'] = 'PBP'
result.loc[result['DisenrollmentCancellationReason'] == 'PBP change', 'PBP_col'] = 'PBP'
result.loc[result['DisenrollmentCancellationReason'] != 'PBP Change', 'PBP_col'] = 'Others'

# replace condition

result.loc[(result.PBP_col == 'PBP') & (result.VoluntaryInvoluntaryDisenrollment =='Involuntary'), 'VoluntaryInvoluntaryDisenrollment'] = 'Voluntary'

# set Enddate from 

#result = result[(result['EndDate'] >= '2020-11-01') & (result['EndDate'] <= '2021-04-30')]
result = result[(result['EndDate'] <= '2021-10-01')]


result

,CTID,MBID,Last,First,MBI,CIN,Area,LOB,EnrollDate,Status,...,DrugPlan,IdCardReceived,DateEnrolledDTRR,DateLetterSent,PreviousPlan,Type,DayEnrolled,Days90,EndDate,PBP_col
70,MW12229,15069,Washington,Maurice,3PC3H13CD11,,NYC,MAPD,2015-01-01,Disenrolled,...,Yes,,,,,Old_Sales,2191.0,NonRapid,2020-12-31,Others
102,LJ12499,15100,Jordan,Lavenia,8VD0FJ1XT05,,NYC,MAPD,2015-01-01,Disenrolled,...,Yes,,,,,Old_Sales,2250.0,NonRapid,2021-02-28,Others
144,AL12310,6347,Longo,Antoinette,9R59XU8VT28,,NYC,MAPD,2015-02-01,Disenrolled,...,Yes,,,,,Old_Sales,2191.0,NonRapid,2021-01-31,Others
154,KR13244,15681,Reid,Kenneth,5V97H15GU73,,NYC,MAPD,2015-03-01,Disenrolled,...,Yes,,,,,Old_Sales,2344.0,NonRapid,2021-07-31,Others
182,AS13868,17903,Serrano,Angel,3UK1KG5WV03,,NYC,MAPD,2015-04-01,Disenrolled,...,Yes,,,,,Old_Sales,2101.0,NonRapid,2020-12-31,Others
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14,NaN,139063,Pabon,Mercedes,NaN,NaN,NaN,MAP,2021-05-01,Disenrolled,...,NaN,NaN,NaN,NaN,NaN,Old_Sales,91.0,NonRapid,2021-07-31,Others
15,NaN,88280,Perez,Dina,NaN,NaN,NaN,MAP,2021-05-01,Disenrolled,...,NaN,NaN,NaN,NaN,NaN,Old_Sales,60.0,Rapid,2021-06-30,Others
16,NaN,134994,Peters,Willie,NaN,NaN,NaN,MAP,2021-06-01,Disenrolled,...,NaN,NaN,NaN,NaN,NaN,Current_FieldSales,60.0,Rapid,2021-07-31,Others
17,NaN,107663,Ramirez Medina,Rafael,NaN,NaN,NaN,MAP,2021-06-01,Disenrolled,...,NaN,NaN,NaN,NaN,NaN,Old_Sales,91.0,NonRapid,2021-08-31,Others
18,NaN,137235,Sealy,Veronica,NaN,NaN,NaN,MAP,2021-03-01,Disenrolled,...,NaN,NaN,NaN,NaN,NaN,Current_FieldSales,152.0,NonRapid,2021-07-31,Others

In [6]:
result.to_csv(r'disenroll_reason.csv', index = False)
#df28.to_excel(r'disenroll_number.xlsx', index = False)

# Pivot Table

In [7]:
result.columns

Index(['CTID', 'MBID', 'Last', 'First', 'MBI', 'CIN', 'Area', 'LOB',
       'EnrollDate', 'Status', 'SubStatus', 'AppDate', 'AppReceivedDate',
       'DateSubmittedtoCMS', 'ProcessedDas', 'Rep', 'Comments', 'DateRFI',
       'ReasonENR', 'DueDateENR', 'DateReceivedENR', 'ElectionPeriod',
       'SEPReason', 'ReferralSource', 'DenialRejectedReason',
       'DisenrollmentCancellationReason', 'VoluntaryInvoluntaryDisenrollment',
       'SignedLetter', 'DateofSignedLetter', 'DateofSignedLetterReceived',
       'DisenrollmentRequestStatus', 'DateDISENR', 'ReasonDISENR',
       'DueDateDISENR', 'DateReceivedDISENR', 'ContractNumber', 'PCPAssigned',
       'MonthsEnrolled', 'HICN', 'Facility', 'EnrollmentMechanism',
       'OriginalPlan', 'DrugPlan', 'IdCardReceived', 'DateEnrolledDTRR',
       'DateLetterSent', 'PreviousPlan', 'Type', 'DayEnrolled', 'Days90',
       'EndDate', 'PBP_col'],
      dtype='object')

In [8]:
df46 = result[(result['Status'] == 'Disenrolled')]

df46 = df46[(df46['EndDate'] >= '2020-12-01')]

#df46 = df46[df46['DisenrollmentCancellationReason'] != 'PBP change']

#df46.loc[df46['DisenrollmentCancellationReason'] == 'PBP Change', 'PBP_col'] = 'PBP'
#df46.loc[df46['DisenrollmentCancellationReason'] == 'PBP change', 'PBP_col'] = 'PBP'
#df46.loc[df46['DisenrollmentCancellationReason'] != 'PBP Change', 'PBP_col'] = 'Others'

# replace condition

#df46.loc[(df46.PBP_col == 'PBP') & (df46.VoluntaryInvoluntaryDisenrollment =='Involuntary'), 'VoluntaryInvoluntaryDisenrollment'] = 'Voluntary'

#print (df46)

df47 = df46.groupby(["EndDate", "VoluntaryInvoluntaryDisenrollment", "PBP_col"])["LOB"].count().reset_index(name="count")

#df47


df48 = pd.pivot_table(df47, index=['VoluntaryInvoluntaryDisenrollment', "PBP_col"], columns=['EndDate'], values=['count'], aggfunc='first')


print (df48)


#df46
#df8 = df7.groupby(["EnrollDate", "LOB", "type", "Rep"])["Rep"].count().reset_index(name="count")
#df46 = pd.pivot_table(result, index=['Rep', 'type'], columns=['LOB'], values=['count'], aggfunc='first')

                                               count                        \
EndDate                                   2020-12-31 2021-01-31 2021-02-28
VoluntaryInvoluntaryDisenrollment PBP_col
Involuntary                       Others         1.0        5.0        3.0
Voluntary                         Others       106.0       84.0       65.0
                                  PBP          123.0       77.0       21.0

                                                                            \
EndDate                                   2021-03-31 2021-04-30 2021-05-31
VoluntaryInvoluntaryDisenrollment PBP_col
Involuntary                       Others         6.0       12.0        2.0
Voluntary                         Others        70.0       51.0       46.0
                                  PBP           10.0        9.0        5.0


EndDate                                   2021-06-30 2021-07-31 2021-08-31
VoluntaryInvoluntaryDisenrollment PBP_col
Involuntary                       Others         9.0        8.0        6.0
Voluntary                         Others        49.0       66.0       59.0
                                  PBP            NaN        3.0        3.0

In [9]:






df58 = df46.groupby(["Rep", "VoluntaryInvoluntaryDisenrollment", "PBP_col"])["LOB"].count().reset_index(name="count")

#df47

namelist = ['Yanery Fernandez', 'Ivonne Cedeno', 
             #'Monalisa Crossway', 'Griselle Leonardo',
             'Laura Lou Seefeldt',  
             'Shelly Bobb', #'Angela Lozano', 
             'Carolina Zuluaga ', 'Katiria Fernandez ', 
             'Brad Willinger', 'Jacqueline Garcia']

namelist1 = ['Yanery Fernandez', 'Ivonne Cedeno', 
             #'Monalisa Crossway', 'Griselle Leonardo', 
             'Laura Lou Seefeldt', 
             'Shelly Bobb', #'Angela Lozano', 
             'Jacqueline Garcia', 'Carolina Zuluaga ']

namelist2 = ['Katiria Fernandez ', 
             'Brad Willinger']

df59 = df58[df58['Rep'].isin(namelist1)]

df64 = df58[df58['Rep'].isin(namelist2)]

df61 = df58[~df58['Rep'].isin(namelist)]


df60 = pd.pivot_table(df59, index=['VoluntaryInvoluntaryDisenrollment', "PBP_col"], columns=['Rep'], values=['count'], aggfunc='first')

df65 = pd.pivot_table(df64, index=['VoluntaryInvoluntaryDisenrollment', "PBP_col"], columns=['Rep'], values=['count'], aggfunc='first')

df61 = pd.pivot_table(df61, index=['VoluntaryInvoluntaryDisenrollment', "PBP_col"], columns=['Rep'], values=['count'], aggfunc='first')


print (df60)

print (df65)

print (df61)

                                                      count                \
Rep                                       Carolina Zuluaga  Ivonne Cedeno
VoluntaryInvoluntaryDisenrollment PBP_col
Involuntary                       Others                2.0           2.0
Voluntary                         Others               47.0          31.0
                                  PBP                   NaN          27.0

                                                             \
Rep                                       Jacqueline Garcia
VoluntaryInvoluntaryDisenrollment PBP_col
Involuntary                       Others                NaN
Voluntary                         Others               12.0
                                  PBP                   4.0

                                                                          \
Rep                                       Laura Lou Seefeldt Shelly Bobb
VoluntaryInvoluntaryDisenrollment PBP_col
Involuntary                       Others                 4.0         NaN
Voluntary                         Others                13.0        23.0
                                  PBP                   12.0         5.0


Rep                                       Yanery Fernandez
VoluntaryInvoluntaryDisenrollment PBP_col
Involuntary                       Others               5.0
Voluntary                         Others              76.0
                                  PBP                  2.0
                                                   count
Rep                                       Brad Willinger Katiria Fernandez
VoluntaryInvoluntaryDisenrollment PBP_col
Involuntary                       Others               6                  2
Voluntary                         Others              63                 36
                                  PBP                 56                  2
                                                count                 \
Rep                                       Alex Rivera Alexander Mota
VoluntaryInvoluntaryDisenrollment PBP_col
Involuntary                       Others          2.0            2.0
Voluntary                         Others         19.0            2.0
                                  PBP             1.0            6.0

                                                                          \
Rep                                       Angela Hernandez Angela Lozano
VoluntaryInvoluntaryDisenrollment PBP_col
Involuntary                       Others               1.0           NaN
Voluntary                         Others               NaN           7.0
                                  PBP                  1.0           NaN

                                                                          \
Rep                                       Angena Noel Chouaiba Coulibaly
VoluntaryInvoluntaryDisenrollment PBP_col
Involuntary                       Others          NaN                NaN
Voluntary                         Others          6.0                1.0
                                  PBP             6.0                NaN

                                                              \
Rep                                       Christopher Rivera
VoluntaryInvoluntaryDisenrollment PBP_col
Involuntary                       Others                 NaN
Voluntary                         Others                 5.0
                                  PBP                    2.0

                                                                              \
Rep                                       Confessor Concepcion Daniel Torres
VoluntaryInvoluntaryDisenrollment PBP_col
Involuntary                       Others                   NaN           NaN
Voluntary                         Others                   2.0           6.0
                                  PBP                      1.0           1.0

                                                         ...  \
Rep                                       Dante Verduga  ...
VoluntaryInvoluntaryDisenrollment PBP_col                ...
Involuntary                       Others            5.0  ...
Voluntary                         Others           45.0  ...
                                  PBP              49.0  ...

                                                                          \
Rep                                       Pascal Saint-Aude Piedad Macas
VoluntaryInvoluntaryDisenrollment PBP_col
Involuntary                       Others                NaN          NaN
Voluntary                         Others                4.0          2.0
                                  PBP                   NaN          NaN

                                                                           \
Rep                                       Robert Echevarria  Shiou Hao Lu
VoluntaryInvoluntaryDisenrollment PBP_col
Involuntary                       Others                 NaN          NaN
Voluntary                         Others                10.0          8.0
                                  PBP                    NaN          1.0

                                                                       \
Rep                                       Tessa Minns Vanessa Perdomo
VoluntaryInvoluntaryDisenrollment PBP_col
Involuntary                       Others          2.0             NaN
Voluntary                         Others         11.0             NaN
                                  PBP             NaN             1.0

                                                                             \
Rep                                       Vincent Lee Wendy Butten Zhen Zhu
VoluntaryInvoluntaryDisenrollment PBP_col
Involuntary                       Others          NaN          2.0      NaN
Voluntary                         Others         34.0          5.0     15.0
                                  PBP            18.0          2.0      NaN


Rep                                       none
VoluntaryInvoluntaryDisenrollment PBP_col
Involuntary                       Others   NaN
Voluntary                         Others   1.0
                                  PBP      NaN

[3 rows x 41 columns]

In [10]:
df49 = df46.groupby(["LOB", "VoluntaryInvoluntaryDisenrollment", "PBP_col"])["LOB"].count().reset_index(name="count")

print (df49['count'].sum(axis = 0, skipna = True))

df50 = pd.pivot_table(df49, index=['VoluntaryInvoluntaryDisenrollment', "PBP_col"], columns=['LOB'], values=['count'], aggfunc='first')


print (df50)

899
                                           count
LOB                                        D-SNP   MAP   MAPD
VoluntaryInvoluntaryDisenrollment PBP_col
Involuntary                       Others    30.0   4.0   18.0
Voluntary                         Others   392.0  13.0  191.0
                                  PBP      246.0   NaN    5.0

In [11]:
df51 = df46[(df46['VoluntaryInvoluntaryDisenrollment'] == 'Voluntary')]
df51 = df51[(df51['PBP_col']) == 'Others']

print (len(df51))

df52 = df51.groupby(["EndDate", "Type"])["LOB"].count().reset_index(name="count")

#df47


df52 = pd.pivot_table(df52, index=['Type'], columns=['EndDate'], values=['count'], aggfunc='first')

df52

596

                        count                                              \
EndDate            2020-12-31 2021-01-31 2021-02-28 2021-03-31 2021-04-30
Type
Current_FieldSales          2         41         31         33         21
Current_TeleSales          25         30         20         26         19
Old_Sales                  79         13         14         11         11


EndDate            2021-05-31 2021-06-30 2021-07-31 2021-08-31
Type
Current_FieldSales         23         21         35         32
Current_TeleSales          16         20         23         17
Old_Sales                   7          8          8         10

In [12]:
df63 = df51.groupby(["EndDate", "Days90"])["LOB"].count().reset_index(name="count")

#df47


df63 = pd.pivot_table(df63, index=['Days90'], columns=['EndDate'], values=['count'], aggfunc='first')

df63

              count                                                         \
EndDate  2020-12-31 2021-01-31 2021-02-28 2021-03-31 2021-04-30 2021-05-31
Days90
NonRapid        105         20         14         13         27         33
Rapid             1         64         51         57         24         13


EndDate  2021-06-30 2021-07-31 2021-08-31
Days90
NonRapid         37         47         51
Rapid            12         19          8

In [13]:
df62 = df51.groupby(["LOB", "Type"])["LOB"].count().reset_index(name="count")

print (df62['count'].sum(axis = 0, skipna = True))


df62 = pd.pivot_table(df62, index=['Type'], columns=['LOB'], values=['count'], aggfunc='first')

df62

596

                   count
LOB                D-SNP MAP MAPD
Type
Current_FieldSales   190   4   45
Current_TeleSales    158   5   33
Old_Sales             44   4  113

In [14]:
df54 = df51.groupby(["LOB", "Days90"])["LOB"].count().reset_index(name="count")

print (df54['count'].sum(axis = 0, skipna = True))


df54 = pd.pivot_table(df54, index=['Days90'], columns=['LOB'], values=['count'], aggfunc='first')

df54

596

         count
LOB      D-SNP MAP MAPD
Days90
NonRapid   186   6  155
Rapid      206   7   36

In [15]:
df55 = df51.groupby(["EndDate", "Rep"])["LOB"].count().reset_index(name="count")

#df47


#df55 = pd.pivot_table(df55, index=['Rep'], columns=['EndDate'], values=['count'], aggfunc='first')

#df55

In [16]:
namelist = ['Yanery Fernandez', 'Ivonne Cedeno', 
             #'Monalisa Crossway', 'Griselle Leonardo', 
             'Laura Lou Seefeldt', 
             'Shelly Bobb', #'Angela Lozano', 
             'Carolina Zuluaga ', 'Katiria Fernandez ', 
             'Brad Willinger', 'Jacqueline Garcia']




df56 = df55[df55['Rep'].isin(namelist)]

df57 = df55[~df55['Rep'].isin(namelist)]

df56 = pd.pivot_table(df56, index=['Rep'], columns=['EndDate'], values=['count'], aggfunc='first')

df57 = pd.pivot_table(df57, index=['Rep'], columns=['EndDate'], values=['count'], aggfunc='first')

print (df56)

print (df57)

                        count                                              \
EndDate            2020-12-31 2021-01-31 2021-02-28 2021-03-31 2021-04-30
Rep
Brad Willinger           18.0        4.0        2.0        9.0        9.0
Carolina Zuluaga          NaN        9.0        2.0        6.0        7.0
Ivonne Cedeno             NaN        4.0        4.0        4.0        2.0
Jacqueline Garcia         NaN        NaN        NaN        NaN        1.0
Katiria Fernandez         NaN        3.0       11.0        5.0        1.0
Laura Lou Seefeldt        NaN        5.0        NaN        1.0        NaN
Shelly Bobb               2.0        5.0        5.0        4.0        1.0
Yanery Fernandez          NaN       17.0        7.0       14.0        8.0


EndDate            2021-05-31 2021-06-30 2021-07-31 2021-08-31
Rep
Brad Willinger            5.0        3.0        8.0        5.0
Carolina Zuluaga          3.0        9.0        8.0        3.0
Ivonne Cedeno             3.0        1.0        8.0        5.0
Jacqueline Garcia         3.0        3.0        2.0        3.0
Katiria Fernandez         2.0        2.0        6.0        6.0
Laura Lou Seefeldt        4.0        1.0        NaN        2.0
Shelly Bobb               1.0        3.0        1.0        1.0
Yanery Fernandez          6.0        6.0       11.0        7.0
                            count                                              \
EndDate                2020-12-31 2021-01-31 2021-02-28 2021-03-31 2021-04-30
Rep
Alex Rivera                  13.0        1.0        4.0        NaN        NaN
Alexander Mota                2.0        NaN        NaN        NaN        NaN
Angela Lozano                 NaN        NaN        NaN        NaN        1.0
Angena Noel                   4.0        1.0        NaN        NaN        1.0
Chouaiba Coulibaly            NaN        NaN        NaN        1.0        NaN
Christopher Rivera            1.0        1.0        NaN        1.0        1.0
Confessor Concepcion          NaN        NaN        NaN        NaN        NaN
Daniel Torres                 2.0        1.0        1.0        2.0        NaN
Dante Verduga                26.0        3.0        3.0        2.0        4.0
Enmanuel Gomez                NaN        NaN        NaN        NaN        NaN
Frank Torres                  2.0        NaN        NaN        NaN        NaN
George Moreno                 1.0        1.0        NaN        NaN        NaN
Griselle Leonardo             NaN        1.0        4.0        2.0        3.0
Henry Vogel                   1.0        NaN        NaN        NaN        NaN
Hilcia Grullon                1.0        NaN        NaN        NaN        NaN
Isabel Alcantara              NaN        NaN        NaN        NaN        NaN
Ismael Rodriguez III          1.0        1.0        NaN        NaN        1.0
Jacqueline Garcia (BD)        NaN        NaN        NaN        NaN        NaN
James (Shiou-Hao) Lu          NaN        1.0        3.0        2.0        2.0
Julio Rodriguez               2.0        NaN        1.0        NaN        2.0
Keith Douglas                 NaN        NaN        NaN        NaN        NaN
Kenny Jolly                   4.0        NaN        1.0        NaN        1.0
Kyle Chow                     1.0        NaN        NaN        NaN        NaN
Lester Brown                  NaN        NaN        NaN        NaN        NaN
Miltan Harry                  NaN        1.0        NaN        NaN        1.0
Monalisa Crossway             NaN        4.0        3.0        3.0        3.0
Natalie DiStefano             NaN        NaN        1.0        1.0        NaN
None                          NaN        NaN        1.0        1.0        NaN
Pascal Saint-Aude             3.0        NaN        1.0        NaN        NaN
Piedad Macas                  NaN        1.0        NaN        1.0        NaN
Robert Echevarria             NaN        4.0        2.0        NaN        NaN
Shiou Hao Lu                  6.0        NaN        NaN        1.0        NaN
Tessa Minns                   6.0        2.0        NaN        NaN        NaN
Vincent Lee                   7.0       10.0        3.0        6.0        1.0
Wendy Butten                  3.0        NaN        NaN        1.0        NaN
Zhen Zhu                      NaN        4.0        5.0        3.0        1.0
none                          NaN        NaN        1.0        NaN        NaN


EndDate                2021-05-31 2021-06-30 2021-07-31 2021-08-31
Rep
Alex Rivera                   NaN        NaN        NaN        1.0
Alexander Mota                NaN        NaN        NaN        NaN
Angela Lozano                 NaN        1.0        3.0        2.0
Angena Noel                   NaN        NaN        NaN        NaN
Chouaiba Coulibaly            NaN        NaN        NaN        NaN
Christopher Rivera            NaN        NaN        NaN        1.0
Confessor Concepcion          NaN        1.0        NaN        1.0
Daniel Torres                 NaN        NaN        NaN        NaN
Dante Verduga                 2.0        2.0        1.0        2.0
Enmanuel Gomez                NaN        NaN        1.0        1.0
Frank Torres                  1.0        NaN        NaN        NaN
George Moreno                 NaN        NaN        NaN        1.0
Griselle Leonardo             4.0        2.0        3.0        2.0
Henry Vogel                   1.0        NaN        NaN        NaN
Hilcia Grullon                NaN        NaN        NaN        NaN
Isabel Alcantara              NaN        1.0        NaN        NaN
Ismael Rodriguez III          NaN        NaN        1.0        1.0
Jacqueline Garcia (BD)        NaN        1.0        2.0        1.0
James (Shiou-Hao) Lu          2.0        3.0        2.0        2.0
Julio Rodriguez               1.0        NaN        NaN        1.0
Keith Douglas                 NaN        NaN        NaN        1.0
Kenny Jolly                   1.0        NaN        NaN        NaN
Kyle Chow                     NaN        NaN        NaN        NaN
Lester Brown                  NaN        1.0        NaN        NaN
Miltan Harry                  NaN        NaN        NaN        NaN
Monalisa Crossway             3.0        4.0        4.0        5.0
Natalie DiStefano             NaN        NaN        NaN        NaN
None                          NaN        1.0        NaN        NaN
Pascal Saint-Aude             NaN        NaN        NaN        NaN
Piedad Macas                  NaN        NaN        NaN        NaN
Robert Echevarria             1.0        1.0        2.0        NaN
Shiou Hao Lu                  NaN        NaN        1.0        NaN
Tessa Minns                   1.0        NaN        1.0        1.0
Vincent Lee                   2.0        2.0        NaN        3.0
Wendy Butten                  NaN        NaN        1.0        NaN
Zhen Zhu                      NaN        1.0        NaN        1.0
none                          NaN        NaN        NaN        NaN

# Export to Excel

In [18]:
# 48, 50, 63, 60, 61, 52, 62, 54, 56, 57, 65

# Create a Pandas Excel writer using XlsxWriter as the engine.
writer = pd.ExcelWriter('disenrollreason_all.xlsx', date_format='YYYY-MM-DD',
                  datetime_format='YYYY-MM-DD', engine='xlsxwriter')

# Write each dataframe to a different worksheet.
df48.to_excel(writer, sheet_name='Sheet1')
df50.to_excel(writer, sheet_name='Sheet2')

df63.to_excel(writer, sheet_name='Sheet3')
df60.to_excel(writer, sheet_name='Sheet4')
df61.to_excel(writer, sheet_name='Sheet5')
df52.to_excel(writer, sheet_name='Sheet6')
df62.to_excel(writer, sheet_name='Sheet7')
df54.to_excel(writer, sheet_name='Sheet8')
df56.to_excel(writer, sheet_name='Sheet9')
df57.to_excel(writer, sheet_name='Sheet10')
df65.to_excel(writer, sheet_name='Sheet11')


# Close the Pandas Excel writer and output the Excel file.
writer.save()

with pd.ExcelWriter('Disenrolled_notIn_survey.xlsx',
                  date_format='YYYY-MM-DD',
                  datetime_format='YYYY-MM-DD') as writer:
    df10.to_excel(writer, index=False)

# Push to Github

In [17]:
import base64
from github import Github
from github import InputGitTreeElement

user = "GithubUsername"
password = "*********"
g = Github(user,password)
repo = g.get_user().get_repo('git-test') # repo name
file_list = [
    'C:\\Users\jesse\Dropbox\Swell-Forecast\git-test\index.html',
    'C:\\Users\jesse\Dropbox\Swell-Forecast\git-test\margin_table.html'
]
file_names = [
    'index.html',
    'margin_table.html'
]
commit_message = 'python commit'
master_ref = repo.get_git_ref('heads/master')
master_sha = master_ref.object.sha
base_tree = repo.get_git_tree(master_sha)

element_list = list()
for i, entry in enumerate(file_list):
    with open(entry) as input_file:
        data = input_file.read()
    if entry.endswith('.png'): # images must be encoded
        data = base64.b64encode(data)
    element = InputGitTreeElement(file_names[i], '100644', 'blob', data)
    element_list.append(element)

tree = repo.create_git_tree(element_list, base_tree)
parent = repo.get_git_commit(master_sha)
commit = repo.create_git_commit(commit_message, tree, [parent])
master_ref.edit(commit.sha)

ModuleNotFoundError: No module named 'github'