# Final Team Daily progress report

- https://developers.google.com/chart/interactive/docs/gallery/calendar

- https://xlsxwriter.readthedocs.io/

- https://xlsxwriter.readthedocs.io/example_pandas_datetime.html

### NLP

- https://github.com/nlptown/nlp-notebooks

### Vlookup function
- https://stackoverflow.com/questions/41511730/python-function-similar-to-vlookup-excel

### pandas merge

- https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html

## Team Code


- https://jamesrledoux.com/code/group-by-aggregate-pandas

- https://jakevdp.github.io/PythonDataScienceHandbook/03.08-aggregation-and-grouping.html

- https://pandas.pydata.org/pandas-docs/dev/user_guide/merging.html

- https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.unstack.html

- https://www.w3schools.com/python/python_datetime.asp

- https://www.w3resource.com/python-exercises/date-time-exercise/

## Google data studio

- https://supermetrics.com/blog/google-data-studio-pivot-table
- https://www.lovesdata.com/blog/google-data-studio-glossary
- https://portermetrics.com/en/tutorial/data-studio/

# jimcphl@gmail.com (google drive, data studio)
- pw 8995xxx5

# Github
- Email: jimcphl@gmail.com
- Pw: 89951505a

# Onedrive
- jimcphl@gmail.com
- pw: 8995xxx5a

# Backup to OneDrive

- jimcphl@gmail.com
- pw: 8995xxx5a

## 1. Download data from Sharefolder

In [38]:
DsnpRoaster = 'Copy of MAPD&SNP Roster_2021'

MapRoaster = 'MAP Roster_2021- KAT2'

Master = 'vlookup_2021 - new'

oldDual = 'Dual Eligible Members'

from datetime import datetime

date = datetime.now().strftime("%Y-%m-%d")
print(Master+' - {}'.format(date))

'filename_2020_08_12-03:29:22_AM'

In [39]:
# S drive - team performance

# Remove file

import os
import shutil, sys

# S:\MARKETING\MARKETING-PRIVATE\MEDICARE SALES\SALES MEDICARE TEAM\TEAM DASHBOARD\team performance

if os.path.exists("S:/MARKETING/MARKETING-PRIVATE/MEDICARE SALES/SALES MEDICARE TEAM\TEAM DASHBOARD/team performance/MAPD&SNP Roster_2021.xlsx"):
  os.remove("S:/MARKETING/MARKETING-PRIVATE/MEDICARE SALES/SALES MEDICARE TEAM/TEAM DASHBOARD/team performance/MAPD&SNP Roster_2021.xlsx")
else:
  print("The file does not exist")

# Copy share file to folder
# S:\ENROLLMENT\ENROLLMENT-PUBLIC\MEDICARE\MAPD

source_path = r"S:/ENROLLMENT/ENROLLMENT-PUBLIC/MEDICARE/MAPD/"

# S:/MARKETING/MARKETING-PUBLIC/SALES MEDICARE TEAM/TEAM DASHBOARD/team performance
#dest_path = r"C:\Users\tflung\Desktop"
dest_path = r"S:/MARKETING/MARKETING-PRIVATE/MEDICARE SALES/SALES MEDICARE TEAM/TEAM DASHBOARD/team performance"
#file_name = "\\Copy of MAPD&SNP Roster_2021.xlsx"
file_name = "\\"+DsnpRoaster+".xlsx"

shutil.copyfile(source_path + file_name, dest_path + file_name)

# Change file name

os.rename(r'S:\MARKETING\MARKETING-PRIVATE\MEDICARE SALES\SALES MEDICARE TEAM\TEAM DASHBOARD\team performance\{}.xlsx'.format(DsnpRoaster),
          r'S:\MARKETING\MARKETING-PRIVATE\MEDICARE SALES\SALES MEDICARE TEAM\TEAM DASHBOARD\team performance\MAPD&SNP Roster_2021.xlsx')


# notebook - master roaster

# Remove file


if os.path.exists("C:/Users/tflung/Downloads/WPy64-3870/notebooks/MAPD&SNP Roster_2021.xlsx"):
  os.remove("C:/Users/tflung/Downloads/WPy64-3870/notebooks/MAPD&SNP Roster_2021.xlsx")
else:
  print("The file does not exist")


# Copy share file to folder
# S:\ENROLLMENT\ENROLLMENT-PUBLIC\MEDICARE\MAPD

source_path1 = r"S:/ENROLLMENT/ENROLLMENT-PUBLIC/MEDICARE/MAPD/"

# S:/MARKETING/MARKETING-PUBLIC/SALES MEDICARE TEAM/TEAM DASHBOARD/team performance
#dest_path = r"C:\Users\tflung\Desktop"
dest_path1 = r"C:\Users\tflung\Downloads\WPy64-3870\notebooks"
file_name1 = "\\"+DsnpRoaster+".xlsx"

shutil.copyfile(source_path1 + file_name1, dest_path1 + file_name1)

# Change file name

os.rename(r'C:\Users\tflung\Downloads\WPy64-3870\notebooks\{}.xlsx'.format(DsnpRoaster),
          r'C:\Users\tflung\Downloads\WPy64-3870\notebooks\MAPD&SNP Roster_2021.xlsx')



# Backup to OneDrive

# Copy one set to one drive
# C:\Users\tflung\OneDrive\Documents

if os.path.exists("C:/Users/tflung/OneDrive/Documents/MAPD&SNP Roster_2021.xlsx"):
  os.remove("C:/Users/tflung/OneDrive/Documents/MAPD&SNP Roster_2021.xlsx")
else:
  print("The file does not exist")

if os.path.exists("C:/Users/tflung/OneDrive/Documents/MAPRoster_2021.xlsx"):
  os.remove("C:/Users/tflung/OneDrive/Documents/MAPRoster_2021.xlsx")
else:
  print("The file does not exist")

#if os.path.exists("C:/Users/tflung/OneDrive/Documents/vlookup_2021 - new.xlsx"):
#  os.remove("C:/Users/tflung/OneDrive/Documents/vlookup_2021 - new.xlsx")
#else:
#  print("The file does not exist")


#if os.path.exists("C:/Users/tflung/OneDrive/Documents/Dual Eligible Members.xlsx"):
#  os.remove("C:/Users/tflung/OneDrive/Documents/Dual Eligible Members.xlsx")
#else:
#  print("The file does not exist")


# Copy share file to folder
# S:\ENROLLMENT\ENROLLMENT-PUBLIC\MEDICARE\MAPD

source_path2 = r"S:/ENROLLMENT/ENROLLMENT-PUBLIC/MEDICARE/MAPD/"

# S:/MARKETING/MARKETING-PUBLIC/SALES MEDICARE TEAM/TEAM DASHBOARD/team performance
#dest_path = r"C:\Users\tflung\Desktop"
dest_path2 = r"C:\Users\tflung\OneDrive\Documents"
file_name2 = "\\"+DsnpRoaster+".xlsx"

shutil.copyfile(source_path2 + file_name2, dest_path2 + file_name2)

# S:\ENROLLMENT\ENROLLMENT-PUBLIC\MEDICARE\MAP\MAP Roster_2021.xlsx
source_path3 = r"S:/ENROLLMENT/ENROLLMENT-PUBLIC/MEDICARE/MAP/Source/"

# S:/MARKETING/MARKETING-PUBLIC/SALES MEDICARE TEAM/TEAM DASHBOARD/team performance
#dest_path = r"C:\Users\tflung\Desktop"
dest_path3 = r"C:\Users\tflung\OneDrive\Documents"
file_name3 = "\\"+MapRoaster+".xlsx"

shutil.copyfile(source_path3 + file_name3, dest_path3 + file_name3)


#source_path4 = r"S:/MARKETING/MARKETING-PUBLIC/SALES MEDICARE TEAM/TEAM DASHBOARD/team performance"
#dest_path4 = r"C:\Users\tflung\OneDrive\Documents"
#file_name4 = "\\"+Master+".xlsx"
#shutil.copyfile(source_path4 + file_name4, dest_path4 + file_name4)


#source_path5 = r"S:/MARKETING/MARKETING-PUBLIC/SALES MEDICARE TEAM/TEAM DASHBOARD/team performance"
#dest_path5 = r"C:\Users\tflung\OneDrive\Documents"
#file_name5 = "\\"+oldDual+".xlsx"
#shutil.copyfile(source_path5 + file_name5, dest_path5 + file_name5)

# Change file name

os.rename(r'C:\Users\tflung\OneDrive\Documents\{}.xlsx'.format(DsnpRoaster),
          r'C:\Users\tflung\OneDrive\Documents\MAPD&SNP Roster_2021.xlsx')

os.rename(r'C:\Users\tflung\OneDrive\Documents\{}.xlsx'.format(MapRoaster),
          r'C:\Users\tflung\OneDrive\Documents\MAPRoster_2021.xlsx')

# Backup OneDrive

dir_path = 'C:/Users/tflung/OneDrive/team performance'

try:
    shutil.rmtree(dir_path)
except OSError as e:
    print("Error: %s : %s" % (dir_path, e.strerror))
    
#S:\MARKETING\MARKETING-PUBLIC\SALES MEDICARE TEAM\TEAM DASHBOARD\team performance   

source_path4 = r"S:\MARKETING\MARKETING-PUBLIC\SALES MEDICARE TEAM\TEAM DASHBOARD\team performance"

# S:/MARKETING/MARKETING-PUBLIC/SALES MEDICARE TEAM/TEAM DASHBOARD/team performance
#dest_path = r"C:\Users\tflung\Desktop"
dest_path4 = r"C:\Users\tflung\OneDrive\team performance"

destination = shutil.copytree(source_path4, dest_path4)  
   
print("Destination path:", destination) 





# C:\Users\tflung\Downloads\WPy64-3870\notebooks

dir_path1 = 'C:/Users/tflung/OneDrive/notebooks'

try:
    shutil.rmtree(dir_path1)
except OSError as e:
    print("Error: %s : %s" % (dir_path1, e.strerror))
    
#S:\MARKETING\MARKETING-PUBLIC\SALES MEDICARE TEAM\TEAM DASHBOARD\team performance   

source_path5 = r"C:\Users\tflung\Downloads\WPy64-3870\notebooks"

# S:/MARKETING/MARKETING-PUBLIC/SALES MEDICARE TEAM/TEAM DASHBOARD/team performance
#dest_path = r"C:\Users\tflung\Desktop"
dest_path5 = r"C:\Users\tflung\OneDrive\notebooks"

destination2 = shutil.copytree(source_path5, dest_path5)  
   
print("Destination path:", destination2)

### DualEligibleMembers to note

- Download file

- https://app.smartsheet.com/sheets/X3JWwhCVVR7cRrR6xJFWQr834Hv8PhJMwgvHC9f1?view=grid&filterId=5411116848310148

# Remove file

import os
if os.path.exists("C:/Users/tflung/Downloads/Dual Eligible Members.xlsx"):
  os.remove("C:/Users/tflung/Downloads/Dual Eligible Members.xlsx")
else:
  print("The file does not exist")

if os.path.exists("C:/Users/tflung/Downloads/DualEligibleMembers.xlsx"):
  os.remove("C:/Users/tflung/Downloads/DualEligibleMembers.xlsx")
else:
  print("The file does not exist")

import shutil, sys
import os
os.rename(r'C:\Users\tflung\Downloads\051421_Dual Eligible Members_Revised.xlsx',r'C:\Users\tflung\Downloads\DualEligibleMembers.xlsx')

source_path = r"C:\Users\tflung\Downloads"

# S:/MARKETING/MARKETING-PUBLIC/SALES MEDICARE TEAM/TEAM DASHBOARD/team performance
#dest_path = r"C:\Users\tflung\Desktop"
dest_path = r"C:\Users\tflung\Downloads\WPy64-3870\notebooks"
file_name = "\\DualEligibleMembers.xlsx"

shutil.copyfile(source_path + file_name, dest_path + file_name)

### DualEligbleMembers to team performance

import os
os.rename(r'C:\Users\tflung\Downloads\051421_Dual Eligible Members_Revised.xlsx',r'C:\Users\tflung\Downloads\Dual Eligible Members.xlsx')



import openpyxl
ss=openpyxl.load_workbook('C:\\Users\\tflung\\Downloads\\Dual Eligible Members.xlsx')
#printing the sheet names
ss_sheet = ss['051421_Dual Eligible Members_Re']
ss_sheet.title = 'Dual Eligible Members'
ss.save('C:\\Users\\tflung\\Downloads\\Dual Eligible Members.xlsx')

source_path = r"C:\Users\tflung\Downloads"

# S:/MARKETING/MARKETING-PUBLIC/SALES MEDICARE TEAM/TEAM DASHBOARD/team performance
#dest_path = r"C:\Users\tflung\Desktop"
dest_path = r"S:/MARKETING/MARKETING-PUBLIC/SALES MEDICARE TEAM/TEAM DASHBOARD/team performance"
file_name = "\\Dual Eligible Members.xlsx"

shutil.copyfile(source_path + file_name, dest_path + file_name)

#https://smartsheet-platform.github.io/api-docs/#permission-levels

import smartsheet

smartsheet_client.assume_user("TFLung@centersplan.com")

# Initialize client
#smartsheet_client = smartsheet.Smartsheet('https://app.smartsheet.com/sheets/X3JWwhCVVR7cRrR6xJFWQr834Hv8PhJMwgvHC9f1?view=grid&filterId=5411116848310148')

# Make sure we don't miss any errors
#smartsheet_client.errors_as_exceptions(True)

#response = smartsheet_client.Sheets.list_sheets(include="attachments,source", include_all=True)
response = smartsheet_client.Sheets.list_sheets(include="https://app.smartsheet.com/sheets/X3JWwhCVVR7cRrR6xJFWQr834Hv8PhJMwgvHC9f1?view=grid&filterId=5411116848310148", include_all=True)

sheets = response.data

### Run Daily excel file

In [40]:
import os


# S:\\MARKETING\\MARKETING-PUBLIC\\SALES MEDICARE TEAM/TEAM DASHBOARD\\team performance
# \\Dual Eligible Members.xlsx
# \\MAPD&SNP Roster_2021.xlsx


# S:\MARKETING\MARKETING-PRIVATE\MEDICARE SALES\SALES MEDICARE TEAM\TEAM DASHBOARD\team performance

os.chdir('S:\\MARKETING\\MARKETING-PRIVATE\\MEDICARE SALES\\SALES MEDICARE TEAM\\TEAM DASHBOARD\\team performance')

#os.chdir('C:\\Users\\tflung\\OneDrive\\Documents\\')

os.system('start excel.exe "Dual Eligible Members.xlsx"')
os.system('start excel.exe "MAPD&SNP Roster_2021.xlsx"')
os.system('start excel.exe "vlookup_2021 - new.xlsx"')

0

## 2. Daily Progress report

In [41]:
CheckDate = '2022-03-01'

In [42]:
import pandas as pd
import os

# DualEligibleMembers.xlsx
#pd.read_excel('DualEligibleMembers.xlsx', index_col=0)

url = "S:\ENROLLMENT\ENROLLMENT-PUBLIC\MEDICARE\MAPD\Copy of MAPD&SNP Roster_2021.xlsx"
#url = "C:\\Users\\tflung\\OneDrive\\Documents\\MAPD&SNP Roster_2021.xlsx"
#url = "MAPD&SNP Roster_2021.xlsx"

df1=pd.read_excel(
     os.path.join(url),
     engine='openpyxl',
)
#df1

# Rename
df2 = df1.rename(columns={'Enrollment Date': 'EnrollDate'})
df2 = df2.rename(columns={'App Date': 'AppDate'})
df2 = df2.rename(columns={'Marketing Rep': 'Rep'})
df2 = df2.rename(columns={'Member ID': 'MBID'})

# select columns
df3 = df2[['EnrollDate', 'LOB', 'Status', 'AppDate', 'Rep']]

# print this 2 days
#df3[(df3['AppDate'] >= '2021-01-19') & (df3['AppDate'] <= '2021-01-20')]

# Clear Null date
# Drop wrong typing
df3['EnrollDate'] = pd.to_datetime(df3['EnrollDate'], errors = 'coerce')

#df3 = df3[df3.Date != '01/202021']
#df3 = df3[df3.Date != '202/02/16  00:00:00 AM']


# Define the Data type
df3['EnrollDate'] = pd.to_datetime(df3['EnrollDate'])

# Select Jan / Feb

# Dec
#df4 = df3[(df3['EnrollDate'] == '2020-12-01')]

# AEP
#df4 = df3[(df3['EnrollDate'] == '2021-01-01')]

# Feb enrollment
#df4 = df3[(df3['EnrollDate'] == '2021-02-01')]

# March enrollment
#df4 = df3[(df3['EnrollDate'] == '2021-03-01')]

# March enrollment
df4 = df3[(df3['EnrollDate'] == CheckDate)]

# Total month comparison
#df4 = df3[(df3['EnrollDate'] == '2021-01-01') | (df3['EnrollDate'] == '2021-02-01') | (df3['EnrollDate'] == '2021-03-01')]

#print (df4.head())

### Check unique Req
#df4['Rep'].unique()

C:\Users\tflung\Anaconda3\lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)
C:\Users\tflung\AppData\Local\Temp/ipykernel_15636/360840610.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['EnrollDate'] = pd.to_datetime(df3['EnrollDate'], errors = 'coerce')
C:\Users\tflung\AppData\Local\Temp/ipykernel_15636/360840610.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['EnrollDate'] = pd.to_datetime(df3['EnrollDate'])

### Select FieldSales / TeleSales

#df4 = df4[(df4['Rep'] == 'Brad Willinger')]

# Field Sales
df4 = df4[(df4['Rep'] == 'Yanery Fernandez') 
          | (df4['Rep'] == 'Ivonne Cedeno')
          | (df4['Rep'] == 'James (Shiou-Hao) Lu')
          | (df4['Rep'] == 'Monalisa Crossway')
          | (df4['Rep'] == 'Laura Lou Seefeldt')
          | (df4['Rep'] == 'Griselle Leonardo')
          | (df4['Rep'] == 'Shelly Bobb')
          | (df4['Rep'] == 'Zhen Zhu')
          | (df4['Rep'] == 'Confessor Concepcion')
          | (df4['Rep'] == 'Keith Douglas')
          | (df4['Rep'] == 'Angela Hernandez')]
          
          
# TeleSales
df4 = df4[(df4['Rep'] == 'Carolina Zuluaga ') 
          | (df4['Rep'] == 'Katiria Fernandez ')
          | (df4['Rep'] == 'Brad Willinger')
          | (df4['Rep'] == 'Vincent Lee')
          | (df4['Rep'] == 'Robert Echevarria ')]

In [43]:
# Whole Team

df4 = df4[(df4['Rep'] == 'Yanery Fernandez') 
          | (df4['Rep'] == 'Ivonne Cedeno')
          | (df4['Rep'] == 'James (Shiou-Hao) Lu')
          | (df4['Rep'] == 'Monalisa Crossway')
          | (df4['Rep'] == 'Laura Lou Seefeldt')
          | (df4['Rep'] == 'Griselle Leonardo')
          | (df4['Rep'] == 'Shelly Bobb')
          | (df4['Rep'] == 'Zhen Zhu')
          | (df4['Rep'] == 'Confessor Concepcion')
          | (df4['Rep'] == 'Angela Lozano')
          | (df4['Rep'] == 'Keith Douglas')
          | (df4['Rep'] == 'Angela Hernandez')
          | (df4['Rep'] == 'Carolina Zuluaga ') 
          | (df4['Rep'] == 'Katiria Fernandez ')
          | (df4['Rep'] == 'Brad Willinger')
          | (df4['Rep'] == 'Jacqueline Garcia')
          | (df4['Rep'] == 'Vincent Lee')
          | (df4['Rep'] == 'Robert Echevarria ')
          | (df4['Rep'] == 'Kenny Jolly')
          | (df4['Rep'] == 'Jose Ortiz')
          | (df4['Rep'] == 'Charlie Taveras')
          | (df4['Rep'] == 'Donald Herline ')
         ]
#df4

# Add column by condition for whole team
# https://www.dataquest.io/blog/tutorial-add-column-pandas-dataframe-based-on-if-else-condition/

# for whole team

# create a list of our conditions
import numpy as np

conditions = [(df4['Rep'] == 'Yanery Fernandez') 
          | (df4['Rep'] == 'Ivonne Cedeno')
          | (df4['Rep'] == 'James (Shiou-Hao) Lu')
          | (df4['Rep'] == 'Monalisa Crossway')
          | (df4['Rep'] == 'Laura Lou Seefeldt')
          | (df4['Rep'] == 'Griselle Leonardo')
          | (df4['Rep'] == 'Shelly Bobb')
          | (df4['Rep'] == 'Zhen Zhu')
          | (df4['Rep'] == 'Confessor Concepcion')
          | (df4['Rep'] == 'Angela Lozano')
          | (df4['Rep'] == 'Keith Douglas')
          | (df4['Rep'] == 'Kenny Jolly')
          | (df4['Rep'] == 'Jose Ortiz')
          | (df4['Rep'] == 'Charlie Taveras')
          | (df4['Rep'] == 'Donald Herline ')
          | (df4['Rep'] == 'Angela Hernandez') ,
            (df4['Rep'] == 'Carolina Zuluaga ') 
          | (df4['Rep'] == 'Katiria Fernandez ')
          | (df4['Rep'] == 'Brad Willinger')
          | (df4['Rep'] == 'Jacqueline Garcia')
          | (df4['Rep'] == 'Vincent Lee')
          | (df4['Rep'] == 'Robert Echevarria ')]

# create a list of the values we want to assign for each condition
values = ['FieldSales', 'TeleSales']

# create a new column and use np.select to assign values to it using our lists as arguments
df4['type'] = np.select(conditions, values)

# display updated DataFrame
df4.head()

     EnrollDate    LOB     Status    AppDate               Rep        type
8652 2022-03-01   MAPD  Cancelled 2021-12-29    Brad Willinger   TeleSales
8720 2022-03-01   MAPD  Cancelled 2022-02-01  Yanery Fernandez  FieldSales
8721 2022-03-01  D-SNP  Cancelled 2022-02-01    Brad Willinger   TeleSales
8723 2022-03-01  D-SNP   Enrolled 2022-02-02   Donald Herline   FieldSales
8727 2022-03-01  D-SNP   Enrolled 2022-02-03  Yanery Fernandez  FieldSales

### Add Weekday information

import datetime
import pandas as pd

df16 = df4
df16['WeekDay'] = df4['AppDate'].dt.day_name()

#Change format
df16['EnrollDate'] = pd.to_datetime(df16['EnrollDate'], format= '%y%m%d')
df16['AppDate'] = pd.to_datetime(df16['AppDate'], format= '%y%m%d')

df16.head()
#df16.to_excel(r'8.xlsx', index = False)


# Total monthly comparison
# https://datatofish.com/export-dataframe-to-excel/

#df16.to_excel(r'8.xlsx', index = False)

with pd.ExcelWriter('8.xlsx',
                  date_format='YYYY-MM-DD',
                  datetime_format='YYYY-MM-DD') as writer:
    df16.to_excel(writer, index=False)

### Select Date Comparison

In [44]:
# Checking today missing
#df4 = df4[(df4['AppDate'] >= '2021-02-01') & (df4['AppDate'] <= '2021-02-05')]

#print (df4.tail(40))
print (df4.count())
print ()

# Group by Table
df5 = df4.groupby(["EnrollDate", "LOB", "type", "Rep"])["Rep"].count().reset_index(name="count")
print (df5)
# df5.unstack(level=-1)
print ()

# pivot Table
# df6 = pd.pivot_table(df5, index=['Rep', 'type'], columns=['LOB'], values=['count'], aggfunc='first')
df6 = pd.pivot_table(df5, index = ['Rep', 'type'], columns = 'LOB', values = 'count')
df6 = df6.fillna(0)
print (df6)
print ()

# pivot table reorder - 
# mypiv.reindex(['that', 'this', 'something else'], level=0) \.T.reindex(['South','North']).T
df6.reindex(['Yanery Fernandez', 'Ivonne Cedeno', 
             'James (Shiou-Hao) Lu', 'Monalisa Crossway', 
             'Laura Lou Seefeldt', 'Griselle Leonardo', 
             'Shelly Bobb', 'Zhen Zhu', 'Confessor Concepcion', 'Angela Lozano',
             'Kenny Jolly', 'Jose Ortiz', 'Charlie Taveras', 'Donald Herline ',
             'Carolina Zuluaga ', 'Katiria Fernandez ', 
             'Brad Willinger', 'Jacqueline Garcia'], level=0).T.reindex(['D-SNP', 'MAPD']).T

print (df6['D-SNP'].sum())
print (df6['MAPD'].sum())

EnrollDate    43
LOB           43
Status        43
AppDate       43
Rep           43
type          43
dtype: int64

   EnrollDate    LOB        type                 Rep  count
0  2022-03-01  D-SNP  FieldSales     Charlie Taveras      1
1  2022-03-01  D-SNP  FieldSales     Donald Herline      11
2  2022-03-01  D-SNP  FieldSales       Ivonne Cedeno      5
3  2022-03-01  D-SNP  FieldSales         Kenny Jolly      2
4  2022-03-01  D-SNP  FieldSales  Laura Lou Seefeldt      3
5  2022-03-01  D-SNP  FieldSales    Yanery Fernandez      8
6  2022-03-01  D-SNP   TeleSales      Brad Willinger      5
7  2022-03-01  D-SNP   TeleSales  Katiria Fernandez       2
8  2022-03-01   MAPD  FieldSales     Donald Herline       1
9  2022-03-01   MAPD  FieldSales       Ivonne Cedeno      1
10 2022-03-01   MAPD  FieldSales         Kenny Jolly      1
11 2022-03-01   MAPD  FieldSales    Yanery Fernandez      1
12 2022-03-01   MAPD   TeleSales      Brad Willinger      2

LOB                            D-SNP  MAPD
Rep                type
Brad Willinger     TeleSales     5.0   2.0
Charlie Taveras    FieldSales    1.0   0.0
Donald Herline     FieldSales   11.0   1.0
Ivonne Cedeno      FieldSales    5.0   1.0
Katiria Fernandez  TeleSales     2.0   0.0
Kenny Jolly        FieldSales    2.0   1.0
Laura Lou Seefeldt FieldSales    3.0   0.0
Yanery Fernandez   FieldSales    8.0   1.0

37.0
6.0

# For monthly comparison 

#df16.to_excel(r'8.xlsx', index = False)


# https://datatofish.com/export-dataframe-to-excel/

with pd.ExcelWriter('9.xlsx',
                  date_format='YYYY-MM-DD',
                  datetime_format='YYYY-MM-DD') as writer:
    df5.to_excel(writer, index=False)

## DSNP MAPD Cancellation

In [45]:
df7 = df4[(df4['Status'] == 'Cancelled')]

# change data
df7 = df7.replace(['MAPD'],'MAPD-C')
df7 = df7.replace(['D-SNP'],'D-SNP-C')
df7 = df7.replace(['I-SNP'],'I-SNP-C')
df7 = df7.replace(['MAP'],'MAP-C')

#df7
print (df7.count())

df8 = df7.groupby(["EnrollDate", "LOB", "type", "Rep"])["Rep"].count().reset_index(name="count")
df9 = pd.pivot_table(df8, index=['Rep', 'type'], columns=['LOB'], values=['count'], aggfunc='first')
print (df9)

EnrollDate    5
LOB           5
Status        5
AppDate       5
Rep           5
type          5
dtype: int64
                              count
LOB                         D-SNP-C MAPD-C
Rep              type
Brad Willinger   TeleSales      1.0    1.0
Donald Herline   FieldSales     1.0    NaN
Yanery Fernandez FieldSales     1.0    1.0

# Monthly report for TeleSales Analysis

### Sales part

- SUM(COUNTIFS('[MAPD&SNP Roster_2021.xlsx]Sheet1'!$Q:$Q, "Carolina Zuluaga ", '[MAPD&SNP Roster_2021.xlsx]Sheet1'!$K:$K, "Enrolled", '[MAPD&SNP Roster_2021.xlsx]Sheet1'!$M:$M, ">="&DATE(2020, 10, 7), '[MAPD&SNP Roster_2021.xlsx]Sheet1'!$M:$M, "<="&DATE(2021, 1, 31)))

In [46]:
df11 = df2[['EnrollDate', 'LOB', 'Status', 'AppDate', 'Rep']]

df12 = df11[(df11['EnrollDate'] == '2022-03-01')]

df13 = df12
#df13 = df12[(df12['Status'] == 'Enrolled')]


Tele = ['Carolina Zuluaga ', 'Katiria Fernandez ', 'Brad Willinger', 'Vincent Lee', 'Robert Echevarria ']

j = []
for i in Tele:
    df14 = df13[(df13['Rep'] == i)]

    j = df14['Rep'].count()
    
    print (j)

0
2
7
0
0

# Total Report

- Combine table
- https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html

In [47]:
# Combine Enrollment + Cancellation (groupby table)
# df5 + df8

frame = [df5, df8]

df15 = pd.concat(frame)

df16 = pd.pivot_table(df15, index=['Rep', 'type'], columns=['LOB'], values=['count'], aggfunc='first')

df16 = df16.fillna(0)

df16

                              count
LOB                           D-SNP D-SNP-C MAPD MAPD-C
Rep                type
Brad Willinger     TeleSales    5.0     1.0  2.0    1.0
Charlie Taveras    FieldSales   1.0     0.0  0.0    0.0
Donald Herline     FieldSales  11.0     1.0  1.0    0.0
Ivonne Cedeno      FieldSales   5.0     0.0  1.0    0.0
Katiria Fernandez  TeleSales    2.0     0.0  0.0    0.0
Kenny Jolly        FieldSales   2.0     0.0  1.0    0.0
Laura Lou Seefeldt FieldSales   3.0     0.0  0.0    0.0
Yanery Fernandez   FieldSales   8.0     1.0  1.0    1.0

In [48]:
df15

   EnrollDate      LOB        type                 Rep  count
0  2022-03-01    D-SNP  FieldSales     Charlie Taveras      1
1  2022-03-01    D-SNP  FieldSales     Donald Herline      11
2  2022-03-01    D-SNP  FieldSales       Ivonne Cedeno      5
3  2022-03-01    D-SNP  FieldSales         Kenny Jolly      2
4  2022-03-01    D-SNP  FieldSales  Laura Lou Seefeldt      3
5  2022-03-01    D-SNP  FieldSales    Yanery Fernandez      8
6  2022-03-01    D-SNP   TeleSales      Brad Willinger      5
7  2022-03-01    D-SNP   TeleSales  Katiria Fernandez       2
8  2022-03-01     MAPD  FieldSales     Donald Herline       1
9  2022-03-01     MAPD  FieldSales       Ivonne Cedeno      1
10 2022-03-01     MAPD  FieldSales         Kenny Jolly      1
11 2022-03-01     MAPD  FieldSales    Yanery Fernandez      1
12 2022-03-01     MAPD   TeleSales      Brad Willinger      2
0  2022-03-01  D-SNP-C  FieldSales     Donald Herline       1
1  2022-03-01  D-SNP-C  FieldSales    Yanery Fernandez      1
2  2022-03-01  D-SNP-C   TeleSales      Brad Willinger      1
3  2022-03-01   MAPD-C  FieldSales    Yanery Fernandez      1
4  2022-03-01   MAPD-C   TeleSales      Brad Willinger      1

In [49]:
df15.to_excel(r'5.xlsx', index = False)

# New Map & New Map Cancellation

In [50]:
import os
import pandas as pd

url1 = "S:\ENROLLMENT\ENROLLMENT-PUBLIC\MEDICARE\MAP\Source\MAP Roster_2021- KAT2.xlsx"

df20=pd.read_excel(
     os.path.join(url1),
     engine='openpyxl',
     sheet_name='Enrolled'
)

df21=pd.read_excel(
     os.path.join(url1),
     engine='openpyxl',
     sheet_name='Not Enrolled'
)

# Enrollment Tracking
df30=pd.read_excel(
     os.path.join(url1),
     engine='openpyxl',
     sheet_name='Enrollment Tracking'
)

# Withdrawal Cancel Tracking
df31=pd.read_excel(
     os.path.join(url1),
     engine='openpyxl',
     sheet_name='Withdrawal Cancel Tracking'
)

# Withdrawal Cancel Tracking
df42=pd.read_excel(
     os.path.join(url1),
     engine='openpyxl',
     sheet_name='Disenrolled'
)


# Rename
#Overall Start Date

df20 = df20.rename(columns={'Legacy ID': 'ID'})
df20 = df20.rename(columns={'Overall Status': 'Status'})
df20 = df20.rename(columns={'Medicare Start Date': 'EnrollDate'})
df20 = df20.rename(columns={'Overall End Date': 'DisenrollDate'})
df20 = df20.rename(columns={'Sales Agent': 'Agent'})
df20 = df20.rename(columns={'Member Last Name': 'Last'})
df20 = df20.rename(columns={'Member First Name': 'First'})
# Application Date
df20 = df20.rename(columns={'Application Date': 'appDate'})
df20['EnrollDate'] = pd.to_datetime(df20['EnrollDate'], errors = 'coerce')
df20['DisenrollDate'] = pd.to_datetime(df20['DisenrollDate'], errors = 'coerce')
df20['appDate'] = pd.to_datetime(df20['appDate'], errors = 'coerce')


df21 = df21.rename(columns={'Legacy ID': 'ID'})
df21 = df21.rename(columns={'Overall Status': 'Status'})
df21 = df21.rename(columns={'Medicare Start Date': 'EnrollDate'})
df21 = df21.rename(columns={'Overall End Date': 'DisenrollDate'})
df21 = df21.rename(columns={'Sales Agent': 'Agent'})
df21 = df21.rename(columns={'Member Last Name': 'Last'})
df21 = df21.rename(columns={'Member First Name': 'First'})
df21['EnrollDate'] = pd.to_datetime(df21['EnrollDate'], errors = 'coerce')
df21['DisenrollDate'] = pd.to_datetime(df21['DisenrollDate'], errors = 'coerce')



df30 = df30.rename(columns={'Legacy ID': 'ID'})
df30 = df30.rename(columns={'Overall Status': 'Status'})
df30 = df30.rename(columns={'Medicare Start Date': 'EnrollDate'})
df30 = df30.rename(columns={'Overall End Date': 'DisenrollDate'})
df30 = df30.rename(columns={'Sales Agent': 'Agent'})
df30 = df30.rename(columns={'Member Last Name': 'Last'})
df30 = df30.rename(columns={'Member First Name': 'First'})
df30['EnrollDate'] = pd.to_datetime(df30['EnrollDate'], errors = 'coerce')
df30['DisenrollDate'] = pd.to_datetime(df30['DisenrollDate'], errors = 'coerce')


df31 = df31.rename(columns={'Legacy ID': 'ID'})
df31 = df31.rename(columns={'Overall Status': 'Status'})
df31 = df31.rename(columns={'Medicare Start Date': 'EnrollDate'})
df31 = df31.rename(columns={'Overall End Date': 'DisenrollDate'})
df31 = df31.rename(columns={'Sales Agent': 'Agent'})
df31 = df31.rename(columns={'Member Last Name': 'Last'})
df31 = df31.rename(columns={'Member First Name': 'First'})
df31['EnrollDate'] = pd.to_datetime(df31['EnrollDate'], errors = 'coerce')
df31['DisenrollDate'] = pd.to_datetime(df31['DisenrollDate'], errors = 'coerce')


df42 = df42.rename(columns={'Legacy ID': 'DID'})
df42 = df42.rename(columns={'Overall Status': 'Status'})
df42 = df42.rename(columns={'Medicare Start Date': 'EnrollDate'})
df42 = df42.rename(columns={'Overall End Date': 'DisenrollDate'})
df42 = df42.rename(columns={'Medicare Disenrollment Reason': 'Reason'})
df42 = df42.rename(columns={'Medicare Disenrollment Type': 'Type'})
df42 = df42.rename(columns={'Member Last Name': 'Last'})
df42 = df42.rename(columns={'Member First Name': 'First'})
df42['EnrollDate'] = pd.to_datetime(df42['EnrollDate'], errors = 'coerce')
df42['DisenrollDate'] = pd.to_datetime(df42['DisenrollDate'], errors = 'coerce')


df42 = df42[['DID', 'EnrollDate', 'DisenrollDate', 'Status', 'Last', 'First', 'Reason', 'Type'
            ]]

#print (list(df9.columns))

# select columns

#df3 = df2[['DisenrollDate', 'EnrollDate', 'LOB', 'Status', 'AppDate', 'Rep']]
df21 = df21[['ID', 'EnrollDate', 'DisenrollDate', 'LOB', 'Status', 'Agent', 'Last', 'First']]

# March enrollment
df22 = df21[(df21['EnrollDate'] == '2022-02-01')]

df55 = df22

#print (df22)

C:\Users\tflung\Anaconda3\lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)

# Compare ID

df23 = df2[['MBID', 'EnrollDate', 'LOB', 'Status', 'AppDate', 'Rep']]

# Same ID

same = list(set(df22['ID']).intersection(set(df23['MBID'])))
print(same)

df24 = df22[~df22['ID'].isin(same)]

print (df24)

# Whole Team - Enrolled

df24 = df24[(df24['Agent'] == 'Yanery Fernandez') 
          | (df24['Agent'] == 'Ivonne Cedeno Mendoza (BD)')
          | (df24['Agent'] == 'James (Shiou-Hao) Lu')
          | (df24['Agent'] == 'Monalisa Crossway')
          | (df24['Agent'] == 'Laura Lou Seefeldt (BD)')
          | (df24['Agent'] == 'Griselle Leonardo (BD)')
          | (df24['Agent'] == 'Shelly Bobb (BD)')
          | (df24['Agent'] == 'Zhen Zhu')
          | (df24['Agent'] == 'Confessor Concepcion')
          | (df24['Agent'] == 'Keith Douglas')
          | (df24['Agent'] == 'Angela Hernandez')
          | (df24['Agent'] == 'Carolina Zuluaga (BD)') 
          | (df24['Agent'] == 'Katiria Fernandez ')
          | (df24['Agent'] == 'Brad Willinger (BD)')
          | (df24['Agent'] == 'Jacqueline Garcia (BD)')
          | (df24['Agent'] == 'Vincent Lee (BD)')
          | (df24['Agent'] == 'Robert Echevarria ')]




#df24
df24 = df24.groupby(["Agent"])["Agent"].count().reset_index(name='Cancelled')
print (df24)

# New Map Enrollment

In [51]:
# select columns

df20 = df20[['ID', 'EnrollDate', 'DisenrollDate', 'LOB', 'Status', 'Agent', 'Last', 'First', 'appDate']]

# March enrollment
df25 = df20[(df20['EnrollDate'] == '2022-02-01')]

#print(df25)
#print(len(df25))

# Whole Team - Enrolled

df25 = df25[(df25['Agent'] == 'Yanery Fernandez (BD)') 
          | (df25['Agent'] == 'Ivonne Cedeno Mendoza (BD)')
          | (df25['Agent'] == 'James (Shiou-Hao) Lu')
          | (df25['Agent'] == 'Monalisa Crossway')
          | (df25['Agent'] == 'Laura Lou Seefeldt (BD)')
          | (df25['Agent'] == 'Griselle Leonardo (BD)')
          | (df25['Agent'] == 'Shelly Bobb (BD)')
          | (df25['Agent'] == 'Zhen Zhu')
          | (df25['Agent'] == 'Confessor Concepcion')
          | (df25['Agent'] == 'Keith Douglas')
          | (df25['Agent'] == 'Angela Hernandez')
          | (df25['Agent'] == 'Carolina Zuluaga (BD)') 
          | (df25['Agent'] == 'Katiria Fernandez (BD)')
          | (df25['Agent'] == 'Brad Willinger (BD)')
          | (df25['Agent'] == 'Jacqueline Garcia (BD)')
          | (df25['Agent'] == 'Donald Herline (BD)')
          | (df25['Agent'] == 'Charlie Taveras (BD)')
          | (df25['Agent'] == 'Chouaib Coulibaly (BD)')
          | (df25['Agent'] == 'Vincent Lee (BD)')
          | (df25['Agent'] == 'Robert Echevarria ')]


#print(df25)
#print(len(df25))

df25.count()

# 110119 - disenrolled 1/31/2021
# 131104 - disenrolled 2/28/2021

#same1 = list(set(df25['ID']).intersection(set(df23['MBID'])))
#print(same1)
#print(len(same1))

#print (df25[df25['ID'].isin(same1)])

#df26 = df25[~df25['ID'].isin(same1)]

#print (df26)

#import dataframe_image as dfi

#dfi.export(df26,"enrolled.jpg")

#df27 = df26.groupby(["Agent"])["Agent"].count().reset_index(name='Enrolled')
#print (df27)

ID               22
EnrollDate       22
DisenrollDate     1
LOB              22
Status           22
Agent            22
Last             22
First            22
appDate          22
dtype: int64

# New Map Status

In [52]:
# select columns

df30 = df30[['ID', 'EnrollDate', 'DisenrollDate', 'LOB', 'Status', 'Agent', 'Last', 'First']]

df51 = df30

df31 = df31[['ID', 'EnrollDate', 'DisenrollDate', 'LOB', 'Status', 'Agent', 'Last', 'First']]

df52 = df31

# March enrollment
df30 = df30[(df30['EnrollDate'] == '2022-03-01')]
df31 = df31[(df31['EnrollDate'] == '2022-03-01')]

# Whole Team - Enrolled

df30 = df30[(df30['Agent'] == 'Yanery Fernandez (BD)') 
          | (df30['Agent'] == 'Ivonne Cedeno Mendoza (BD)')
          | (df30['Agent'] == 'James (Shiou-Hao) Lu')
          | (df30['Agent'] == 'Monalisa Crossway')
          | (df30['Agent'] == 'Laura Lou Seefeldt (BD)')
          | (df30['Agent'] == 'Griselle Leonardo (BD)')
          | (df30['Agent'] == 'Shelly Bobb (BD)')
          | (df30['Agent'] == 'Zhen Zhu')
          | (df30['Agent'] == 'Confessor Concepcion')
          | (df30['Agent'] == 'Keith Douglas')
          | (df30['Agent'] == 'Angela Hernandez')
          | (df30['Agent'] == 'Carolina Zuluaga (BD)') 
          | (df30['Agent'] == 'Katiria Fernandez (BD)')
          | (df30['Agent'] == 'Brad Willinger (BD)')
          | (df30['Agent'] == 'Jacqueline Garcia (BD)')
          | (df30['Agent'] == 'Donald Herline (BD)')
          | (df30['Agent'] == 'Charlie Taveras (BD)')
          | (df30['Agent'] == 'Kuo Chun Chen (BD)')
          | (df30['Agent'] == 'Paula Andrea Luna Lopez(BD)')
          | (df30['Agent'] == 'Vincent Lee (BD)')
          | (df30['Agent'] == 'Robert Echevarria ')]


df31 = df31[(df31['Agent'] == 'Yanery Fernandez (BD)') 
          | (df31['Agent'] == 'Ivonne Cedeno Mendoza (BD)')
          | (df31['Agent'] == 'James (Shiou-Hao) Lu')
          | (df31['Agent'] == 'Monalisa Crossway')
          | (df31['Agent'] == 'Laura Lou Seefeldt (BD)')
          | (df31['Agent'] == 'Griselle Leonardo (BD)')
          | (df31['Agent'] == 'Shelly Bobb (BD)')
          | (df31['Agent'] == 'Zhen Zhu')
          | (df31['Agent'] == 'Confessor Concepcion')
          | (df31['Agent'] == 'Keith Douglas')
          | (df31['Agent'] == 'Angela Hernandez')
          | (df31['Agent'] == 'Carolina Zuluaga (BD)') 
          | (df31['Agent'] == 'Katiria Fernandez (BD)')
          | (df31['Agent'] == 'Brad Willinger (BD)')
          | (df31['Agent'] == 'Jacqueline Garcia (BD)')
          | (df31['Agent'] == 'Donald Herline (BD)')
          | (df31['Agent'] == 'Kuo Chun Chen (BD)')
          | (df31['Agent'] == 'Paula Andrea Luna Lopez(BD)')
          | (df31['Agent'] == 'Charlie Taveras (BD)')
          | (df31['Agent'] == 'Vincent Lee (BD)')
          | (df31['Agent'] == 'Robert Echevarria ')]




#print (df30.count())
#print (df31.count())


#same2 = list(set(df30['ID']).intersection(set(df23['MBID'])))
#print(same1)
#print(len(same2))

#same3 = list(set(df31['ID']).intersection(set(df23['MBID'])))
#print(same1)
#print(len(same3))

#df32 = df30[~df30['ID'].isin(same2)]
#df32_1 = df32
#print (df32)

#df33 = df31[~df31['ID'].isin(same3)]

#print (df33)

# Pending_Enroll
#df32 = df32.groupby(["Agent"])["Agent"].count().reset_index(name='Pending_Enroll')
#df32 = df32.rename(columns={'Overall Status': 'Status'})
#print(df32)

#import dataframe_image as dfi


#dfi.export(df32_1,"pending_1.jpg")
#dfi.export(df32,"pending.jpg")

# Pending_Withdrawal
#df33 = df33.groupby(["Agent"])["Agent"].count().reset_index(name='Pending_Withdrawal')
#df33 = df33.rename(columns={'Overall Status': 'Status'})
#print(df33)


# df24, df27, df32, df33

#df34 = pd.merge(df24, df27, how="outer", on=["Agent"])
#df34 = pd.merge(df34, df32, how="outer", on=["Agent"])
#df34 = pd.merge(df34, df33, how="outer", on=["Agent"])

#df34 = df34.fillna(0)
#df34['total'] = df34['Enrolled'] + df34['Pending_Enroll'] + df34['Pending_Withdrawal'] + df34['Cancelled']

#df34 = df34[['Agent', 'Enrolled', 'Pending_Enroll', 'Pending_Withdrawal', 'Cancelled', 'total']]

#print (df34)
#
#import dataframe_image as dfi

#dfi.export(df34,"NewMap_status.jpg")

# To boss

In [53]:
check_date = '2022-04-01'

# Enrolled

df50 = df20[['ID', 'EnrollDate', 'DisenrollDate', 'LOB', 'Status', 'Agent', 'Last', 'First', 'appDate']]
df50 = df50[(df50['EnrollDate'] == check_date)]
df57 = df50.groupby(["Agent"])["Agent"].count().reset_index(name='Enrolled')

# Pending_enroll
df53 = df51[(df51['EnrollDate'] >= check_date)]
df58 = df53.groupby(["Agent"])["Agent"].count().reset_index(name='Pending_Enroll')


# pending_withdrawal
df54 = df52[(df52['EnrollDate'] == check_date)]
df59 = df54.groupby(["Agent"])["Agent"].count().reset_index(name='Pending_Withdrawal')

# cancelled
df56 = df55.groupby(["Agent"])["Agent"].count().reset_index(name='Cancelled')

df60 = pd.merge(df57, df58, how="outer", on=["Agent"])
df60 = pd.merge(df60, df59, how="outer", on=["Agent"])
df60 = pd.merge(df60, df56, how="outer", on=["Agent"])

df60 = df60.fillna(0)
df60['total'] = df60['Enrolled'] + df60['Pending_Enroll'] + df60['Pending_Withdrawal'] + df60['Cancelled']
df60['Report_TTL'] = df60['Enrolled'] + df60['Cancelled']
df60 = df60[['Agent', 'Enrolled', 'Pending_Enroll', 'Pending_Withdrawal', 'Cancelled', 'total', 'Report_TTL']]

import numpy as np
total = df60.apply(np.sum)
total['Agent'] = 'Total'
df60 = df60.append(pd.DataFrame(total.values, index=total.keys()).T, ignore_index=True)

print (df60)

print (df60['Agent'].unique())

import dataframe_image as dfi

dfi.export(df60,"TTLMap_Status.jpg")

df66 = df60[(df60['Agent'] == 'Yanery Fernandez (BD)') 
          | (df60['Agent'] == 'Ivonne Cedeno Mendoza (BD)')
          | (df60['Agent'] == 'James (Shiou-Hao) Lu')
          | (df60['Agent'] == 'Monalisa Crossway')
          | (df60['Agent'] == 'Laura Lou Seefeldt (BD)')
          | (df60['Agent'] == 'Griselle Leonardo (BD)')
          | (df60['Agent'] == 'Shelly Bobb (BD)')
          | (df60['Agent'] == 'Zhen Zhu')
          | (df60['Agent'] == 'Confessor Concepcion')
          | (df60['Agent'] == 'Keith Douglas')
          | (df60['Agent'] == 'Angela Hernandez')
          | (df60['Agent'] == 'Jacqueline Garcia (BD)')
          | (df60['Agent'] == 'Carolina Zuluaga (BD)') 
          | (df60['Agent'] == 'Donald Herline (BD)') 
          | (df60['Agent'] == 'Charlie Taveras (BD)') 
          | (df60['Agent'] == 'Kuo Chun Chen (BD)')
          | (df60['Agent'] == 'Paula Andrea Luna Lopez(BD)')
          | (df60['Agent'] == 'Chouaib Coulibaly (BD)')
          | (df60['Agent'] == 'Alfredo Colon (BD)')
          | (df60['Agent'] == 'Eugene Sheremeta (BD)')
          | (df60['Agent'] == 'Kathy Michel (BD)')
          | (df60['Agent'] == 'Dante Verduga (BD)')
          #| (df60['Agent'] == 'Brad Willinger (BD)')
          | (df60['Agent'] == 'Vincent Lee (BD)')
          | (df60['Agent'] == 'Angela Lozano (BD)')
          | (df60['Agent'] == 'David Bauduy (BD)')
          | (df60['Agent'] == 'Robert Echevarria ')]


df61 = df60[(df60['Agent'] == 'Yanery Fernandez (BD)') 
          | (df60['Agent'] == 'Ivonne Cedeno Mendoza (BD)')
          | (df60['Agent'] == 'James (Shiou-Hao) Lu')
          | (df60['Agent'] == 'Monalisa Crossway')
          | (df60['Agent'] == 'Laura Lou Seefeldt (BD)')
          | (df60['Agent'] == 'Griselle Leonardo (BD)')
          | (df60['Agent'] == 'Shelly Bobb (BD)')
          | (df60['Agent'] == 'Zhen Zhu')
          | (df60['Agent'] == 'Confessor Concepcion')
          | (df60['Agent'] == 'Keith Douglas')
          | (df60['Agent'] == 'Angela Hernandez')
          | (df60['Agent'] == 'Jacqueline Garcia (BD)')
          | (df60['Agent'] == 'Carolina Zuluaga (BD)') 
          | (df60['Agent'] == 'Donald Herline (BD)') 
          | (df60['Agent'] == 'Charlie Taveras (BD)') 
          | (df60['Agent'] == 'Kuo Chun Chen (BD)')
          | (df60['Agent'] == 'Paula Andrea Luna Lopez(BD)')
          | (df60['Agent'] == 'Chouaib Coulibaly (BD)')
          | (df60['Agent'] == 'Alfredo Colon (BD)')
          | (df60['Agent'] == 'Eugene Sheremeta (BD)')
          | (df60['Agent'] == 'Kathy Michel (BD)')
          | (df60['Agent'] == 'Dante Verduga (BD)')
          #| (df60['Agent'] == 'Brad Willinger (BD)')
          | (df60['Agent'] == 'Vincent Lee (BD)')
          | (df60['Agent'] == 'Angela Lozano (BD)')
          | (df60['Agent'] == 'David Bauduy (BD)')
          | (df60['Agent'] == 'Robert Echevarria ')]

df62 = df60[(df60['Agent'] == 'Katiria Fernandez (BD)')
          | (df60['Agent'] == 'Brad Willinger (BD)')]


df61 = df61[['Agent', 'Enrolled', 'Pending_Enroll', 'Pending_Withdrawal', 'Cancelled', 'total']]
df62 = df62[['Agent', 'Enrolled', 'Pending_Enroll', 'Pending_Withdrawal', 'Cancelled', 'total']]

import numpy as np
total = df61.apply(np.sum)
total['Agent'] = 'FieldSales_Total'
df61 = df61.append(pd.DataFrame(total.values, index=total.keys()).T, ignore_index=True)

total = df66.apply(np.sum)
total['Agent'] = 'Total'
df66 = df66.append(pd.DataFrame(total.values, index=total.keys()).T, ignore_index=True)

import numpy as np
total = df62.apply(np.sum)
total['Agent'] = 'TeleSales_Total'
df62 = df62.append(pd.DataFrame(total.values, index=total.keys()).T, ignore_index=True)

#print (df61)

print (df66)

#print (df62)

# Total table
df63 = df61.loc[df61['Agent'] == 'FieldSales_Total']
df64 = df62.loc[df62['Agent'] == 'TeleSales_Total']

frames = [df63, df64]

df65 = pd.concat(frames)



# Calculating Percentage
#df65['Enrolled %'] = (df65['Enrolled'] / df65['Enrolled'].sum()) * 100
df65['Pending %'] = (df65['Pending_Enroll'] / df65['Pending_Enroll'].sum()) * 100
#df65['Cancelled %'] = (df65['Cancelled'] / df65['Cancelled'].sum()) * 100
#df65['Pending_Withdrawal %'] = (df65['Pending_Withdrawal'] / df65['Pending_Withdrawal'].sum()) * 100


total = df65.apply(np.sum)
total['Agent'] = 'Total'
df65 = df65.append(pd.DataFrame(total.values, index=total.keys()).T, ignore_index=True)

df67 = df65[['Agent', 'Enrolled', 'Pending_Enroll', 'Pending_Withdrawal', 'Cancelled', 'total']]
print (df67)

df68 = df65[['Agent', 'Enrolled', 'Pending %', 'Pending_Withdrawal', 'Cancelled']]
df68 = df68.rename(columns={'Enrolled': 'Enrolled %'})
#df68 = df68.rename(columns={'Pending_Enroll': 'Pending %'})
df68 = df68.rename(columns={'Cancelled': 'Cancelled %'})
df68 = df68.rename(columns={'Pending_Withdrawal': 'Pending_Withdrawal %'})

print (df68)

                         Agent Enrolled Pending_Enroll Pending_Withdrawal  \
0   Ivonne Cedeno Mendoza (BD)      1.0            0.0                0.0
1        Yanery Fernandez (BD)      1.0            0.0                0.0
2        Aleksandr Master (IN)      0.0            1.0                0.0
3       Chouaib Coulibaly (BD)      0.0            1.0                0.0
4            Elvy Dieguez (IN)      0.0            3.0                0.0
5           Hanan Youssef (IN)      0.0            3.0                0.0
6         Jermaine Watson (IN)      0.0            2.0                0.0
7             Liping Zhao (IN)      0.0            3.0                0.0
8        Paula Luna Lopez (BD)      0.0            1.0                0.0
9                 Yu Qian (IN)      0.0            2.0                0.0
10        Jenny Grimstead (IN)      0.0            0.0                0.0
11                       Total      2.0           16.0                0.0

   Cancelled total Report_TTL
0        0.0   1.0        1.0
1        1.0   2.0        2.0
2        0.0   1.0        0.0
3        0.0   1.0        0.0
4        0.0   3.0        0.0
5        0.0   3.0        0.0
6        0.0   2.0        0.0
7        1.0   4.0        1.0
8        0.0   1.0        0.0
9        0.0   2.0        0.0
10       1.0   1.0        1.0
11       3.0  21.0        5.0
['Ivonne Cedeno Mendoza (BD)' 'Yanery Fernandez (BD)'
 'Aleksandr Master (IN)' 'Chouaib Coulibaly (BD)' 'Elvy Dieguez (IN)'
 'Hanan Youssef (IN)' 'Jermaine Watson (IN)' 'Liping Zhao (IN)'
 'Paula Luna Lopez (BD)' 'Yu Qian (IN)' 'Jenny Grimstead (IN)' 'Total']
                        Agent Enrolled Pending_Enroll Pending_Withdrawal  \
0  Ivonne Cedeno Mendoza (BD)      1.0            0.0                0.0
1       Yanery Fernandez (BD)      1.0            0.0                0.0
2      Chouaib Coulibaly (BD)      0.0            1.0                0.0
3                       Total      2.0            1.0                0.0

  Cancelled total Report_TTL
0       0.0   1.0        1.0
1       1.0   2.0        2.0
2       0.0   1.0        0.0
3       1.0   4.0        3.0
              Agent Enrolled Pending_Enroll Pending_Withdrawal Cancelled total
0  FieldSales_Total      2.0            1.0                0.0       1.0   4.0
1   TeleSales_Total      0.0            0.0                0.0       0.0   0.0
2             Total      2.0            1.0                0.0       1.0   4.0
              Agent Enrolled % Pending % Pending_Withdrawal % Cancelled %
0  FieldSales_Total        2.0     100.0                  0.0         1.0
1   TeleSales_Total        0.0       0.0                  0.0         0.0
2             Total        2.0     100.0                  0.0         1.0

In [17]:
import dataframe_image as dfi

dfi.export(df66,"Calculation_Map_Status.jpg")

dfi.export(df67,"TTL_NU_Map_Status.jpg")

dfi.export(df68,"TTL_Per_Map_Status.jpg")

dfi.export(df61,"FieldSales_Map_Status.jpg")

dfi.export(df62,"TeleSales_Map_Status.jpg")

NameError: name 'df67' is not defined

In [18]:
# Export Excel file

writer = pd.ExcelWriter('MAP_Status.xlsx', date_format='YYYY-MM-DD',
                  datetime_format='YYYY-MM-DD', engine='xlsxwriter')

# Write each dataframe to a different worksheet.
df61.to_excel(writer, sheet_name='FieldSales_Map_Status', index=False)
df62.to_excel(writer, sheet_name='TeleSales_Map_Status', index=False)

df67.to_excel(writer, sheet_name='TTL_NU_Map_Status', index=False)
df68.to_excel(writer, sheet_name='TTL_Per_Map_Status', index=False)


# Close the Pandas Excel writer and output the Excel file.
writer.save()

NameError: name 'df67' is not defined

# Backup

In [54]:
from datetime import datetime

date = datetime.now().strftime("%Y-%m-%d")

# S:\MARKETING\MARKETING-PRIVATE\MEDICARE SALES\SALES MEDICARE TEAM\TEAM DASHBOARD\team performance

source_path6 = r"S:/MARKETING/MARKETING-PRIVATE/MEDICARE SALES/SALES MEDICARE TEAM/TEAM DASHBOARD/team performance"
dest_path6 = r"C:\Users\tflung\OneDrive\Documents"
file_name6 = "\\"+Master+".xlsx"
file_name6_1 = "\\"+Master+' - {}'.format(date)+".xlsx"
shutil.copyfile(source_path6 + file_name6, dest_path6 + file_name6_1)

source_path7 = r"S:/MARKETING/MARKETING-PRIVATE/MEDICARE SALES/SALES MEDICARE TEAM/TEAM DASHBOARD/team performance"
dest_path7 = r"S:/MARKETING/MARKETING-PRIVATE/MEDICARE SALES/SALES MEDICARE TEAM/TEAM DASHBOARD/team performance"
file_name7 = "\\"+Master+".xlsx"
file_name7_1 = "\\"+Master+' - {}'.format(date)+".xlsx"
shutil.copyfile(source_path7 + file_name7, dest_path7 + file_name7_1)




source_path4 = r"S:/MARKETING/MARKETING-PRIVATE/MEDICARE SALES/SALES MEDICARE TEAM/TEAM DASHBOARD/team performance"
dest_path4 = r"C:\Users\tflung\OneDrive\Documents"
file_name4 = "\\"+Master+".xlsx"
shutil.copyfile(source_path4 + file_name4, dest_path4 + file_name4)

'C:\\Users\\tflung\\OneDrive\\Documents\\vlookup_2021 - new.xlsx'

# Bonus

In [21]:
CheckDate1 = "2021-08-01"

df70 = df3[(df3['EnrollDate'] == CheckDate1)]

df70 = df70[(df70['Status'] == 'Enrolled')]

df70 = df70[(df70['Rep'] == 'Yanery Fernandez') 
          | (df70['Rep'] == 'Ivonne Cedeno')
          | (df70['Rep'] == 'James (Shiou-Hao) Lu')
          | (df70['Rep'] == 'Monalisa Crossway')
          | (df70['Rep'] == 'Laura Lou Seefeldt')
          | (df70['Rep'] == 'Griselle Leonardo')
          | (df70['Rep'] == 'Shelly Bobb')
          | (df70['Rep'] == 'Zhen Zhu')
          | (df70['Rep'] == 'Confessor Concepcion')
          | (df70['Rep'] == 'Angela Lozano')
          | (df70['Rep'] == 'Keith Douglas')
          | (df70['Rep'] == 'Angela Hernandez')
          | (df70['Rep'] == 'Carolina Zuluaga ') 
          | (df70['Rep'] == 'Katiria Fernandez ')
          | (df70['Rep'] == 'Brad Willinger')
          | (df70['Rep'] == 'Jacqueline Garcia')
          | (df70['Rep'] == 'Vincent Lee')
          | (df70['Rep'] == 'Robert Echevarria ')
          | (df70['Rep'] == 'Kenny Jolly')
          | (df70['Rep'] == 'Jose Ortiz')
          | (df70['Rep'] == 'Charlie Taveras')
          | (df70['Rep'] == 'Donald Herline ')
         ]

df71 = df70.groupby(["EnrollDate", "LOB", "Rep"])["Rep"].count().reset_index(name="count")

df72 = pd.pivot_table(df71, index = ['Rep'], columns = 'LOB', values = 'count')
df72 = df72.fillna(0)
print (df72)

LOB                 D-SNP  MAPD
Rep
Brad Willinger        3.0   1.0
Carolina Zuluaga      5.0   1.0
Ivonne Cedeno         3.0   0.0
Jacqueline Garcia     2.0   0.0
Katiria Fernandez     3.0   0.0
Shelly Bobb           1.0   0.0
Yanery Fernandez     12.0   0.0

# Disenrollment Map

In [21]:
# March enrollment
df36 = df20[(df20['EnrollDate'] >= '2021-01-01') & (df20['EnrollDate'] <= '2021-04-01')]

# Whole Team - Enrolled

df36 = df36[(df36['Agent'] == 'Yanery Fernandez') 
          | (df36['Agent'] == 'Ivonne Cedeno Mendoza (BD)')
          | (df36['Agent'] == 'James (Shiou-Hao) Lu')
          | (df36['Agent'] == 'Monalisa Crossway')
          | (df36['Agent'] == 'Laura Lou Seefeldt (BD)')
          | (df36['Agent'] == 'Griselle Leonardo (BD)')
          | (df36['Agent'] == 'Shelly Bobb (BD)')
          | (df36['Agent'] == 'Zhen Zhu')
          | (df36['Agent'] == 'Confessor Concepcion')
          | (df36['Agent'] == 'Keith Douglas')
          | (df36['Agent'] == 'Angela Hernandez')
          | (df36['Agent'] == 'Carolina Zuluaga (BD)') 
          | (df36['Agent'] == 'Katiria Fernandez (BD)')
          | (df36['Agent'] == 'Brad Willinger (BD)')
          | (df36['Agent'] == 'Jacqueline Garcia (BD)')
          | (df36['Agent'] == 'Vincent Lee (BD)')
          | (df36['Agent'] == 'Robert Echevarria ')
           ]

#df36

same4 = list(set(df36['ID']).intersection(set(df23['MBID'])))
#print(same4)
#print(len(same4))


df37 = df36[~df36['ID'].isin(same4)]

print (len(df37))

#print (df37)


df38 = df37.groupby(["EnrollDate", "Agent"])["EnrollDate"].count().reset_index(name="count")
df39 = df37.groupby(["EnrollDate"])["EnrollDate"].count().reset_index(name="count")

print (df38)
print (df39)

df40 = df37[(df37['Status'] == 'Disenrolled')]

#df40 = df40[['ID', 'EnrollDate', 'DisenrollDate', 'LOB', 'Status', 'Agent', 'Last', 'First']]

df40 = df40[['ID','Agent']]

df40['ID'] = df40['ID'].astype(int)
#print (df40)



same5 = list(set(df40['ID']).intersection(set(df42['DID'])))
#print(same5)
print(len(same5))

df43 = df42[df42['DID'].isin(same5)]

df43 = df43.rename(columns={'DID': 'ID'})
#print (df43)

df44 = pd.merge(df43, df40, how="outer", on=["ID"])

df45 = df44[~df44['ID'].duplicated(keep='last')]

print (df45)

NameError: name 'df23' is not defined

# Agent Monthly Comparison

In [ ]:
# AEP
a = 'yy'
df17 = df3[(df3['EnrollDate'] == '2021-01-01')]

# Feb enrollment
#df17 = df3[(df3['EnrollDate'] == '2021-02-01')]

# Total month comparison
#df17 = df3[(df3['EnrollDate'] == '2021-01-01') | (df3['EnrollDate'] == '2021-02-01')]


# Whole Team

df17 = df17[(df17['Rep'] == 'Yanery Fernandez') 
          | (df17['Rep'] == 'Ivonne Cedeno')
          | (df17['Rep'] == 'James (Shiou-Hao) Lu')
          | (df17['Rep'] == 'Monalisa Crossway')
          | (df17['Rep'] == 'Laura Lou Seefeldt')
          | (df17['Rep'] == 'Griselle Leonardo')
          | (df17['Rep'] == 'Shelly Bobb')
          | (df17['Rep'] == 'Zhen Zhu')
          | (df17['Rep'] == 'Confessor Concepcion')
          #| (df17['Rep'] == 'Keith Douglas')
          #| (df17['Rep'] == 'Angela Hernandez')
          | (df17['Rep'] == 'Carolina Zuluaga ') 
          | (df17['Rep'] == 'Katiria Fernandez ')
          | (df17['Rep'] == 'Brad Willinger')
          #| (df17['Rep'] == 'Vincent Lee')
          #| (df17['Rep'] == 'Robert Echevarria ')
           ]

#df17

df18 = df17.groupby(["EnrollDate", "Rep"])["Rep"].count().reset_index(name='count')
df18['target'] = 45
df18['percent'] = (df18['count']/df18['target']*100).round(2)

df18.set_index("Rep", inplace = True)

df19 = df18.reindex(['Yanery Fernandez', 'Ivonne Cedeno', 
             'James (Shiou-Hao) Lu', 'Monalisa Crossway', 
             'Laura Lou Seefeldt', 'Griselle Leonardo', 
             'Shelly Bobb', 'Zhen Zhu', 'Confessor Concepcion', 
             'Carolina Zuluaga ', 'Katiria Fernandez ', 
             'Brad Willinger'])

df19.reset_index(inplace=True)

df19
# # for whole team

In [ ]:
# AEP
a = '2021-02-01'
b = 12
c = 18

df17 = df3[(df3['EnrollDate'] == a)]

# Feb enrollment
#df16 = df3[(df3['EnrollDate'] == '2021-02-01')]

# Whole Team

df17 = df17[(df17['Rep'] == 'Yanery Fernandez') 
          | (df17['Rep'] == 'Ivonne Cedeno')
          | (df17['Rep'] == 'James (Shiou-Hao) Lu')
          | (df17['Rep'] == 'Monalisa Crossway')
          | (df17['Rep'] == 'Laura Lou Seefeldt')
          | (df17['Rep'] == 'Griselle Leonardo')
          | (df17['Rep'] == 'Shelly Bobb')
          | (df17['Rep'] == 'Zhen Zhu')
          | (df17['Rep'] == 'Confessor Concepcion')
          #| (df17['Rep'] == 'Keith Douglas')
          #| (df17['Rep'] == 'Angela Hernandez')
          | (df17['Rep'] == 'Carolina Zuluaga ') 
          | (df17['Rep'] == 'Katiria Fernandez (BD)')
          | (df17['Rep'] == 'Brad Willinger')
          #| (df17['Rep'] == 'Vincent Lee')
          #| (df17['Rep'] == 'Robert Echevarria ')
           ]

#df17

df18 = df17.groupby(["EnrollDate", "Rep"])["Rep"].count().reset_index(name='count')

df18.loc[df18['Rep'] == 'Yanery Fernandez', 'target'] = c
df18.loc[df18['Rep'] != 'Yanery Fernandez', 'target'] = b

df18['percent'] = (df18['count']/df18['target']*100).round(2)

df18.set_index("Rep", inplace = True)

df19 = df18.reindex(['Yanery Fernandez', 'Ivonne Cedeno', 
             'James (Shiou-Hao) Lu', 'Monalisa Crossway', 
             'Laura Lou Seefeldt', 'Griselle Leonardo', 
             'Shelly Bobb', 'Zhen Zhu', 'Confessor Concepcion', 
             'Carolina Zuluaga ', 'Katiria Fernandez ', 
             'Brad Willinger'])

df19.reset_index(inplace=True)

df19

In [ ]:
# result = pd.merge(left, right, on="key")

from io import BytesIO
from zipfile import ZipFile
import pandas
import requests
import itertools



date = ['2021-01-01', 
        '2021-02-01', 
        '2021-03-01' 
        #'2021-04-01'
       ]

count = [45, 
         12, 
         12 
        #'12'
        ]

count_yan = [45, 
             9, 
             18 
             #'18'
             ]


#new_columns = ['Month', 'Name', 'Enrollment']

#df6 = pd.DataFrame(columns=new_columns)

df6 = pd.DataFrame(
                {
                "Rep": ['Yanery Fernandez', 'Ivonne Cedeno', 
             'James (Shiou-Hao) Lu', 'Monalisa Crossway', 
             'Laura Lou Seefeldt', 'Griselle Leonardo', 
             'Shelly Bobb', 'Zhen Zhu', 'Confessor Concepcion', 
             'Carolina Zuluaga ', 'Katiria Fernandez ', 
             'Brad Willinger']
                }
                )

for (a, b, c) in zip(date, count, count_yan):
    
    df17 = df3[(df3['EnrollDate'] == a)]

    # Feb enrollment
    #df16 = df3[(df3['EnrollDate'] == '2021-02-01')]

    # Whole Team

    df17 = df17[(df17['Rep'] == 'Yanery Fernandez') 
              | (df17['Rep'] == 'Ivonne Cedeno')
              | (df17['Rep'] == 'James (Shiou-Hao) Lu')
              | (df17['Rep'] == 'Monalisa Crossway')
              | (df17['Rep'] == 'Laura Lou Seefeldt')
              | (df17['Rep'] == 'Griselle Leonardo')
              | (df17['Rep'] == 'Shelly Bobb')
              | (df17['Rep'] == 'Zhen Zhu')
              | (df17['Rep'] == 'Confessor Concepcion')
              #| (df17['Rep'] == 'Keith Douglas')
              #| (df17['Rep'] == 'Angela Hernandez')
              | (df17['Rep'] == 'Carolina Zuluaga ') 
              | (df17['Rep'] == 'Katiria Fernandez ')
              | (df17['Rep'] == 'Brad Willinger')
              #| (df17['Rep'] == 'Vincent Lee')
              #| (df17['Rep'] == 'Robert Echevarria ')
               ]

    #df17

    df18 = df17.groupby(["EnrollDate", "Rep"])["Rep"].count().reset_index(name='count')
    
    df18.loc[df18['Rep'] == 'Yanery Fernandez', 'target'] = c
    df18.loc[df18['Rep'] != 'Yanery Fernandez', 'target'] = b
    
    df18['percent'] = (df18['count']/df18['target']*100).round(2)

    df18.set_index("Rep", inplace = True)

    df19 = df18.reindex(['Yanery Fernandez', 'Ivonne Cedeno', 
                 'James (Shiou-Hao) Lu', 'Monalisa Crossway', 
                 'Laura Lou Seefeldt', 'Griselle Leonardo', 
                 'Shelly Bobb', 'Zhen Zhu', 'Confessor Concepcion', 
                 'Carolina Zuluaga ', 'Katiria Fernandez ', 
                 'Brad Willinger'])

    df19.reset_index(inplace=True)

    #print(df19)  

    df19.rename(columns = {'EnrollDate' : 'EnrollDate_{}'.format(a), 
                           'count' : 'count_{}'.format(a),
                           'target' : 'target_{}'.format(a),
                           'percent' : 'percent_{}'.format(a)},
                            inplace = True)

    # add month
    #df5['Month'] = b

    # change order
    #df5 = df5[['Month', 'Name', 'Enrollment']]
    

    df6 = pd.merge(df6, df19, on="Rep")
    #df6 = df6.merge(df19, ignore_index=True)

print (df6)

#df6.to_excel(r'4.xlsx', index = False)

# dataframe to pivot
#df7 = pd.pivot_table(df6, index=['Month'], columns=['Name'], values=['Enrollment'], aggfunc='first')

# pivot to dataframe
#df8 = pd.DataFrame(df7.to_records())

# Change columns name
#df9 = df8.rename(columns={"('Enrollment', 'D-SNP')": "D-SNP", "('Enrollment', 'I-SNP')": "I-SNP", "('Enrollment', 'MAP')": "MAP", "('Enrollment', 'MAPD')": "MAPD"})
#df9

#df9.dtypes

In [ ]:
df27 = df6
df27 = df27.fillna(0)


d = '2021-01-01'
e = '2021-02-01'
f = '2021-03-01'
#f = 

#df27['Total_percent'] = ((df27['count_2021-01-01'] + df27['count_2021-02-01'])/(df27['target_2021-01-01']+df27['target_2021-02-01']))*100

df27['Total_percent'] = (((df27['count_{}'.format(d)] + df27['count_{}'.format(e)] + df27['count_{}'.format(f)])/(df27['target_{}'.format(d)]+df27['target_{}'.format(e)] +df27['target_{}'.format(f)]))*100).round(2)


df27

                     Rep
0       Yanery Fernandez
1          Ivonne Cedeno
2   James (Shiou-Hao) Lu
3      Monalisa Crossway
4     Laura Lou Seefeldt
5      Griselle Leonardo
6            Shelly Bobb
7               Zhen Zhu
8   Confessor Concepcion
9      Carolina Zuluaga
10    Katiria Fernandez
11        Brad Willinger