# Weekly CM Report


## Team Code


- https://jamesrledoux.com/code/group-by-aggregate-pandas

- https://jakevdp.github.io/PythonDataScienceHandbook/03.08-aggregation-and-grouping.html

- https://pandas.pydata.org/pandas-docs/dev/user_guide/merging.html

- https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.unstack.html

- https://www.w3schools.com/python/python_datetime.asp

- https://www.w3resource.com/python-exercises/date-time-exercise/

### Loading data

In [1]:
import pandas as pd
import os

# DualEligibleMembers.xlsx
#pd.read_excel('DualEligibleMembers.xlsx', index_col=0)



df1=pd.read_excel(
     os.path.join("DualEligibleMembers.xlsx"),
     engine='openpyxl',
)

# df1

# rename

df2 = df1.rename(columns={'Did Mbr Agree to warm transfer to a Medicare rep?': 'name'})
df2 = df2.rename(columns={'Agent Assigned': 'Agent'})
df2 = df2.rename(columns={'Medicare Team Codes': 'Code'})
df2 = df2.rename(columns={'Primary Language': 'Language'})
df2 = df2.rename(columns={'Date of Successful Outreach': 'Date'})

# df2.Language.unique()

#List unique values in the df['name'] column
#df2.name.unique()


# 7 criteria

df3 = df2[(df2["name"] == "Yes; warm transfer successful") | (df2["name"] == "No; member requested a call back (indicate date and # number to reach mbr in comment section)") | (df2["name"] == "Yes; warm transfer not successful (Indicate best date and contact number to call back)") | (df2["name"] == "No; member requested Mailed information (Agreed to be contacted once information arrives)") | (df2["name"] == "No; member requested Mailed information (Refused to be contacted once information arrives)") | (df2["name"] == "No; information to be mailed (Refused to be contacted once information arrives)") | (df2["name"] == "No; information to be mailed (Agreed to be contacted once information arrives)")]

df3.head()

C:\Users\tflung\Anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:214: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,Created,CT_ID,MemberName,Language,CM,CTM,AD,Eligibility_Start,Date,name,Comments,Agent,Code,Medicare Team Final Codes,Outcome
2,2021-01-07 10:04:08,DH117950,HOLLEY. DAVID,English,Miriam Taplin,Ahuva Kleiman-Lax,Esther Elefant,2020-03-01 00:00:00,NaN,Yes; warm transfer successful,NaN,Griselle Leonardo (Field),201.0,201.0,NaN
3,2021-01-07 10:04:08,RC131785,CINTURATI. ROSE,English,Miriam Taplin,Ahuva Kleiman-Lax,Esther Elefant,2020-11-01 00:00:00,2021-01-12 00:00:00,Yes; warm transfer not successful (Indicate be...,"requested call back Wednesday, Thursday or Fri...",NaN,104.0,800.0,NaN
6,2021-01-07 10:04:08,CB105532,BURRELL. CARLTON,English,Miriam Taplin,Ahuva Kleiman-Lax,Esther Elefant,2019-08-01 00:00:00,2021-01-20 00:00:00,No; member requested a call back (indicate dat...,no time given,Shelly Bobb (Field),NaN,NaN,NaN
7,2021-01-07 10:04:08,LB120293,BYRD. LYNDA,English,Miriam Taplin,Ahuva Kleiman-Lax,Esther Elefant,2020-03-01 00:00:00,2021-01-14 00:00:00,Yes; warm transfer successful,NaN,NaN,105.0,602.0,NaN
8,2021-01-07 10:04:08,JC76149,CARRASQUILLO. JOSEPH,English,Miriam Taplin,Ahuva Kleiman-Lax,Esther Elefant,2018-05-01 00:00:00,2021-01-28 00:00:00,Yes; warm transfer successful,spoke to Joseph who says he has Emblem health ...,Laura Lou SeeFeldt (Field),101.0,601.0,NaN

### Clean up Null data

In [2]:
# Drop wrong typing

df3['Date'] = pd.to_datetime(df3['Date'], errors = 'coerce')

df3 = df3[df3.Date != '01/202021']
#df3 = df3[df3.Date != '202/02/16  00:00:00 AM']


# Define the Data type

df3['Date'] = pd.to_datetime(df3['Date'])

<ipython-input-2-0efa892d66a4>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['Date'] = pd.to_datetime(df3['Date'], errors = 'coerce')

## Select Range for Weekly report / Monthly report

In [3]:
# Date range


# Weekly

df4 = df3[(df3['Date'] >= '2021-01-08') & (df3['Date'] <= '2021-01-14')]
#df4 = df3[(df3['Date'] >= '2021-01-15') & (df3['Date'] <= '2021-01-21')]
#df4 = df3[(df3['Date'] >= '2021-01-22') & (df3['Date'] <= '2021-01-28')]

# Monthly

#df4 = df3[(df3['Date'] >= '2021-01-08') & (df3['Date'] <= '2021-01-28')]

### Rearrange columns

In [4]:
# Codes = 100
#df5 = df4[(df4["1st_code"] == 100)]

# select columns

df6 = df4[['Code', 'Language', 'name', 'Agent']]

# NaN to "0"
df7 = df6.fillna(0)
df7

,Code,Language,name,Agent
3,104.0,English,Yes; warm transfer not successful (Indicate be...,0
7,105.0,English,Yes; warm transfer successful,0
17,201.0,English,No; information to be mailed (Agreed to be con...,Brad Willinger (Tele-Sales)
18,601.0,English,Yes; warm transfer successful,Griselle Leonardo (Field)
19,0.0,English,No; information to be mailed (Refused to be co...,Lacier Hernandez (Retention)
...,...,...,...,...
5668,600.0,Spanish,No; member requested a call back (indicate dat...,Yanery Fernandez (Field)
5680,0.0,English,Yes; warm transfer successful,Shelly Bobb (Field)
5689,0.0,English,No; information to be mailed (Refused to be co...,Lacier Hernandez (Retention)
5736,202.0,English,No; information to be mailed (Agreed to be con...,Katiria Fernandez (Tele-Sales)
5743,800.0,English,No; information to be mailed (Refused to be co...,Lacier Hernandez (Retention)

### Export xlsx file

In [5]:
# https://datatofish.com/export-dataframe-to-excel/

df7.to_excel(r'2.xlsx', index = False)

# Daily Progress report for CM INITIATIVE part

In [6]:
# Input df3 to df9 (After 7 criteria & cleaning up null)

# All this month
#df9 = df3[(df3['Date'] >= '2021-01-01') & (df3['Date'] <= '2021-01-31')]

df9 = df3[(df3['Date'] >= '2021-06-01') & (df3['Date'] <= '2021-06-30')]

# AEP
#df9 = df3[(df3['Date'] >= '2020-10-15') & (df3['Date'] <= '2020-12-7')]

# Agent = ?
#df9 = df8[(df8["Agent"] == "Yanery Fernandez (Field)")]

# Codes = 100

df10 = df9[(df9["Code"] == 100)]

#df10

In [14]:
df10.count()

Created                      0
CT_ID                        0
MemberName                   0
Language                     0
CM                           0
CTM                          0
AD                           0
Eligibility_Start            0
Date                         0
name                         0
Comments                     0
Agent                        0
Code                         0
Medicare Team Final Codes    0
Outcome                      0
dtype: int64

In [15]:
# select columns

df11 = df10[['Agent']]

df12 = df11.groupby(["Agent"])["Agent"].count().reset_index(name="count")

df12

Empty DataFrame
Columns: [Agent, count]
Index: []

# AEP TeleSales - Language

In [9]:
# select columns

df13 = df10[['Language']]

df14 = df13.groupby(["Language"])["Language"].count().reset_index(name="count")

df14

Empty DataFrame
Columns: [Language, count]
Index: []

# data to google sheet

-  https://erikrood.com/Posts/py_gsheets.html

- jim-320@steady-grid-301816.iam.gserviceaccount.com

In [43]:
df6.count()

Language    28
name        28
Agent       28
dtype: int64

In [57]:
#df6.groupby(["name", "Language"]).count()
#df6.groupby(['Language']).agg(['min','max','count','nunique'])

df9 = df6.groupby(["name", "Language"])["Agent"].count().reset_index(name="count")
df9

#df9.unstack(level=-1)

                                                name Language  count
0  No; member requested a call back (indicate dat...  English      4
1  No; member requested a call back (indicate dat...  Spanish      1
2                      Yes; warm transfer successful  English     16
3                      Yes; warm transfer successful  Spanish      7

In [45]:
df6.groupby(["Language"]).count()

          name  Agent
Language
English     20     20
Spanish      8      8

In [61]:
df8 = df6.groupby(["Agent", "Language"]).count()
#df8

df10 = df8.unstack(level=-1)
#df10

df10.sort_values(["Agent"])

                                  name
Language                       English Spanish
Agent
Brad Willinger (Tele-Sales)        4.0     NaN
Carolina Zuluaga (Tele-Sales)      3.0     3.0
Ivonne Cedeno-Mendoza (Field)      1.0     4.0
Katiria Fernandez (Tele-Sales)     1.0     NaN
Laura Lou SeeFeldt (Field)         1.0     NaN
Mona Crossway (Field)              3.0     NaN
Yanery Fernandez (Field)           7.0     1.0